force-app/main/default/flows/Attach_Invoice_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_attachment_list_should_not_be_empty</name>
        <label>Check attachment list should not be empty</label>
        <locationX>684</locationX>
        <locationY>207</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Attachment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Attachment.Title</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_attachment_Records_in_invoice_obj</targetReference>
            </connector>
            <label>if not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PB_Parameter</name>
        <label>Check PB Parameter</label>
        <locationX>634</locationX>
        <locationY>48</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceAccounSAPCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoiceAccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoiceID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoiceNo</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_attachment_related_to_acc</targetReference>
            </connector>
            <label>if not blank</label>
        </rules>
    </decisions>
    <description>updated by pallavi to add &quot;. pdf &quot;format condition &amp; Visibility point for poland. 
Used to attach respective invoice file</description>
    <interviewLabel>Attach Invoice flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attach Invoice flow v13</label>
    <loops>
        <name>Loop_on_Attachment</name>
        <label>Loop on Attachment</label>
        <locationX>282</locationX>
        <locationY>371</locationY>
        <collectionReference>AttachmentList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_attachment_Records_in_invoice_obj</name>
        <label>Create attachment Records in invoice obj</label>
        <locationX>715</locationX>
        <locationY>389</locationY>
        <assignRecordIdToReference>Loop_on_Attachment.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Invoice_Attachment_file_checkbox_as_true</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Loop_on_Attachment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>InvoiceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordLookups>
        <name>Get_all_attachment_related_to_acc</name>
        <label>Get all attachment related to acc</label>
        <locationX>280</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_attachment_list_should_not_be_empty</targetReference>
        </connector>
        <filterLogic>1 AND  (2 OR 3)</filterLogic>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InvoiceNo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>.PDF</stringValue>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>.pdf</stringValue>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputReference>Loop_on_Attachment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>FileExtension</queriedFields>
        <queriedFields>ContentAssetId</queriedFields>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Attachment_file_checkbox_as_true</name>
        <label>Update Invoice Attachment file checkbox as true</label>
        <locationX>708</locationX>
        <locationY>553</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billing_Doc_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceNo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Check_Attachment_File__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <start>
        <locationX>43</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>Check_PB_Parameter</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AttachmentList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>InvoiceAccounSAPCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
