force-app/main/default/flows/Audit_History_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_not_NULL</name>
        <label>Check if not NULL</label>
        <locationX>207</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_if_var_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuditRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Audit_Record</targetReference>
            </connector>
            <label>Check if var not NULL</label>
        </rules>
    </decisions>
    <description>Divya: 17-12-2019: Updated to use new field Key_External_Id__c while querying Audit History Records for SCTASK0100326</description>
    <interviewLabel>Audit History Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Audit History Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Audit_Record</name>
        <label>Create Audit Record</label>
        <locationX>206</locationX>
        <locationY>336</locationY>
        <inputAssignments>
            <field>CreatedByUser__c</field>
            <value>
                <elementReference>CreatedByUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedDateTime__c</field>
            <value>
                <elementReference>CreatedDateTime_var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_External_Id__c</field>
            <value>
                <elementReference>AuditHistoryKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastModifiedBy__c</field>
            <value>
                <elementReference>ModifiedByUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ModifiedDateTime__c</field>
            <value>
                <elementReference>ModifiedDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesOrder__c</field>
            <value>
                <elementReference>SalesOrderID</elementReference>
            </value>
        </inputAssignments>
        <object>AuditHistory__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Audit_Record</name>
        <label>Find Audit Record</label>
        <locationX>211</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_not_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Key_External_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AuditHistoryKey</elementReference>
            </value>
        </filters>
        <object>AuditHistory__c</object>
        <outputAssignments>
            <assignToReference>AuditRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Find_Audit_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>AuditHistoryKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AuditHistoryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AuditHistory__c</objectType>
    </variables>
    <variables>
        <name>AuditRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedByUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedDateTime_var</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ModifiedByUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ModifiedDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
