force-app/main/default/flows/Brazil_Credit_Info_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_Credit_Account_Credit_info_not_Null</name>
        <label>Check if Credit Account Credit info not Null</label>
        <locationX>201</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Credit_Info_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditAccount_CreditInfo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Credit_Info_Record</targetReference>
            </connector>
            <label>Credit Info not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Account_ID_not_Null</name>
        <label>Credit Account ID not Null</label>
        <locationX>217</locationX>
        <locationY>283</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_Credit_Account_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditAccountID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Credit_Account_Credit_Info</targetReference>
            </connector>
            <label>Check Credit Account ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Account_not_Null</name>
        <label>Credit Account not Null</label>
        <locationX>213</locationX>
        <locationY>22</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>if_Credit_Account_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditAccount_Code</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Credit_Account</targetReference>
            </connector>
            <label>if Credit Account not Null</label>
        </rules>
    </decisions>
    <interviewLabel>Brazil Credit Info Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Brazil Credit Info Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Credit_Account</name>
        <label>Find Credit Account</label>
        <locationX>211</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Credit_Account_ID_not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAP_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreditAccount_Code</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>CreditAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Credit_Account_Credit_Info</name>
        <label>Find Credit Account Credit Info</label>
        <locationX>206</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Credit_Account_Credit_info_not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Distributor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreditAccountID</elementReference>
            </value>
        </filters>
        <object>Credit_Info__c</object>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Balance_Limit__c</assignToReference>
            <field>Balance_Limit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Cred_info_number__c</assignToReference>
            <field>Cred_info_number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Credit_Exposure__c</assignToReference>
            <field>Credit_Exposure__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Credit_Limit__c</assignToReference>
            <field>Credit_Limit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Credit_rep_group__c</assignToReference>
            <field>Credit_rep_group__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.CurrencyIsoCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Cust_cred_group__c</assignToReference>
            <field>Cust_cred_group__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Internal_Limit__c</assignToReference>
            <field>Internal_Limit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Limite_Clean__c</assignToReference>
            <field>Limite_Clean__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Limite_Linha__c</assignToReference>
            <field>Limite_Linha__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Next_int_review__c</assignToReference>
            <field>Next_int_review__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Percentage_Used__c</assignToReference>
            <field>Percentage_Used__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Receivalbles__c</assignToReference>
            <field>Receivalbles__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Special_Liabil__c</assignToReference>
            <field>Special_Liabil__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Sum_Open_Item__c</assignToReference>
            <field>Sum_Open_Item__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CreditAccount_CreditInfo.Used_Limit__c</assignToReference>
            <field>Used_Limit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Credit_Info_Record</name>
        <label>Update Existing Credit Info Record</label>
        <locationX>246</locationX>
        <locationY>661</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingCreditInfoRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Balance_Limit__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Balance_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cred_info_number__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Cred_info_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Exposure__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Credit_Exposure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Limit__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Credit_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_rep_group__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Credit_rep_group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cust_cred_group__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Cust_cred_group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Limit__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Internal_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Limite_Clean__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Limite_Clean__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Limite_Linha__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Limite_Linha__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_int_review__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Next_int_review__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage_Used__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Percentage_Used__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receivalbles__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Receivalbles__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Liabil__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Special_Liabil__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sum_Open_Item__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Sum_Open_Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Used_Limit__c</field>
            <value>
                <elementReference>CreditAccount_CreditInfo.Used_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <object>Credit_Info__c</object>
    </recordUpdates>
    <startElementReference>Credit_Account_not_Null</startElementReference>
    <status>Active</status>
    <variables>
        <name>CreditAccount_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CreditAccount_CreditInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Credit_Info__c</objectType>
    </variables>
    <variables>
        <name>CreditAccountCreditInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CreditAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CurrentCreditInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Credit_Info__c</objectType>
    </variables>
    <variables>
        <name>ExistingCreditInfoRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
