force-app/main/default/flows/Business_Dashboard_Sales_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_for_Regional_User</name>
        <label>Check for Regional User</label>
        <locationX>83</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Check_for_Territory_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else Check for Territory</defaultConnectorLabel>
        <rules>
            <name>Check_Regional_User_Var</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Regional_User</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SHare_Record_for_Regional_User</targetReference>
            </connector>
            <label>Check Regional User Var</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Territory_Code</name>
        <label>Check for Territory Code</label>
        <locationX>311</locationX>
        <locationY>76</locationY>
        <defaultConnector>
            <targetReference>To_Check_if_SBU_User_var_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Check Next Condition</defaultConnectorLabel>
        <rules>
            <name>Check_if_territory_code_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory_Code</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_territory_lookup</targetReference>
            </connector>
            <label>Check if territory code not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Territory_User</name>
        <label>Check for Territory User</label>
        <locationX>85</locationX>
        <locationY>737</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_for_Territory_User_Var</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory_User</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Share_Record_for_Territory_User</targetReference>
            </connector>
            <label>Check for Territory User Var</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Zonal_User</name>
        <label>Check if Zonal User</label>
        <locationX>87</locationX>
        <locationY>467</locationY>
        <defaultConnector>
            <targetReference>Check_for_Regional_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else Check for Regional</defaultConnectorLabel>
        <rules>
            <name>Check_for_Zonal_Var</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Zonal_User</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Share_Record_for_Zonal</targetReference>
            </connector>
            <label>Check for Zonal Var</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_Check_if_SBU_User_var_Blank</name>
        <label>To Check if SBU User var Blank</label>
        <locationX>90</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Check_if_Zonal_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else Check for Zonal</defaultConnectorLabel>
        <rules>
            <name>Check_SBU_Var</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SBU_User</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Share_Record_for_SBU</targetReference>
            </connector>
            <label>Check SBU Var</label>
        </rules>
    </decisions>
    <interviewLabel>Business Dashboard Sales Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Dashboard Sales Flow  Final Version</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SHare_Record_for_Regional_User</name>
        <label>Create SHare Record for Regional User</label>
        <locationX>399</locationX>
        <locationY>642</locationY>
        <connector>
            <targetReference>Check_for_Territory_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Share_Record_with_Regional_User__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Regional_User</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessDashboardSales__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Share_Record_for_SBU</name>
        <label>Create Share Record for SBU</label>
        <locationX>410</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>Check_if_Zonal_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>ShareRecordwithSBU__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>SBU_User</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessDashboardSales__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Share_Record_for_Territory_User</name>
        <label>Create Share Record for Territory User</label>
        <locationX>379</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Share_Record_with_Territory_User__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Territory_User</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessDashboardSales__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Share_Record_for_Zonal</name>
        <label>Create Share Record for Zonal</label>
        <locationX>353</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>Check_for_Regional_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>ShareRecordWithZonalUser__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Zonal_User</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessDashboardSales__Share</object>
    </recordCreates>
    <recordLookups>
        <name>Create_territory_lookup</name>
        <label>Create territory lookup</label>
        <locationX>316</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Existing_Business_Dashboard_Sales_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TerritoryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Territory_Code</elementReference>
            </value>
        </filters>
        <object>Territory_Distributor__c</object>
        <outputAssignments>
            <assignToReference>TerritoryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Business_Dashboard_Sales_Record</name>
        <label>Update Existing Business Dashboard Sales Record</label>
        <locationX>556</locationX>
        <locationY>220</locationY>
        <connector>
            <targetReference>To_Check_if_SBU_User_var_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Territory__c</field>
            <value>
                <elementReference>TerritoryId</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessDashboardSales__c</object>
    </recordUpdates>
    <startElementReference>Check_for_Territory_Code</startElementReference>
    <status>Active</status>
    <variables>
        <name>Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Regional_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SBU_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Territory_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Territory_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TerritoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Zonal_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
