force-app/main/default/flows/Business_COllection_and_Outsatnding_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_for_Regional_User</name>
        <label>Check for Regional User</label>
        <locationX>138</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Check_for_Zonal_USer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else Check for Zonal User</defaultConnectorLabel>
        <rules>
            <name>Check_Regional_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Regional_User</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sharing_Record_for_Regional_User</targetReference>
            </connector>
            <label>Check Regional User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_SBU_User</name>
        <label>Check for SBU User</label>
        <locationX>137</locationX>
        <locationY>840</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_SBU_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SBU_User</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Share_Record_for_SBU_User</targetReference>
            </connector>
            <label>Check SBU User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Territory_Code</name>
        <label>Check for Territory Code</label>
        <locationX>140</locationX>
        <locationY>25</locationY>
        <defaultConnector>
            <targetReference>Check_for_Territory_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else Check For Rest Conditions</defaultConnectorLabel>
        <rules>
            <name>Check_Territory_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory_Code</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Territory_Lookup</targetReference>
            </connector>
            <label>Check Territory Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Territory_User</name>
        <label>Check for Territory User</label>
        <locationX>137</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>Check_for_Regional_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else Check for Regional User</defaultConnectorLabel>
        <rules>
            <name>Check_Territory_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory_User</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sharing_record_for_Territory_User</targetReference>
            </connector>
            <label>Check Territory User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Zonal_USer</name>
        <label>Check for Zonal User</label>
        <locationX>137</locationX>
        <locationY>651</locationY>
        <defaultConnector>
            <targetReference>Check_for_SBU_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else Check for SBU User</defaultConnectorLabel>
        <rules>
            <name>CHeck_Zonal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Zonal_User</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sharing_Record_for_Zonal_User</targetReference>
            </connector>
            <label>Check Zonal User</label>
        </rules>
    </decisions>
    <interviewLabel>Business COllection and Outsatnding Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business COllection and Outsatnding Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Share_Record_for_SBU_User</name>
        <label>Create Share Record for SBU User</label>
        <locationX>459</locationX>
        <locationY>908</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Share_Record_with_SBU__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>SBU_User</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Collection_and_Outstanding__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sharing_Record_for_Regional_User</name>
        <label>Create Sharing Record for Regional User</label>
        <locationX>472</locationX>
        <locationY>537</locationY>
        <connector>
            <targetReference>Check_for_Zonal_USer</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>ShareRecordwithRegionalUser__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Regional_User</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Collection_and_Outstanding__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sharing_record_for_Territory_User</name>
        <label>Create Sharing record for Territory User</label>
        <locationX>483</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>Check_for_Regional_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>ShareRecordwithTerritoryUser__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Territory_User</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Collection_and_Outstanding__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sharing_Record_for_Zonal_User</name>
        <label>Create Sharing Record for Zonal User</label>
        <locationX>471</locationX>
        <locationY>704</locationY>
        <connector>
            <targetReference>Check_for_SBU_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>ShareRecordWithZonalUser__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Zonal_User</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Collection_and_Outstanding__Share</object>
    </recordCreates>
    <recordLookups>
        <name>Create_Territory_Lookup</name>
        <label>Create Territory Lookup</label>
        <locationX>414</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Collection_and_Outstanding_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TerritoryCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Territory_Code</elementReference>
            </value>
        </filters>
        <object>Territory_Distributor__c</object>
        <outputAssignments>
            <assignToReference>Territory_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Collection_and_Outstanding_Record</name>
        <label>Update Collection and Outstanding Record</label>
        <locationX>421</locationX>
        <locationY>222</locationY>
        <connector>
            <targetReference>Check_for_Territory_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Territory__c</field>
            <value>
                <elementReference>Territory_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Collection_and_Outstanding__c</object>
    </recordUpdates>
    <startElementReference>Check_for_Territory_Code</startElementReference>
    <status>Active</status>
    <variables>
        <name>Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Regional_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SBU_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Territory_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Territory_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Territory_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Zonal_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
