force-app/main/default/flows/CAM_Costarica_Acc_Sharing_using_account_team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Check_PB_Parameters</name>
        <label>Check PB Parameters</label>
        <locationX>618</locationX>
        <locationY>45</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_not_null_or_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrgCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccOwnerName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Sales_Org</targetReference>
            </connector>
            <label>if not null or empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_Area_List</name>
        <label>Check Sales Area List</label>
        <locationX>273</locationX>
        <locationY>345</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesAreaList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Sales_Area</targetReference>
            </connector>
            <label>if not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Sales_Org</name>
        <label>check Sales Org</label>
        <locationX>615</locationX>
        <locationY>183</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_CAM_Costarica</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>SalesOrgCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5712</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrgCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5711</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccOwnerName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nilesh labde</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesAreaLookUp</targetReference>
            </connector>
            <label>If CAM &amp; Costarica</label>
        </rules>
    </decisions>
    <description>Created by pallavi
used for cam &amp; ciostarica to share accounts using account team member

Sales Org (5711 &amp; 5712) - Sales Org Change</description>
    <interviewLabel>CAM &amp; Costarica:Acc Sharing using account team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAM &amp; Costarica:Acc Sharing using account team v1</label>
    <loops>
        <name>Loop_on_Sales_Area</name>
        <label>Loop on Sales Area</label>
        <locationX>536</locationX>
        <locationY>378</locationY>
        <collectionReference>SalesAreaList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Account_team_Member_Records</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_team_Member_Records</name>
        <label>Create Account team Member Records</label>
        <locationX>843</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>Loop_on_Sales_Area</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Loop_on_Sales_Area.Distributor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>Loop_on_Sales_Area.AccountOwner__c</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>SalesAreaLookUp</name>
        <label>SalesAreaLookUp</label>
        <locationX>330</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Sales_Area_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountOwnerActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Distributor_SAP_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrgCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Manually_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>DistributorSalesAreaMapping__c</object>
        <outputReference>SalesAreaList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountOwner__c</queriedFields>
        <queriedFields>Distributor__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_PB_Parameters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesAreaList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DistributorSalesAreaMapping__c</objectType>
    </variables>
    <variables>
        <name>SalesOrgCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
