force-app/main/default/flows/Case_Assigment_Final.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>If_Case_owner_updated</name>
        <label>If Case owner updated</label>
        <locationX>319</locationX>
        <locationY>247</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Case_Owner_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Case Owner Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Builder_vars</name>
        <label>Process Builder vars</label>
        <locationX>78</locationX>
        <locationY>36</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_case_matrix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountOwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrg</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_ID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCaseMatrix</targetReference>
            </connector>
            <label>Check case matrix</label>
        </rules>
    </decisions>
    <description>India CR Patch</description>
    <interviewLabel>Case Assigment Final {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Assigment Final V1.4</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CheckCaseMatrix</name>
        <label>Check Case Matrix</label>
        <locationX>315</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Assignment_Email_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Org__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrg</elementReference>
            </value>
        </filters>
        <object>Case_Matrix__c</object>
        <outputAssignments>
            <assignToReference>CaseAccessResult</assignToReference>
            <field>Case_Access__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerResult</assignToReference>
            <field>Case_Owner__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>322</locationX>
        <locationY>364</locationY>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <startElementReference>Process_Builder_vars</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Case_Assignment_Email_Flow</name>
        <label>Case Assignment Email Flow</label>
        <locationX>316</locationX>
        <locationY>143</locationY>
        <connector>
            <targetReference>If_Case_owner_updated</targetReference>
        </connector>
        <flowName>Case_Assignment_Email_India_Flow</flowName>
        <inputAssignments>
            <name>CaseNumber</name>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseType</name>
            <value>
                <elementReference>CaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseStatus</name>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TM_ID</name>
            <value>
                <elementReference>AccountOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OwnerResult</name>
            <value>
                <elementReference>OwnerResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseAccessInMatrix</name>
            <value>
                <elementReference>CaseAccessResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Description</name>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Case</assignToReference>
            <name>CaseObj</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseAccessResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseEscalationUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
