force-app/main/default/flows/CaseProduct_Automation_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>assign_replace</name>
        <label>assign replace</label>
        <locationX>828</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>Listprice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_price_book_master.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_replacement_list_price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_replace_without_cust</name>
        <label>assign replace without cust</label>
        <locationX>827</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>Listprice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_pricebook_master_without_dist.Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_replacement_list_price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sku</name>
        <label>Assign Sku if not complaint</label>
        <locationX>251</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>ProdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseProdVar.Brand_Pack_Size__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_price_book_master</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_sku_if_complaint</name>
        <label>Assign sku if complaint</label>
        <locationX>292</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>ProdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseProdVar.Replacement_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_price_book_master</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_val</name>
        <label>assign val</label>
        <locationX>539</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>Listprice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_pricebook_master_without_dist.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cPayTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_pricebook_master_without_dist.Pmnt_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cNetPriceDist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_pricebook_master_without_dist.Net_Price_Distribution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cnetPriceAll</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_pricebook_master_without_dist.Net_Price_All_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pln</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_pricebook_master_without_dist.PLN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OffInv</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_pricebook_master_without_dist.Off_Invoice_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dRbt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_pricebook_master_without_dist.Distributor_Custom_Incentive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rRbt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_pricebook_master_without_dist.Retailer_Incentive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gRbt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_pricebook_master_without_dist.Grower_Incentive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ipp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_pricebook_master_without_dist.IPP__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_list_price_and_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_list_list_price_an_dvalue</name>
        <label>set list list price an dvalue</label>
        <locationX>1011</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>Listprice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_price_book_master.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pln</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_price_book_master.PLN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cPayTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_price_book_master.Pmnt_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cNetPriceDist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_price_book_master.Net_Price_Distribution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cnetPriceAll</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_price_book_master.Net_Price_All_In__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OffInv</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_price_book_master.Off_Invoice_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dRbt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_price_book_master.Distributor_Custom_Incentive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gRbt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_price_book_master.Grower_Incentive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rRbt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_price_book_master.Retailer_Incentive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ipp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_price_book_master.IPP__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_list_price_and_value</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_brand_replace_set</name>
        <label>check brand/replace set</label>
        <locationX>57</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>brand_if_not_complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseProdVar.Case__r.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sku</targetReference>
            </connector>
            <label>brand if not complaint</label>
        </rules>
        <rules>
            <name>if_Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseProdVar.Case__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseProdVar.Replacement_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_sku_if_complaint</targetReference>
            </connector>
            <label>if Complaint</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_condition</name>
        <label>check condition</label>
        <locationX>665</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>get_pricebook_master_without_dist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>complaint_and_replace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseProdVar.Replacement_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseProdVar.Case__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_price_book_master</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_replace</targetReference>
            </connector>
            <label>complaint and replace and cust exist</label>
        </rules>
        <rules>
            <name>not_complaint_and_cust_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseProdVar.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_price_book_master</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_list_list_price_an_dvalue</targetReference>
            </connector>
            <label>not complaint and cust exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pbm_record</name>
        <label>Check Pbm record</label>
        <locationX>704</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>assignif_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_pricebook_master_without_dist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseProdVar.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_replace_without_cust</targetReference>
            </connector>
            <label>complaint and without cust</label>
        </rules>
        <rules>
            <name>Not_Complaint_and_without_cust</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseProdVar.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_pricebook_master_without_dist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_val</targetReference>
            </connector>
            <label>Not Complaint and without cust</label>
        </rules>
    </decisions>
    <description>v7</description>
    <formulas>
        <name>val</name>
        <dataType>Number</dataType>
        <expression>{!Listprice}*{!caseProdVar.Volume__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Case Product Automation Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseProduct Automation Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_price_book_master</name>
        <label>get price book master</label>
        <locationX>395</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DistributorCustomerCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseProdVar.Case__r.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SKUCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProdId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseProdVar.Case__r.Division_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PriceBookMaster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_pricebook_master_without_dist</name>
        <label>get without dist pricebook master</label>
        <locationX>538</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pbm_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SKUCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProdId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseProdVar.Case__r.Division_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PriceBookMaster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_list_price_and_value</name>
        <label>update list price and value</label>
        <locationX>1349</locationX>
        <locationY>469</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseProdVar.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Net_Price_All_In__c</field>
            <value>
                <elementReference>cnetPriceAll</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Net_Price_Distribution__c</field>
            <value>
                <elementReference>cNetPriceDist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Payment_Term__c</field>
            <value>
                <elementReference>cPayTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distributor_Rebate__c</field>
            <value>
                <elementReference>dRbt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grower_Rebate_All_In__c</field>
            <value>
                <elementReference>gRbt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPP__c</field>
            <value>
                <elementReference>Ipp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_Price_Unit__c</field>
            <value>
                <elementReference>Listprice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Off_Invoice_Discount_Pct__c</field>
            <value>
                <elementReference>OffInv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PLN__c</field>
            <value>
                <elementReference>pln</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retailer_Rebate_All_In__c</field>
            <value>
                <elementReference>rRbt</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_replacement_list_price</name>
        <label>update replacement list price</label>
        <locationX>970</locationX>
        <locationY>334</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseProdVar.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Replacement_List_price_per_Unit__c</field>
            <value>
                <elementReference>Listprice</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Product__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>check_brand_replace_set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseProdVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Product__c</objectType>
    </variables>
    <variables>
        <name>cnetPriceAll</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>cNetPriceDist</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>cPayTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dRbt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>gRbt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Ipp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Listprice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OffInv</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>pln</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Prod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SKU__c</objectType>
    </variables>
    <variables>
        <name>ProdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>rRbt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SkuProd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SKU__c</objectType>
    </variables>
    <variables>
        <name>value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
