force-app/main/default/flows/Case_Access_Sublow_CM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_To_Case_Team</name>
        <label>Email Alert To Case Team</label>
        <locationX>25</locationX>
        <locationY>315</locationY>
        <actionName>Case.Email_Alert_to_Case_Team</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Record_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Populate_Email_List</name>
        <label>Populate Email List</label>
        <locationX>579</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>EmailUserList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserObj.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_PM_User_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Email_List_0</name>
        <label>Populate Email List</label>
        <locationX>579</locationX>
        <locationY>416</locationY>
        <assignmentItems>
            <assignToReference>EmailUserList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserObj.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_CM_User_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Id_lists_are_not_null</name>
        <label>Id lists are not null</label>
        <locationX>194</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>if_not_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CMUserList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PMUserList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>if not null</label>
        </rules>
    </decisions>
    <description>India Case Management CR</description>
    <interviewLabel>Case Access Sublow CM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Access Sublow CM</label>
    <loops>
        <name>Loop_On_CM_User_list</name>
        <label>Loop On CM User list</label>
        <locationX>360</locationX>
        <locationY>310</locationY>
        <assignNextValueToReference>UserObj</assignNextValueToReference>
        <collectionReference>CMUserList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Share_Case_with_CM_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Email_Alert_To_Case_Team</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_PM_User_list</name>
        <label>Loop On PM User list</label>
        <locationX>361</locationX>
        <locationY>201</locationY>
        <assignNextValueToReference>UserObj</assignNextValueToReference>
        <collectionReference>PMUserList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Share_Case_with_CM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_On_CM_User_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_Case_with_CM</name>
        <label>Share Case with CM</label>
        <locationX>578</locationX>
        <locationY>197</locationY>
        <connector>
            <targetReference>Populate_Email_List</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>UserObj.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>CaseTeamRoleId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>Share_Case_with_CM_0</name>
        <label>Share Case with CM</label>
        <locationX>574</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Populate_Email_List_0</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>UserObj.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>CaseTeamRoleId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_for_Case_team</name>
        <label>Lookup for Case team</label>
        <locationX>35</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_on_CM_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Access Team</stringValue>
            </value>
        </filters>
        <object>CaseTeamRole</object>
        <outputAssignments>
            <assignToReference>CaseTeamRoleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_on_CM_Users</name>
        <label>Lookup on CM Users</label>
        <locationX>36</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_on_PM_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Profile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CM Users</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>CMUserList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_on_PM_Users</name>
        <label>Lookup on PM Users</label>
        <locationX>201</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_PM_User_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Profile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PM Users</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>PMUserList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_for_Case_team</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CaseOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseTeamList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>CaseTeamRoleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CMUserList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>EmailUserList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PMUserList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
