force-app/main/default/flows/Channel_Partner_KYC_Classic_v1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>YES</name>
        <choiceText>YES</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Yes_Text</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Ckech_If_KYC_Records_found</name>
        <label>Ckech If KYC Records found</label>
        <locationX>383</locationX>
        <locationY>397</locationY>
        <defaultConnector>
            <targetReference>update_Survey_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>KYC_Records_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KYCRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_KYC_Record_type_values</targetReference>
            </connector>
            <label>KYC Records not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen2_Decission</name>
        <label>Screen2 Decission</label>
        <locationX>1114</locationX>
        <locationY>60</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_DoesCustomerHaveShipAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen3</targetReference>
            </connector>
            <label>OutcomeYes: DoesCustomerHaveShipAddress</label>
        </rules>
        <rules>
            <name>OutcomeNO_DoesCustomerHaveShipAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_4</targetReference>
            </connector>
            <label>OutcomeNO: DoesCustomerHaveShipAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_10_Decision_Making</name>
        <label>Screen 10 Decision Making</label>
        <locationX>2246</locationX>
        <locationY>811</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_IfNoFromWhomItisCaptured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Whether_all_above_information_is_captured_from_ower_himself</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen</targetReference>
            </connector>
            <label>OutcomeYes:IfNoFromWhomItisCaptured</label>
        </rules>
        <rules>
            <name>OutcomeNo_IfNoFromWhomItisCaptured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Whether_all_above_information_is_captured_from_ower_himself</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_11</targetReference>
            </connector>
            <label>OutcomeNo:IfNoFromWhomItisCaptured</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_11_Decission_Making</name>
        <label>Screen 11 : Decission Making</label>
        <locationX>2236</locationX>
        <locationY>1075</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_other_please_specifyy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_no_from_whom_it_is_captured</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_12</targetReference>
            </connector>
            <label>If other, please specifyy</label>
        </rules>
        <rules>
            <name>If_Nonother_please_specifyy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_other_please_specify</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen</targetReference>
            </connector>
            <label>If Nonother, please specifyy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_4_Decision_making</name>
        <label>Screen 4 Decision making</label>
        <locationX>1591</locationX>
        <locationY>425</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_Does_customer_has_any_sister_partner_concern_firm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_has_any_sister_concern_firm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_5</targetReference>
            </connector>
            <label>OutcomeYes:Does_customer_has_any_sister partner concern firm</label>
        </rules>
        <rules>
            <name>OutcomeNo_Does_customer_has_any_sister_partner_concern_firm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_has_any_sister_concern_firm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_6</targetReference>
            </connector>
            <label>OutcomeNo:Does_customer_has_any_sister partner concern firm</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_7_Decision_making</name>
        <label>Screen 7: Decision making</label>
        <locationX>2535</locationX>
        <locationY>176</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_GstApplicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_GST_Applicable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_8</targetReference>
            </connector>
            <label>OutcomeYes:GstApplicable</label>
        </rules>
        <rules>
            <name>OutcomeNo_GstApplicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_GST_Applicable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_9</targetReference>
            </connector>
            <label>OutcomeNo:GstApplicable</label>
        </rules>
    </decisions>
    <description>Channel Partner KYC for classic button 53</description>
    <dynamicChoiceSets>
        <name>District</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VarDistrName</elementReference>
            </value>
        </filters>
        <limit>100</limit>
        <object>District__c</object>
        <outputAssignments>
            <assignToReference>VarDistrId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDistrName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Document</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Documents_Type__c</picklistField>
        <picklistObject>DistributorDocument__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentsType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Documents_Type__c</picklistField>
        <picklistObject>DistributorDocument__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Doescustomerhasanysisterconcernfirm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_customer_have_separate_ship_to_addr__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Doescustomerhaveseparateshiptoaddress</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_customer_have_separate_ship_to_addr__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DoyouhaveSisterConcernPartnerFirm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_customer_has_any_sister_concern_fir__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ifnofromwhomitiscaptured</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>If_no_from_whom_it_is_captured__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Iherebyconfirm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>I_hereby_confirm_that_above_information__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsGSTApplicable</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_GST_Applicable__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MatchingStateChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>State.Name</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>State__c</object>
        <outputAssignments>
            <assignToReference>VarStateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarStateName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Selecttypeoffirm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Select_type_of_firm__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Whetherallaboveinformationiscapturedfromowerhimself</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Whether_all_above_information_is_capture__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>No_Text</name>
        <dataType>String</dataType>
        <expression>&apos;No&apos;</expression>
    </formulas>
    <formulas>
        <name>Other</name>
        <dataType>String</dataType>
        <expression>&apos;Other&apos;</expression>
    </formulas>
    <formulas>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <expression>&apos;0120K000001Hw3t&apos;</expression>
    </formulas>
    <formulas>
        <description>AccountSAPcode</description>
        <name>SAPcode</name>
        <dataType>String</dataType>
        <expression>{!AccountSAPcode}</expression>
    </formulas>
    <formulas>
        <name>Yes_Text</name>
        <dataType>String</dataType>
        <expression>&apos;Yes&apos;</expression>
    </formulas>
    <interviewLabel>Channel Partner KYC v1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Channel Partner KYC Classic V64</label>
    <loops>
        <name>Kyc_Recordtype_Iteration</name>
        <label>Kyc Recordtype Iteration</label>
        <locationX>816</locationX>
        <locationY>475</locationY>
        <assignNextValueToReference>kycRectypeVar</assignNextValueToReference>
        <collectionReference>KYCRecordtypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Created_KYC_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Survey_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_survey_record</name>
        <label>create survey record</label>
        <locationX>300</locationX>
        <locationY>19</locationY>
        <assignRecordIdToReference>SurveyRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_SAP_Code__c</field>
            <value>
                <elementReference>SAPcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordCreates>
    <recordCreates>
        <name>Created_KYC_Records</name>
        <label>Created KYC Records</label>
        <locationX>818</locationX>
        <locationY>660</locationY>
        <connector>
            <targetReference>Kyc_Recordtype_Iteration</targetReference>
        </connector>
        <inputAssignments>
            <field>API_Count_Name__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>API_Count_OCR__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confidence_score__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOB__c</field>
            <value>
                <elementReference>DOB_Of_Firms_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Customer_Fisrt_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KYC_Integration_Status__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kyc_status__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Customer_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>kycRectypeVar.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>kycRectypeVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Id__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_JSON__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Respone_JSON__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Code__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory__c</field>
            <value>
                <elementReference>TerritoryObject.Id</elementReference>
            </value>
        </inputAssignments>
        <object>KYC__c</object>
    </recordCreates>
    <recordLookups>
        <name>Current_User_s_Territory</name>
        <label>Current User&apos;s Territory</label>
        <locationX>186</locationX>
        <locationY>7</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_survey_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TerritoryManager__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <object>Territory_Distributor__c</object>
        <outputReference>TerritoryObject</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_KYC_Record_type_values</name>
        <label>Get KYC Record type values</label>
        <locationX>620</locationX>
        <locationY>474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Kyc_Recordtype_Iteration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KYC__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>KYCRecordtypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>It will get kyc record of particular account</description>
        <name>Get_Kyc_Records</name>
        <label>Get Kyc Records</label>
        <locationX>333</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ckech_If_KYC_Records_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountVariable</elementReference>
            </value>
        </filters>
        <object>KYC__c</object>
        <outputReference>KYCRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_GST_Applicable_or_not</name>
        <label>update GST Applicable or not</label>
        <locationX>2210</locationX>
        <locationY>112</locationY>
        <connector>
            <targetReference>Screen_7_Decision_making</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_GST_Applicable__c</field>
            <value>
                <elementReference>IsGSTApplicable</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_GST_Number</name>
        <label>Update GST Number</label>
        <locationX>2288</locationX>
        <locationY>544</locationY>
        <connector>
            <targetReference>Screen_9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>If_yes_mention_GST_no__c</field>
            <value>
                <elementReference>If_yes_mention_GST_no</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Pan_And_Bank_Detals_And_Passport</name>
        <label>update Pan And Bank Detals And Passport</label>
        <locationX>2731</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>Screen_10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Firm_operating_bank_acc_IFSC_code__c</field>
            <value>
                <elementReference>Firms_operating_bank_acc_IFSC_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firms_operating_Bank_acc_no__c</field>
            <value>
                <elementReference>Firms_operating_Bank_acc_no</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firms_operating_bank_Name_and_city__c</field>
            <value>
                <elementReference>Firms_operating_bank_Name_and_city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mention_Firm_PAN_no__c</field>
            <value>
                <elementReference>Mention_Firm_PAN_no</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_company_Officer_visited__c</field>
            <value>
                <elementReference>Name_of_company_Officer_visited</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_number_of_Owner_proprietor__c</field>
            <value>
                <elementReference>Passport_number_of_Owner_proprietor_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secutiry_cheques_no__c</field>
            <value>
                <elementReference>Secutiry_cheques_no</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UGDN_of_company_office__c</field>
            <value>
                <elementReference>UGDN_of_company_office</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_record</name>
        <label>update record</label>
        <locationX>2902</locationX>
        <locationY>978</locationY>
        <connector>
            <targetReference>Terminate_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firm_Name_as_per_SAP__c</field>
            <value>
                <elementReference>Firm_Name_as_per_SAP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_hereby_confirm_that_above_information__c</field>
            <value>
                <elementReference>I_hereby_confirm_that_above</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_no_from_whom_it_is_captured__c</field>
            <value>
                <elementReference>If_no_from_whom_it_is_captured</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_other_please_specify__c</field>
            <value>
                <elementReference>If_other_please_specify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mention_partner_operator_residanc_addre__c</field>
            <value>
                <elementReference>Mention_Partner_Operator_Residential_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whether_all_above_information_is_capture__c</field>
            <value>
                <elementReference>Whether_all_above_information_is_captured_from_ower_himself</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lat__c</field>
            <value>
                <elementReference>lat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>long__c</field>
            <value>
                <elementReference>lon</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>it will update shipping address and pin code</description>
        <name>Update_Shipping_Address1</name>
        <label>Update Shipping Address1</label>
        <locationX>1115</locationX>
        <locationY>387</locationY>
        <connector>
            <targetReference>Screen_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>If_yes_Please_mention_address__c</field>
            <value>
                <elementReference>If_yes_Please_mention_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mention_pin_code_of_Ship_to_address__c</field>
            <value>
                <elementReference>Mention_pin_code_of_Ship_to_address</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>it will update If_yes_mention_SAP_code_of_sister_concern_firm,Mention_owners_Residential_Address_with_Pin_Code</description>
        <name>update_sister_concern_values</name>
        <label>update sister concern values</label>
        <locationX>1597</locationX>
        <locationY>832</locationY>
        <connector>
            <targetReference>Screen_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>If_yes_mention_SAP_code_of_sister_conce__c</field>
            <value>
                <stringValue>If_yes_mention_SAP_code_of_sister_concern_firm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mention_owner_Residence_Addres_with_pin__c</field>
            <value>
                <elementReference>Mention_owners_Residential_Address_with_Pin_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mention_partner_operator_residanc_addre__c</field>
            <value>
                <elementReference>Mention_Partner_Operator_Residential_Address</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>it will update Does_customer_has_any_sister_concern_firm value in survey</description>
        <name>update_stster_concern_option</name>
        <label>update stster concern option</label>
        <locationX>1615</locationX>
        <locationY>181</locationY>
        <connector>
            <targetReference>Screen_4_Decision_making</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Does_customer_has_any_sister_concern_fir__c</field>
            <value>
                <elementReference>Doescustomerhasanysisterconcernfirm</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Survey_Record</name>
        <label>update Survey Record</label>
        <locationX>618</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>Upload_Image</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Alternate_mobile_number__c</field>
            <value>
                <elementReference>Alternate_mobile_number1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_s_Total_Turnover__c</field>
            <value>
                <elementReference>Company_s_Total_Turnover_All_Branch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Fisrt_Name__c</field>
            <value>
                <elementReference>Customer_Fisrt_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Last_Name__c</field>
            <value>
                <elementReference>Customer_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_SAP_Code__c</field>
            <value>
                <elementReference>SAPcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_alternate_e_mail_Address__c</field>
            <value>
                <elementReference>Customer_alternate_e_mail_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_e_mail_Address__c</field>
            <value>
                <elementReference>Customer_e_mail_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_mobile_number__c</field>
            <value>
                <elementReference>Customer_mobile_number1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOB_Of_Firms_Owner__c</field>
            <value>
                <elementReference>DOB_Of_Firms_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firm_Name_as_per_SAP__c</field>
            <value>
                <elementReference>Firm_Name_as_per_SAP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Company_Name__c</field>
            <value>
                <elementReference>First_Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pin_code__c</field>
            <value>
                <elementReference>Pin_Code1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_Company_Name__c</field>
            <value>
                <elementReference>Second_Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_del__c</field>
            <value>
                <elementReference>TerritoryObject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Company_Name__c</field>
            <value>
                <elementReference>Third_Company</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_Shipping_Address_Option</name>
        <label>Update Survey Shipping Address Option</label>
        <locationX>922</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>Screen2_Decission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Does_customer_have_separate_ship_to_addr__c</field>
            <value>
                <elementReference>Does_customer_have_separate_ship_to_address</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Type_Of_Firm</name>
        <label>update Type Of Firm</label>
        <locationX>1972</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Screen_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Select_type_of_firm__c</field>
            <value>
                <elementReference>Selecttypeoffirm</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>2625</locationX>
        <locationY>980</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_record</targetReference>
        </connector>
        <fields>
            <name>I_hereby_confirm_that_above</name>
            <choiceReferences>Iherebyconfirm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;I hereby confirm that above information is correctly captured and is the best information available&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>ship to address</label>
        <locationX>924</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Survey_Shipping_Address_Option</targetReference>
        </connector>
        <fields>
            <name>CopyAttachmentInKYC</name>
            <extensionName>c:KYCInformation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AccountId</name>
                <value>
                    <elementReference>AccountVariable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SurveyId</name>
                <value>
                    <elementReference>SurveyRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AccountVariable</assignToReference>
                <name>AccountId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SurveyRecordId</assignToReference>
                <name>SurveyId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Does_customer_have_separate_ship_to_address</name>
            <choiceReferences>Doescustomerhaveseparateshiptoaddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt; Does customer have separate ship to address?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>if yes mention Address</label>
        <locationX>1116</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Shipping_Address1</targetReference>
        </connector>
        <fields>
            <name>If_yes_Please_mention_address</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;If Yes, Please mention address&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mention_pin_code_of_Ship_to_address</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Mention pin code of ship to address&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>enter valid pincode</errorMessage>
                <formulaExpression>REGEX({!Mention_pin_code_of_Ship_to_address},&quot;^[1-9][0-9]{5}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>416</locationX>
        <locationY>6</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Kyc_Records</targetReference>
        </connector>
        <fields>
            <name>Customer_Fisrt_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Special Characters Not allowed&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Customer_Fisrt_Name},&quot;^[a-z  A-Z]*$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Customer_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Special Characters Not allowed&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX( {!Customer_Last_Name},&quot;^[a-z  A-Z]*$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Customer_SAP_Code1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(111, 110, 110);&quot;&gt;Customer SAP Code&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!SAPcode}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_e_mail_Address</name>
            <dataType>String</dataType>
            <fieldText>Customer e-mail Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please check Email Address</errorMessage>
                <formulaExpression>REGEX({!Customer_e_mail_Address},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Customer_alternate_e_mail_Address</name>
            <dataType>String</dataType>
            <fieldText>Customer alternate e-mail Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>please check your Email Address</errorMessage>
                <formulaExpression>REGEX({!Customer_alternate_e_mail_Address},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DOB_Of_Firms_Owner</name>
            <dataType>Date</dataType>
            <fieldText>DOB Of Firm&apos;s Owner</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Age should be greater than 18 years&lt;/p&gt;</errorMessage>
                <formulaExpression>YEAR({!$Flow.CurrentDate}) - YEAR({!DOB_Of_Firms_Owner}) &gt; 18</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Customer_mobile_number1</name>
            <dataType>String</dataType>
            <fieldText>Customer mobile number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Invalid Mobile Number</errorMessage>
                <formulaExpression>REGEX({!Customer_mobile_number1},&quot;^[0-9]{10}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Alternate_mobile_number1</name>
            <dataType>String</dataType>
            <fieldText>Alternate mobile number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Invalid Mobile Number</errorMessage>
                <formulaExpression>REGEX({!Alternate_mobile_number1},&quot;^[0-9]{10}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Firm_Name_as_per_SAP</name>
            <dataType>String</dataType>
            <fieldText>Firm name as per SAP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_s_Total_Turnover_All_Branch</name>
            <dataType>String</dataType>
            <fieldText>Company&apos;s Total Turnover(All Branch)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Invalid Inputs</errorMessage>
                <formulaExpression>ISNUMBER({!Company_s_Total_Turnover_All_Branch})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>TopThreeCompanyName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Top 3 Company Name&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Company</name>
            <dataType>String</dataType>
            <fieldText>First Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Second_Company</name>
            <dataType>String</dataType>
            <fieldText>Second Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Third_Company</name>
            <dataType>String</dataType>
            <fieldText>Third Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pin_Code1</name>
            <dataType>String</dataType>
            <fieldText>Pin Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>enter valid pincode</errorMessage>
                <formulaExpression>REGEX({!Pin_Code1},&quot;^[1-9][0-9]{5}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_10</name>
        <label>info capture by owner</label>
        <locationX>2600</locationX>
        <locationY>616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_10_Decision_Making</targetReference>
        </connector>
        <fields>
            <name>Whether_all_above_information_is_captured_from_ower_himself</name>
            <choiceReferences>Whetherallaboveinformationiscapturedfromowerhimself</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Whether all above information is captured from owner himself?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_11</name>
        <label>if no from captured</label>
        <locationX>2059</locationX>
        <locationY>991</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_11_Decission_Making</targetReference>
        </connector>
        <fields>
            <name>If_no_from_whom_it_is_captured</name>
            <choiceReferences>Ifnofromwhomitiscaptured</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;If no, from whom it is captured&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_12</name>
        <label>specify owner</label>
        <locationX>2560</locationX>
        <locationY>1251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <fields>
            <name>If_other_please_specify</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;If other, please specify&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_4</name>
        <label>sister concern partner firm</label>
        <locationX>1437</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_stster_concern_option</targetReference>
        </connector>
        <fields>
            <name>Does_customer_has_any_sister_concern_firm</name>
            <choiceReferences>Doescustomerhasanysisterconcernfirm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Does customer has any Sister concern/Partner firm?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_5</name>
        <label>if yes sister concern firm</label>
        <locationX>1599</locationX>
        <locationY>625</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_sister_concern_values</targetReference>
        </connector>
        <fields>
            <name>If_yes_mention_SAP_code_of_sister_concern_firm</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;If Yes, mention SAP code of sister concern firm&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mention_owners_Residential_Address_with_Pin_Code</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Mention owner&apos;s Residential Address with Pin Code&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mention_Partner_Operator_Residential_Address</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Mention Partner/Operator Residential Address&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_6</name>
        <label>type of firm</label>
        <locationX>1967</locationX>
        <locationY>543</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_Type_Of_Firm</targetReference>
        </connector>
        <fields>
            <name>Select_type_of_firm</name>
            <choiceReferences>Selecttypeoffirm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select type of firm&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_7</name>
        <label>GST applicable</label>
        <locationX>1966</locationX>
        <locationY>113</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_GST_Applicable_or_not</targetReference>
        </connector>
        <fields>
            <name>Is_GST_Applicable</name>
            <choiceReferences>IsGSTApplicable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Is GST Applicable?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_8</name>
        <label>mention GST number</label>
        <locationX>2291</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_GST_Number</targetReference>
        </connector>
        <fields>
            <name>If_yes_mention_GST_no</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;If Yes, mention GST no&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Plese enter correct 15 digit GST Number.</errorMessage>
                <formulaExpression>REGEX({!If_yes_mention_GST_no},&quot;^([0][1-9]|[1-2][0-9]|[3][0-7])([a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9a-zA-Z]{1}[zZ]{1}[0-9a-zA-Z]{1})+$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_9</name>
        <label>PAN Aadhar bank</label>
        <locationX>2544</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_Pan_And_Bank_Detals_And_Passport</targetReference>
        </connector>
        <fields>
            <name>Mention_Firm_PAN_no</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Mention Firm PAN no&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>REGEX({!Mention_Firm_PAN_no},&quot;[A-Z]{5}[0-9]{4}[A-Z]{1}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Firms_operating_bank_Name_and_city</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Firms operating Bank Name and City&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Firms_operating_Bank_acc_no</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Firms operating Bank Acc no&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Invalid Account Number</errorMessage>
                <formulaExpression>REGEX({!Firms_operating_Bank_acc_no}, &quot;[0-9]{9,18}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Firms_operating_bank_acc_IFSC_Code</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Firms operating Bank Acc IFSC code&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Invalid IFSC Code</errorMessage>
                <formulaExpression>REGEX({!Firms_operating_bank_acc_IFSC_Code},&quot;^[A-Z]{4}[0][A-Z0-9]{6}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Secutiry_cheques_no</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Cheque against outstanding- mention cheque number (Enter minimum 3)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Passport_number_of_Owner_proprietor_1</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Passport number of Owner/Proprietor&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Name_of_company_Officer_visited</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Name of Company Officer visited&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UGDN_of_company_office</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;UGDN of company officer&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Terminate_Screen</name>
        <label>Terminate Screen</label>
        <locationX>3087</locationX>
        <locationY>973</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYouMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Thank You for feedback!!!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Image</name>
        <label>Upload Image</label>
        <locationX>768</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <fields>
            <name>FileUploadCmp</name>
            <extensionName>c:FileUploadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Survey_RecordId</name>
                <value>
                    <elementReference>SurveyRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AccountId</name>
                <value>
                    <elementReference>AccountVariable</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AccountVariable</assignToReference>
                <name>AccountId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SurveyRecordId</assignToReference>
                <name>Survey_RecordId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Current_User_s_Territory</startElementReference>
    <status>Active</status>
    <variables>
        <description>AccountSAPcode</description>
        <name>AccountSAPcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Distrbuterid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DistributorDocument__c</objectType>
    </variables>
    <variables>
        <name>Documentid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DistributorDocument__c</objectType>
    </variables>
    <variables>
        <name>FileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FileName</stringValue>
        </value>
    </variables>
    <variables>
        <name>i</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>id</elementReference>
        </value>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>id</elementReference>
        </value>
    </variables>
    <variables>
        <name>imageIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JPG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>.jpg</stringValue>
        </value>
    </variables>
    <variables>
        <name>KYCRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KYC__c</objectType>
    </variables>
    <variables>
        <name>KYCRecordtypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>kycRectypeVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>lat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCreatedKYC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KYC__c</objectType>
    </variables>
    <variables>
        <name>NewImageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>recordId of account</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>State__c</objectType>
    </variables>
    <variables>
        <name>State1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TerritoryObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Territory_Distributor__c</objectType>
    </variables>
    <variables>
        <description>all uploaded  file ids in salesorce</description>
        <name>uploadedFileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDistrId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarDistrName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarStateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarStateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
