force-app/main/default/flows/Channel_Partner_KYC_Lightning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>YES</name>
        <choiceText>YES</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Yes_Text</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Screen2_Decission</name>
        <label>Screen2 Decission</label>
        <locationX>2559</locationX>
        <locationY>110</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_DoesCustomerHaveShipAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen3</targetReference>
            </connector>
            <label>OutcomeYes: DoesCustomerHaveShipAddress</label>
        </rules>
        <rules>
            <name>OutcomeNO_DoesCustomerHaveShipAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_4</targetReference>
            </connector>
            <label>OutcomeNO: DoesCustomerHaveShipAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen2_Decission_0</name>
        <label>image 1 decision</label>
        <locationX>320</locationX>
        <locationY>7</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_DoesCustomerHaveShipAddress_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_0</targetReference>
            </connector>
            <label>OutcomeYes: DoesCustomerHaveShipAddress</label>
        </rules>
        <rules>
            <name>OutcomeNO_DoesCustomerHaveShipAddress_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>OutcomeNO: DoesCustomerHaveShipAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen2_Decission_0_0</name>
        <label>image 2 decision</label>
        <locationX>691</locationX>
        <locationY>66</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_DoesCustomerHaveShipAddress_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_0_0</targetReference>
            </connector>
            <label>OutcomeYes: DoesCustomerHaveShipAddress</label>
        </rules>
        <rules>
            <name>OutcomeNO_DoesCustomerHaveShipAddress_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>OutcomeNO: DoesCustomerHaveShipAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen2_Decission_0_0_0</name>
        <label>image 3 decision</label>
        <locationX>1130</locationX>
        <locationY>73</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_DoesCustomerHaveShipAddress_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_0_0_0</targetReference>
            </connector>
            <label>OutcomeYes: DoesCustomerHaveShipAddress</label>
        </rules>
        <rules>
            <name>OutcomeNO_DoesCustomerHaveShipAddress_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>OutcomeNO: DoesCustomerHaveShipAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen2_Decission_0_0_0_0</name>
        <label>image 4 decision</label>
        <locationX>1524</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_DoesCustomerHaveShipAddress_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address_0_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_0_0_0_1</targetReference>
            </connector>
            <label>OutcomeYes: DoesCustomerHaveShipAddress</label>
        </rules>
        <rules>
            <name>OutcomeNO_DoesCustomerHaveShipAddress_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address_0_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>OutcomeNO: DoesCustomerHaveShipAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen2_Decission_0_0_0_1_1</name>
        <label>image 6 decision</label>
        <locationX>1961</locationX>
        <locationY>465</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_DoesCustomerHaveShipAddress_0_0_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address_0_0_0_0_0_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_0_0_0_1_1</targetReference>
            </connector>
            <label>OutcomeYes: DoesCustomerHaveShipAddress</label>
        </rules>
        <rules>
            <name>OutcomeNO_DoesCustomerHaveShipAddress_0_0_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address_0_0_0_0_0_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>OutcomeNO: DoesCustomerHaveShipAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen2_Decission_0_0_0_1_1_1</name>
        <label>image 7 decision</label>
        <locationX>1870</locationX>
        <locationY>820</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_DoesCustomerHaveShipAddress_0_0_0_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address_0_0_0_0_0_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Image_0_0_0_1_1_1</targetReference>
            </connector>
            <label>OutcomeYes: DoesCustomerHaveShipAddress</label>
        </rules>
        <rules>
            <name>OutcomeNO_DoesCustomerHaveShipAddress_0_0_0_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_have_separate_ship_to_address_0_0_0_0_0_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <label>OutcomeNO: DoesCustomerHaveShipAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_10_Decision_Making</name>
        <label>Screen 10 Decision Making</label>
        <locationX>2316</locationX>
        <locationY>1125</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_IfNoFromWhomItisCaptured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Whether_all_above_information_is_captured_from_ower_himself</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen</targetReference>
            </connector>
            <label>OutcomeYes:IfNoFromWhomItisCaptured</label>
        </rules>
        <rules>
            <name>OutcomeNo_IfNoFromWhomItisCaptured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Whether_all_above_information_is_captured_from_ower_himself</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_11</targetReference>
            </connector>
            <label>OutcomeNo:IfNoFromWhomItisCaptured</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_11_Decission_Making</name>
        <label>Screen 11 : Decission Making</label>
        <locationX>1936</locationX>
        <locationY>1315</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_other_please_specifyy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_no_from_whom_it_is_captured</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_12</targetReference>
            </connector>
            <label>If other, please specifyy</label>
        </rules>
        <rules>
            <name>If_Nonother_please_specifyy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_other_please_specify</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Screen</targetReference>
            </connector>
            <label>If Nonother, please specifyy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_4_Decision_making</name>
        <label>Screen 4 Decision making</label>
        <locationX>2436</locationX>
        <locationY>387</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_Does_customer_has_any_sister_partner_concern_firm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_has_any_sister_concern_firm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_5</targetReference>
            </connector>
            <label>OutcomeYes:Does_customer_has_any_sister partner concern firm</label>
        </rules>
        <rules>
            <name>OutcomeNo_Does_customer_has_any_sister_partner_concern_firm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_customer_has_any_sister_concern_firm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_6</targetReference>
            </connector>
            <label>OutcomeNo:Does_customer_has_any_sister partner concern firm</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_7_Decision_making</name>
        <label>Screen 7: Decision making</label>
        <locationX>2513</locationX>
        <locationY>762</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_GstApplicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_GST_Applicable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_8</targetReference>
            </connector>
            <label>OutcomeYes:GstApplicable</label>
        </rules>
        <rules>
            <name>OutcomeNo_GstApplicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_GST_Applicable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_9</targetReference>
            </connector>
            <label>OutcomeNo:GstApplicable</label>
        </rules>
    </decisions>
    <description>Channel partner kyc lightning v1</description>
    <dynamicChoiceSets>
        <name>District</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>VarDistrName</elementReference>
            </value>
        </filters>
        <limit>100</limit>
        <object>District__c</object>
        <outputAssignments>
            <assignToReference>VarDistrId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDistrName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Doescustomerhasanysisterconcernfirm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_customer_have_separate_ship_to_addr__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Doescustomerhaveseparateshiptoaddress</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_customer_have_separate_ship_to_addr__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DoyouhaveSisterConcernPartnerFirm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_customer_has_any_sister_concern_fir__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ifnofromwhomitiscaptured</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>If_no_from_whom_it_is_captured__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Iherebyconfirm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>I_hereby_confirm_that_above_information__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsGSTApplicable</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Is_GST_Applicable__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MatchingStateChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>State.Name</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>State__c</object>
        <outputAssignments>
            <assignToReference>VarStateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarStateName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Selecttypeoffirm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Select_type_of_firm__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Whetherallaboveinformationiscapturedfromowerhimself</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Whether_all_above_information_is_capture__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>No_Text</name>
        <dataType>String</dataType>
        <expression>&apos;No&apos;</expression>
    </formulas>
    <formulas>
        <name>Other</name>
        <dataType>String</dataType>
        <expression>&apos;Other&apos;</expression>
    </formulas>
    <formulas>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <expression>&apos;0120K000001Hw3t&apos;</expression>
    </formulas>
    <formulas>
        <name>Yes_Text</name>
        <dataType>String</dataType>
        <expression>&apos;Yes&apos;</expression>
    </formulas>
    <interviewLabel>Channel Partner KYC Lightning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Channel Partner KYC Lightning v3</label>
    <loops>
        <name>loopImages</name>
        <label>loopImages</label>
        <locationX>108</locationX>
        <locationY>324</locationY>
        <assignNextValueToReference>NewImageId</assignNextValueToReference>
        <collectionReference>uploadedFileIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_record_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopImages_0</name>
        <label>loopImages</label>
        <locationX>413</locationX>
        <locationY>324</locationY>
        <assignNextValueToReference>NewImageId</assignNextValueToReference>
        <collectionReference>uploadedFileIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_record_0_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopImages_0_0</name>
        <label>loopImages</label>
        <locationX>759</locationX>
        <locationY>325</locationY>
        <assignNextValueToReference>NewImageId</assignNextValueToReference>
        <collectionReference>uploadedFileIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_record_0_0_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopImages_0_0_0</name>
        <label>loopImages</label>
        <locationX>1119</locationX>
        <locationY>314</locationY>
        <assignNextValueToReference>NewImageId</assignNextValueToReference>
        <collectionReference>uploadedFileIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_record_0_0_0_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopImages_0_0_0_0_1</name>
        <label>loopImages</label>
        <locationX>1795</locationX>
        <locationY>305</locationY>
        <assignNextValueToReference>NewImageId</assignNextValueToReference>
        <collectionReference>uploadedFileIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_record_0_0_0_0_0_1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopImages_0_0_0_0_1_1</name>
        <label>loopImages</label>
        <locationX>1825</locationX>
        <locationY>723</locationY>
        <assignNextValueToReference>NewImageId</assignNextValueToReference>
        <collectionReference>uploadedFileIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_record_0_0_0_0_0_1_1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopImages_0_0_0_0_1_1_1</name>
        <label>loopImages</label>
        <locationX>1885</locationX>
        <locationY>982</locationY>
        <assignNextValueToReference>NewImageId</assignNextValueToReference>
        <collectionReference>uploadedFileIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_record_0_0_0_0_0_1_1_1</targetReference>
        </nextValueConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>SurveyRecord</name>
        <label>SurveyRecord</label>
        <locationX>13</locationX>
        <locationY>414</locationY>
        <assignRecordIdToReference>SurveyRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Image</targetReference>
        </connector>
        <inputAssignments>
            <field>Alternate_mobile_number__c</field>
            <value>
                <elementReference>Alternate_mobile_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_s_Total_Turnover__c</field>
            <value>
                <elementReference>Company_s_Total_Turnover_All_Branch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Fisrt_Name__c</field>
            <value>
                <elementReference>Customer_Fisrt_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Last_Name__c</field>
            <value>
                <elementReference>Customer_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_SAP_Code__c</field>
            <value>
                <elementReference>Customer_SAP_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_alternate_e_mail_Address__c</field>
            <value>
                <elementReference>Customer_alternate_e_mail_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_e_mail_Address__c</field>
            <value>
                <elementReference>Customer_e_mail_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_mobile_number__c</field>
            <value>
                <elementReference>Customer_mobile_number1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firm_Name_as_per_SAP__c</field>
            <value>
                <elementReference>Firm_Name_as_per_SAP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Company_Name__c</field>
            <value>
                <elementReference>First_Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pin_code__c</field>
            <value>
                <elementReference>Pin_Code1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_Company_Name__c</field>
            <value>
                <elementReference>Second_Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Company_Name__c</field>
            <value>
                <elementReference>Third_Company</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordCreates>
    <recordUpdates>
        <name>update_record</name>
        <label>update record</label>
        <locationX>2344</locationX>
        <locationY>1397</locationY>
        <connector>
            <targetReference>Terminate_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_customer_has_any_sister_concern_fir__c</field>
            <value>
                <elementReference>Does_customer_has_any_sister_concern_firm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_customer_have_separate_ship_to_addr__c</field>
            <value>
                <elementReference>Does_customer_have_separate_ship_to_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firms_operating_Bank_acc_no__c</field>
            <value>
                <elementReference>Firms_operating_Bank_acc_no</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firms_operating_bank_Name_and_city__c</field>
            <value>
                <elementReference>Firms_operating_bank_Name_and_city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_hereby_confirm_that_above_information__c</field>
            <value>
                <elementReference>I_hereby_confirm_that_above</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_no_from_whom_it_is_captured__c</field>
            <value>
                <elementReference>If_no_from_whom_it_is_captured</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_other_please_specify__c</field>
            <value>
                <elementReference>If_other_please_specify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_yes_Please_mention_address__c</field>
            <value>
                <elementReference>If_yes_Please_mention_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_yes_mention_GST_no__c</field>
            <value>
                <elementReference>If_yes_mention_GST_no</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_yes_mention_SAP_code_of_sister_conce__c</field>
            <value>
                <elementReference>If_yes_mention_SAP_code_of_sister_concern_firm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_GST_Applicable__c</field>
            <value>
                <elementReference>IsGSTApplicable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mention_Firm_PAN_no__c</field>
            <value>
                <elementReference>Mention_Firm_PAN_no</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mention_firm_owners_Adhaar_Card_no__c</field>
            <value>
                <elementReference>Mention_firm_owners_Adhaar_Card_no</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mention_owner_Residence_Addres_with_pin__c</field>
            <value>
                <elementReference>Mention_owners_Residential_Address_with_Pin_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mention_partner_operator_residanc_addre__c</field>
            <value>
                <elementReference>Mention_Partner_Operator_Residential_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mention_pin_code_of_Ship_to_address__c</field>
            <value>
                <elementReference>Mention_pin_code_of_Ship_to_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_company_Officer_visited__c</field>
            <value>
                <elementReference>Name_of_company_Officer_visited</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secutiry_cheques_no__c</field>
            <value>
                <elementReference>Secutiry_cheques_no</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Select_type_of_firm__c</field>
            <value>
                <elementReference>Selecttypeoffirm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UGDN_of_company_office__c</field>
            <value>
                <elementReference>UGDN_of_company_office</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whether_all_above_information_is_capture__c</field>
            <value>
                <elementReference>Whether_all_above_information_is_captured_from_ower_himself</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_record_0</name>
        <label>update record</label>
        <locationX>153</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>Screen2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uploaded_Image__c</field>
            <value>
                <elementReference>NewImageId</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_record_0_0</name>
        <label>update record</label>
        <locationX>474</locationX>
        <locationY>181</locationY>
        <connector>
            <targetReference>Screen2_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_customer_have_separate_ship_to_addr__c</field>
            <value>
                <elementReference>Does_customer_have_separate_ship_to_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_hereby_confirm_that_above_information__c</field>
            <value>
                <elementReference>I_hereby_confirm_that_above</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_yes_Please_mention_address__c</field>
            <value>
                <elementReference>If_yes_Please_mention_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uploaded_Image1__c</field>
            <value>
                <elementReference>NewImageId</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_record_0_0_0</name>
        <label>update record</label>
        <locationX>844</locationX>
        <locationY>195</locationY>
        <connector>
            <targetReference>Screen2_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_customer_have_separate_ship_to_addr__c</field>
            <value>
                <elementReference>Does_customer_have_separate_ship_to_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_hereby_confirm_that_above_information__c</field>
            <value>
                <elementReference>I_hereby_confirm_that_above</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_yes_Please_mention_address__c</field>
            <value>
                <elementReference>If_yes_Please_mention_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uploaded_Image2__c</field>
            <value>
                <elementReference>NewImageId</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_record_0_0_0_0</name>
        <label>update record</label>
        <locationX>1296</locationX>
        <locationY>183</locationY>
        <connector>
            <targetReference>Screen2_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_customer_have_separate_ship_to_addr__c</field>
            <value>
                <elementReference>Does_customer_have_separate_ship_to_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_hereby_confirm_that_above_information__c</field>
            <value>
                <elementReference>I_hereby_confirm_that_above</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_yes_Please_mention_address__c</field>
            <value>
                <elementReference>If_yes_Please_mention_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uploaded_Image_3__c</field>
            <value>
                <elementReference>NewImageId</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_record_0_0_0_0_0_1</name>
        <label>update record</label>
        <locationX>1924</locationX>
        <locationY>171</locationY>
        <connector>
            <targetReference>Screen2_0_0_0_0_0_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_customer_have_separate_ship_to_addr__c</field>
            <value>
                <elementReference>Does_customer_have_separate_ship_to_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_hereby_confirm_that_above_information__c</field>
            <value>
                <elementReference>I_hereby_confirm_that_above</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_yes_Please_mention_address__c</field>
            <value>
                <elementReference>If_yes_Please_mention_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uploaded_Image_4__c</field>
            <value>
                <elementReference>NewImageId</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_record_0_0_0_0_0_1_1</name>
        <label>update record</label>
        <locationX>1963</locationX>
        <locationY>610</locationY>
        <connector>
            <targetReference>Screen2_0_0_0_0_0_1_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_customer_have_separate_ship_to_addr__c</field>
            <value>
                <elementReference>Does_customer_have_separate_ship_to_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_hereby_confirm_that_above_information__c</field>
            <value>
                <elementReference>I_hereby_confirm_that_above</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_yes_Please_mention_address__c</field>
            <value>
                <elementReference>If_yes_Please_mention_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uploaded_Image_5__c</field>
            <value>
                <elementReference>NewImageId</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_record_0_0_0_0_0_1_1_1</name>
        <label>update record</label>
        <locationX>2026</locationX>
        <locationY>843</locationY>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_customer_have_separate_ship_to_addr__c</field>
            <value>
                <elementReference>Does_customer_have_separate_ship_to_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_hereby_confirm_that_above_information__c</field>
            <value>
                <elementReference>I_hereby_confirm_that_above</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_yes_Please_mention_address__c</field>
            <value>
                <elementReference>If_yes_Please_mention_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>uploaded_Image_6__c</field>
            <value>
                <elementReference>NewImageId</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordUpdates>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>2313</locationX>
        <locationY>1263</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_record</targetReference>
        </connector>
        <fields>
            <name>I_hereby_confirm_that_above</name>
            <choiceReferences>Iherebyconfirm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;I hereby confirm that above information is correctly captured and is the best information available&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Image</name>
        <label>Image 1</label>
        <locationX>7</locationX>
        <locationY>148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopImages</targetReference>
        </connector>
        <fields>
            <name>UploadImage</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SurveyRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg, .jepg, .png</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SurveyRecordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>uploadedFileIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>UploadKYCImages</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Upload KYC Images &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1) Distributor Agreement/Dealership Firm&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2) Pan Card&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;3) Adhar Number&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;4) Gst Certification&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;5) Authorization in Name of Manager&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;6) Upload Digital Signature [owner/partner manager whichever applicable- sign on A4 blank page and upload]&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;7) Photograph/Selfie - Company person and Distributor.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>{!id}</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Image_0</name>
        <label>Image 2</label>
        <locationX>307</locationX>
        <locationY>163</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopImages_0</targetReference>
        </connector>
        <fields>
            <name>UploadImage_0</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SurveyRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SurveyRecordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>uploadedFileIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <pausedText>{!id}</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Image_0_0</name>
        <label>Image 3</label>
        <locationX>667</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopImages_0_0</targetReference>
        </connector>
        <fields>
            <name>UploadImage_0_0</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SurveyRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SurveyRecordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>uploadedFileIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <pausedText>{!id}</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Image_0_0_0</name>
        <label>Image 4</label>
        <locationX>1116</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopImages_0_0_0</targetReference>
        </connector>
        <fields>
            <name>UploadImage_0_0_0</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SurveyRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SurveyRecordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>uploadedFileIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <pausedText>{!id}</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Image_0_0_0_1</name>
        <label>Image 5</label>
        <locationX>1702</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopImages_0_0_0_0_1</targetReference>
        </connector>
        <fields>
            <name>UploadImage_0_0_0_1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SurveyRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SurveyRecordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>uploadedFileIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <pausedText>{!id}</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Image_0_0_0_1_1</name>
        <label>Image 6</label>
        <locationX>1734</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopImages_0_0_0_0_1_1</targetReference>
        </connector>
        <fields>
            <name>UploadImage_0_0_0_1_1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SurveyRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SurveyRecordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>uploadedFileIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <pausedText>{!id}</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Image_0_0_0_1_1_1</name>
        <label>Image 7</label>
        <locationX>1700</locationX>
        <locationY>957</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopImages_0_0_0_0_1_1_1</targetReference>
        </connector>
        <fields>
            <name>UploadImage_0_0_0_1_1_1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>FileName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SurveyRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SurveyRecordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>uploadedFileIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <pausedText>{!id}</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>2424</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen2_Decission</targetReference>
        </connector>
        <fields>
            <name>Does_customer_have_separate_ship_to_address</name>
            <choiceReferences>Doescustomerhaveseparateshiptoaddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt; Does customer have separate ship to address?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2_0</name>
        <label>image 1 outcome</label>
        <locationX>159</locationX>
        <locationY>21</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen2_Decission_0</targetReference>
        </connector>
        <fields>
            <name>Does_customer_have_separate_ship_to_address_0</name>
            <choiceReferences>Doescustomerhaveseparateshiptoaddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Do You Want To Upload More Images ?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2_0_0</name>
        <label>image 2 outcome</label>
        <locationX>479</locationX>
        <locationY>73</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen2_Decission_0_0</targetReference>
        </connector>
        <fields>
            <name>Does_customer_have_separate_ship_to_address_0_0</name>
            <choiceReferences>Doescustomerhaveseparateshiptoaddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Do You Want To Upload More Images ?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2_0_0_0</name>
        <label>image 3 outcome</label>
        <locationX>938</locationX>
        <locationY>107</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen2_Decission_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Does_customer_have_separate_ship_to_address_0_0_0</name>
            <choiceReferences>Doescustomerhaveseparateshiptoaddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Do You Want To Upload More Images ?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2_0_0_0_0</name>
        <label>image 4 outcome</label>
        <locationX>1336</locationX>
        <locationY>82</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen2_Decission_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Does_customer_have_separate_ship_to_address_0_0_0_0</name>
            <choiceReferences>Doescustomerhaveseparateshiptoaddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Do You Want To Upload More Images ?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2_0_0_0_0_0_1</name>
        <label>image 6 outcome</label>
        <locationX>1798</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen2_Decission_0_0_0_1_1</targetReference>
        </connector>
        <fields>
            <name>Does_customer_have_separate_ship_to_address_0_0_0_0_0_1</name>
            <choiceReferences>Doescustomerhaveseparateshiptoaddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Do You Want To Upload More Images ?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2_0_0_0_0_0_1_1</name>
        <label>image 7 outcome</label>
        <locationX>1704</locationX>
        <locationY>829</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen2_Decission_0_0_0_1_1_1</targetReference>
        </connector>
        <fields>
            <name>Does_customer_have_separate_ship_to_address_0_0_0_0_0_1_1</name>
            <choiceReferences>Doescustomerhaveseparateshiptoaddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Do You Want To Upload More Images ?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>2376</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_4</targetReference>
        </connector>
        <fields>
            <name>If_yes_Please_mention_address</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;If yes, Please mention address&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mention_pin_code_of_Ship_to_address</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Mention pin code of Ship to address&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>15</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SurveyRecord</targetReference>
        </connector>
        <fields>
            <name>Customer_Fisrt_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer Fisrt Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_SAP_Code</name>
            <dataType>String</dataType>
            <fieldText>Customer SAP Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_e_mail_Address</name>
            <dataType>String</dataType>
            <fieldText>Customer e mail Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please check Email Address</errorMessage>
                <formulaExpression>REGEX({!Customer_e_mail_Address},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Customer_alternate_e_mail_Address</name>
            <dataType>String</dataType>
            <fieldText>Customer alternate e mail Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>please check your Email Address</errorMessage>
                <formulaExpression>REGEX({!Customer_alternate_e_mail_Address},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Customer_mobile_number1</name>
            <dataType>String</dataType>
            <fieldText>Customer mobile number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Mobile Number can have only 10 numbers</errorMessage>
                <formulaExpression>ISNUMBER (Customer_mobile_number1 ) &amp;&amp; LEN (Customer_mobile_number1 ) = 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Alternate_mobile_number</name>
            <dataType>Number</dataType>
            <fieldText>Alternate mobile number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Firm_Name_as_per_SAP</name>
            <dataType>String</dataType>
            <fieldText>Firm Name as per SAP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_s_Total_Turnover_All_Branch</name>
            <dataType>String</dataType>
            <fieldText>Company&apos;s Total Turnover(All Branch)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TopThreeCompanyName</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Top 3 Company Name&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Company</name>
            <dataType>String</dataType>
            <fieldText>First Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Second_Company</name>
            <dataType>String</dataType>
            <fieldText>Second Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Third_Company</name>
            <dataType>String</dataType>
            <fieldText>Third Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pin_Code1</name>
            <dataType>String</dataType>
            <fieldText>Pin Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>please enter only 6 digits</errorMessage>
                <formulaExpression>ISNUMBER (Pin_Code1 ) &amp;&amp; LEN (Pin_Code1 ) = 6</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_10</name>
        <label>Screen 10</label>
        <locationX>2455</locationX>
        <locationY>1008</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_10_Decision_Making</targetReference>
        </connector>
        <fields>
            <name>Whether_all_above_information_is_captured_from_ower_himself</name>
            <choiceReferences>Whetherallaboveinformationiscapturedfromowerhimself</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Whether all above information is captured from ower himself?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_11</name>
        <label>Screen 11</label>
        <locationX>2071</locationX>
        <locationY>1149</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_11_Decission_Making</targetReference>
        </connector>
        <fields>
            <name>If_no_from_whom_it_is_captured</name>
            <choiceReferences>Ifnofromwhomitiscaptured</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;If no, from whom it is captured&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_12</name>
        <label>Screen 12</label>
        <locationX>1977</locationX>
        <locationY>1502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <fields>
            <name>If_other_please_specify</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;If other, please specify&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_4</name>
        <label>Screen 4</label>
        <locationX>2786</locationX>
        <locationY>235</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_4_Decision_making</targetReference>
        </connector>
        <fields>
            <name>Does_customer_has_any_sister_concern_firm</name>
            <choiceReferences>Doescustomerhasanysisterconcernfirm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Does customer has any Sister concern / Partner firm?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_5</name>
        <label>Screen 5</label>
        <locationX>2238</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_6</targetReference>
        </connector>
        <fields>
            <name>If_yes_mention_SAP_code_of_sister_concern_firm</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;If yes, mention SAP code of sister concern firm&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mention_owners_Residential_Address_with_Pin_Code</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Mention owners Residential Address with Pin Code&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mention_Partner_Operator_Residential_Address</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Mention Partner/Operator Residential Address&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_6</name>
        <label>Screen 6</label>
        <locationX>2685</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_7</targetReference>
        </connector>
        <fields>
            <name>Select_type_of_firm</name>
            <choiceReferences>Selecttypeoffirm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select type of firm&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_7</name>
        <label>Screen 7</label>
        <locationX>2503</locationX>
        <locationY>637</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_7_Decision_making</targetReference>
        </connector>
        <fields>
            <name>Is_GST_Applicable</name>
            <choiceReferences>IsGSTApplicable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Is GST Applicable?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_8</name>
        <label>Screen 8</label>
        <locationX>2226</locationX>
        <locationY>877</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_9</targetReference>
        </connector>
        <fields>
            <name>If_yes_mention_GST_no</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;If yes, mention GST no&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Plese enter correct 15 digit GST Number.</errorMessage>
                <formulaExpression>REGEX({!If_yes_mention_GST_no},&quot;^([0][1-9]|[1-2][0-9]|[3][0-7])([a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9a-zA-Z]{1}[zZ]{1}[0-9a-zA-Z]{1})+$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_9</name>
        <label>Screen 9</label>
        <locationX>2661</locationX>
        <locationY>877</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_10</targetReference>
        </connector>
        <fields>
            <name>Mention_Firm_PAN_no</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Mention Firm PAN no&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Enter Proper PAN Number</errorMessage>
                <formulaExpression>REGEX({!Mention_Firm_PAN_no},&quot;[A-Z]{5}[0-9]{4}[A-Z]{1}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Mention_firm_owners_Adhaar_Card_no</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Mention firm owners Adhaar Card no&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>please enter correct 12 digit Aadhar Number</errorMessage>
                <formulaExpression>ISNUMBER(Mention_firm_owners_Adhaar_Card_no) &amp;&amp; LEN (Mention_firm_owners_Adhaar_Card_no) = 12</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Firms_operating_bank_Name_and_city</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Firms operating bank Name and city&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Firms_operating_Bank_acc_no</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Firms operating Bank acc no&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Firms_operating_bank_acc_IFSC_Code</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Firms operating bank acc IFSC Code&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Secutiry_cheques_no</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Cheque against outstanding- mention cheque number (Enter minimum 3)&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Name_of_company_Officer_visited</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Name of company Officer visited&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UGDN_of_company_office</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;UGDN of company office&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Terminate_Screen</name>
        <label>Terminate Screen</label>
        <locationX>2213</locationX>
        <locationY>1488</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYouMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Thank You for feedback!!!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Screen_1</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FileName</stringValue>
        </value>
    </variables>
    <variables>
        <name>i</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>id</elementReference>
        </value>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ids</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>id</elementReference>
        </value>
    </variables>
    <variables>
        <name>imageIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JPG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>.jpg</stringValue>
        </value>
    </variables>
    <variables>
        <name>NewImageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>recordId of account</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>State</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>State__c</objectType>
    </variables>
    <variables>
        <name>State1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SurveyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>all uploaded  file ids in salesorce</description>
        <name>uploadedFileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDistrId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarDistrName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarStateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarStateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
