force-app/main/default/flows/chile_survey_v1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_cc856d5b_c3b4_4a31_9a7b_139ab576f04b</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_261b59c2_c4ab_46ae_8a83_26e0483d73cf</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_f7c5bd17_3185_48ec_b78e_eae0bd585a87</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_f6e1080e_673b_4af5_a052_4b9b38b5efd9</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_83d7ffb8_70ac_417f_b3cb_f91c6bbf50f7</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_1411cac3_dc08_41a8_86fb_3172c6a0f547</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_05340594_0b8f_4b55_8985_f1320a2b9573</name>
        <choiceText>Muy F&amp;aacute;cil</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_0578999d_913b_400d_a5f4_a7340d25939a</name>
        <choiceText>Muy Insatisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_07cd74f6_ec58_44dc_9a3a_8071e6b3cf36</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_108e435f_c880_4a62_b8b6_91d0fd678767</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2325eaf0_d279_4deb_8c31_13d867deca38</name>
        <choiceText>Muy Probable</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2ac54db8_1cdb_4e1e_84a1_a34e3c758c69</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_31d58ba5_37f5_49c0_af23_7657ec57aa4b</name>
        <choiceText>Muy Poco Probable</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_3dc0ea25_4251_4d2c_80f3_88923ec0f0af</name>
        <choiceText>Muy Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_487c5c51_9e75_4f00_a645_2ba591b7e7b0</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_4fbb797c_5af3_4316_8d7f_e0f8b69a2c18</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_5ef7a15d_e3c6_46a8_8051_4c6024204c70</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_670c169d_705f_4bba_a59f_3e11723494cc</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_758a9c19_633f_4c8d_8e49_2bb4db86f1d8</name>
        <choiceText>Muy Dif&amp;iacute;cil</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_76272887_64eb_4951_b3d6_3bcca2458190</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_7c3b4069_481d_4e81_a11c_616cda68b6be</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_85395a39_04e8_4bee_ba74_8267a67d3487</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8fcab312_aa7c_4725_94d3_eb630d955e1c</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_97f78f81_da4c_4afe_a35a_7755ccd2280c</name>
        <choiceText>Insuficiente</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_9c298235_d965_486a_ae4b_1388c8823856</name>
        <choiceText>Excelente</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_a1fb1682_c42c_479a_9526_2f3bc941582a</name>
        <choiceText>Muy Satisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e8643c48_2035_4451_952d_b83467f6f963</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_eff97735_836d_485f_9a2f_87a337294ef8</name>
        <choiceText>Muy Insatisfecho</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f21b8884_783e_446b_b09e_7e26072c43b1</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f98645bd_e527_49f1_a0fc_fbad1e3e0b0f</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_fd9a7593_3371_4e75_9650_50c7cc1c8489</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Chile Survey V1</interviewLabel>
    <label>Chile Survey V1</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_chile_survey_v1_3291740e_727d_48d1_aeda_d151f415f47b</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_1411cac3_dc08_41a8_86fb_3172c6a0f547</name>
        <label>Page 16</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b617cc5d_42d3_46b3_8ccc_1fa0dadbe970_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_b617cc5d_42d3_46b3_8ccc_1fa0dadbe970</name>
            <choiceReferences>c_0578999d_913b_400d_a5f4_a7340d25939a</choiceReferences>
            <choiceReferences>c_670c169d_705f_4bba_a59f_3e11723494cc</choiceReferences>
            <choiceReferences>c_e8643c48_2035_4451_952d_b83467f6f963</choiceReferences>
            <choiceReferences>c_7c3b4069_481d_4e81_a11c_616cda68b6be</choiceReferences>
            <choiceReferences>c_a1fb1682_c42c_479a_9526_2f3bc941582a</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;¿Qué tan satisfecho esta con UPL?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_261b59c2_c4ab_46ae_8a83_26e0483d73cf</name>
        <label>Page 12</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_f7c5bd17_3185_48ec_b78e_eae0bd585a87</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_476d052d_f4ce_456b_b525_536a67787959_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_476d052d_f4ce_456b_b525_536a67787959</name>
            <choiceReferences>c_31d58ba5_37f5_49c0_af23_7657ec57aa4b</choiceReferences>
            <choiceReferences>c_85395a39_04e8_4bee_ba74_8267a67d3487</choiceReferences>
            <choiceReferences>c_487c5c51_9e75_4f00_a645_2ba591b7e7b0</choiceReferences>
            <choiceReferences>c_07cd74f6_ec58_44dc_9a3a_8071e6b3cf36</choiceReferences>
            <choiceReferences>c_2325eaf0_d279_4deb_8c31_13d867deca38</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;¿Cuál es la probabilidad que vuelva a comprar nuestros productos?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_83d7ffb8_70ac_417f_b3cb_f91c6bbf50f7</name>
        <label>Page 15</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_1411cac3_dc08_41a8_86fb_3172c6a0f547</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_24f4e92a_60ff_4cc7_b294_b76923d119e5_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_24f4e92a_60ff_4cc7_b294_b76923d119e5</name>
            <choiceReferences>c_97f78f81_da4c_4afe_a35a_7755ccd2280c</choiceReferences>
            <choiceReferences>c_4fbb797c_5af3_4316_8d7f_e0f8b69a2c18</choiceReferences>
            <choiceReferences>c_f21b8884_783e_446b_b09e_7e26072c43b1</choiceReferences>
            <choiceReferences>c_fd9a7593_3371_4e75_9650_50c7cc1c8489</choiceReferences>
            <choiceReferences>c_9c298235_d965_486a_ae4b_1388c8823856</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;¿Cómo evalúa la información entregada en el sitio?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_cc856d5b_c3b4_4a31_9a7b_139ab576f04b</name>
        <label>Page 11</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_261b59c2_c4ab_46ae_8a83_26e0483d73cf</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_767d930f_3f68_4c0e_b2c9_f9183a3f1e03_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_767d930f_3f68_4c0e_b2c9_f9183a3f1e03</name>
            <choiceReferences>c_eff97735_836d_485f_9a2f_87a337294ef8</choiceReferences>
            <choiceReferences>c_5ef7a15d_e3c6_46a8_8051_4c6024204c70</choiceReferences>
            <choiceReferences>c_76272887_64eb_4951_b3d6_3bcca2458190</choiceReferences>
            <choiceReferences>c_108e435f_c880_4a62_b8b6_91d0fd678767</choiceReferences>
            <choiceReferences>c_3dc0ea25_4251_4d2c_80f3_88923ec0f0af</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;¿Está satisfecho con nuestro servicio?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f6e1080e_673b_4af5_a052_4b9b38b5efd9</name>
        <label>Page 14</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_83d7ffb8_70ac_417f_b3cb_f91c6bbf50f7</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_c4a4b0e2_6613_429c_bec6_f8c8d81dfe76_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_c4a4b0e2_6613_429c_bec6_f8c8d81dfe76</name>
            <choiceReferences>c_758a9c19_633f_4c8d_8e49_2bb4db86f1d8</choiceReferences>
            <choiceReferences>c_8fcab312_aa7c_4725_94d3_eb630d955e1c</choiceReferences>
            <choiceReferences>c_f98645bd_e527_49f1_a0fc_fbad1e3e0b0f</choiceReferences>
            <choiceReferences>c_2ac54db8_1cdb_4e1e_84a1_a34e3c758c69</choiceReferences>
            <choiceReferences>c_05340594_0b8f_4b55_8985_f1320a2b9573</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;¿Qué tan intuitivo o fácil de usar es la plataforma?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f7c5bd17_3185_48ec_b78e_eae0bd585a87</name>
        <label>Page 13</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_f6e1080e_673b_4af5_a052_4b9b38b5efd9</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_de18a385_d8fc_4f92_8ea3_1ca3b87e107b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>thumbsUp</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_de18a385_d8fc_4f92_8ea3_1ca3b87e107b_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_de18a385_d8fc_4f92_8ea3_1ca3b87e107b_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_de18a385_d8fc_4f92_8ea3_1ca3b87e107b</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;¿Te gusta nuestro sitio para Clientes?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_cc856d5b_c3b4_4a31_9a7b_139ab576f04b</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_de18a385_d8fc_4f92_8ea3_1ca3b87e107b_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Disgusto</text>
    </textTemplates>
    <textTemplates>
        <name>q_de18a385_d8fc_4f92_8ea3_1ca3b87e107b_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Igual que</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Gracias por participar en la encuesta comunitaria&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Bienvenido a la encuesta&amp;nbsp;de la comunidad, envíe sus comentarios a nuestra com&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;unidad para que podamos mejorar nuestros servicios.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_24f4e92a_60ff_4cc7_b294_b76923d119e5_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_476d052d_f4ce_456b_b525_536a67787959_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_767d930f_3f68_4c0e_b2c9_f9183a3f1e03_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_b617cc5d_42d3_46b3_8ccc_1fa0dadbe970_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_c4a4b0e2_6613_429c_bec6_f8c8d81dfe76_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_de18a385_d8fc_4f92_8ea3_1ca3b87e107b_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
