force-app/main/default/flows/Create_Task_Flow_Recommendation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>Task_Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Call To Farmer - For Recommendation</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Queue_for_State</name>
        <label>Queue for State</label>
        <locationX>295</locationX>
        <locationY>123</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Punjab</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Punjab</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Punjab</targetReference>
            </connector>
            <label>Punjab</label>
        </rules>
        <rules>
            <name>Maharashtra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maharashtra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Maharashtra</targetReference>
            </connector>
            <label>Maharashtra</label>
        </rules>
        <rules>
            <name>Gujrat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gujrat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Gujrat</targetReference>
            </connector>
            <label>Gujrat</label>
        </rules>
        <rules>
            <name>Andhra_Pradesh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Andhra Pradesh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Andhra_Pradesh</targetReference>
            </connector>
            <label>Andhra Pradesh</label>
        </rules>
        <rules>
            <name>Tamil_Nadu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tamil Nadu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Tamil_Nadu</targetReference>
            </connector>
            <label>Tamil Nadu</label>
        </rules>
    </decisions>
    <description>New -  Queue</description>
    <formulas>
        <name>CountPauseDays</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+({!TaskSchedularRecord.MaxDay__c}-{!DayofSowing})</expression>
    </formulas>
    <formulas>
        <name>DueValue</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!TaskSchedularRecord.DueDate__c}</expression>
    </formulas>
    <interviewLabel>Create Task Flow_recommendation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Task Flow_Recommendation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>689</locationX>
        <locationY>559</locationY>
        <inputAssignments>
            <field>AKCTask__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Empanelment__c</field>
            <value>
                <elementReference>Empalenment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>queueid.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue_Andhra_Pradesh</name>
        <label>Get Queue Andhra Pradesh</label>
        <locationX>380</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Schedular_Pause</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue_Vizag</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>queueid</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Gujrat</name>
        <label>Get Queue Gujrat</label>
        <locationX>623</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Schedular_Pause</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue_Vadodara</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>queueid</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Maharashtra</name>
        <label>Get Queue Maharashtra</label>
        <locationX>279</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Schedular_Pause</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue_Mumbai</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>queueid</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Punjab</name>
        <label>Get Queue Punjab</label>
        <locationX>197</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Schedular_Pause</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue_Chandigarh_Delhi_Bathinda</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>queueid</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Tamil_Nadu</name>
        <label>Get Queue Tamil Nadu</label>
        <locationX>498</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Schedular_Pause</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue_Vizag</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>queueid</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Task_Scheduler</name>
        <label>Task Scheduler</label>
        <locationX>174</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_for_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Crop__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Crop_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>MaxDay__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>DayofSowing</elementReference>
            </value>
        </filters>
        <filters>
            <field>MinDay__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>DayofSowing</elementReference>
            </value>
        </filters>
        <object>TaskScheduler__mdt</object>
        <outputReference>TaskSchedularRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastCallType_isRecommendation__c</queriedFields>
        <queriedFields>MaxDay__c</queriedFields>
        <queriedFields>MinDay__c</queriedFields>
        <queriedFields>NextCallDay__c</queriedFields>
        <queriedFields>TaskCreationDay__c</queriedFields>
        <queriedFields>FollowUpDelay__c</queriedFields>
        <queriedFields>Subject__c</queriedFields>
        <queriedFields>DueDate__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>81</locationX>
        <locationY>125</locationY>
        <connector>
            <targetReference>Task_Scheduler</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Crop_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>cropName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DayofSowing</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Empalenment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Is_recommendation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Product_recommendation_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRecommendation__mdt</objectType>
    </variables>
    <variables>
        <name>queueid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskSchedularRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TaskScheduler__mdt</objectType>
    </variables>
    <variables>
        <name>Zone_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Task_Schedular_Pause</name>
        <label>Task Schedular Pause</label>
        <locationX>453</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskSchedularRecord.LastCallType_isRecommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Is_recommendation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>CountPauseDays</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Pause</label>
        </waitEvents>
    </waits>
</Flow>
