force-app/main/default/flows/DACH_Pincode_Change_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Record_Type</name>
        <label>Assign Record Type</label>
        <locationX>264</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Record_type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Record_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Salesorg</name>
        <label>Assign Salesorg</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SalesOrgCodes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Store_SalesorgId.Sales_Org_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_SalesorgId</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>DACH Pincode Change Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DACH Pincode Change Update</label>
    <loops>
        <name>Iterate_Over_Record_type</name>
        <label>Iterate Over Record type</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_Records_type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Record_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Realted_Accounts_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Store_SalesorgId</name>
        <label>Store SalesorgId</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_SalesOrgCode</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Salesorg</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Records_type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Records_type</name>
        <label>Get Records type</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Record_type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retailer</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Europe_Farmer_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SalesOrgCode</name>
        <label>Get SalesOrgCode</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_SalesorgId</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2191</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2192</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Org__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Realted_Accounts_Owner</name>
        <label>Update Related Accounts Owner</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SalesOrgCodes</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>In</operator>
            <value>
                <elementReference>RecordTypeids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Sales_Rep__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Accounts__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SalesOrgCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Org__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Rep__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Pin_Code__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordTypeids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOrgCodes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
