force-app/main/default/flows/For_brazil_Create_Edit_Product_Based_on_SKU_insert_or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>This assigning all values from SKu to Product</description>
        <name>Assign_the_value_for_Product</name>
        <label>Assign the value for Product</label>
        <locationX>326</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Pack_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pack_Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.UOM1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UOM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Sales_Org__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Org</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Distribution_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distribution_channel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Division</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Active_for_CAM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Combination_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>combination_key</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Product_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductCategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Brand_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrandName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Is_Forecast_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsForecastRequired</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assigning all values from SKu to Product</description>
        <name>Assign_the_value_for_Product_0</name>
        <label>Assign the value for Product</label>
        <locationX>734</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Pack_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pack_Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.UOM1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UOM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Sales_Org__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Org</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Distribution_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distribution_channel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Division</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Active_for_CAM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductObj.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Combination_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>combination_key</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Product_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductCategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Brand_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrandName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempCreateProduct.Is_Forecast_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsForecastRequired</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checking Combination key is null or Not</description>
        <name>Checking_combination_Key_null_or_not</name>
        <label>Checking combination Key null or not</label>
        <locationX>360</locationX>
        <locationY>98</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_combination_Key_null_or_not_Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>combination_key</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UOM</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sales_Org</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Description</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Product_Code</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Division</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Product_Records</targetReference>
            </connector>
            <label>Checking combination Key null or not Result</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is checking if Product is found or not, if Found Update otherwise Create it for CAM only</description>
        <name>Checking_Product_base_on_Composite_Key</name>
        <label>Checking Product base on Composite Key</label>
        <locationX>518</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductObj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_value_for_Product</targetReference>
            </connector>
            <label>Product Not Found</label>
        </rules>
        <rules>
            <name>Product_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductObj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_the_value_for_Product_0</targetReference>
            </connector>
            <label>Product Found</label>
        </rules>
    </decisions>
    <description>Change field reference from composite key to Combination key added record type &quot;SKU&quot;
Additional field mapping for Product Category &amp; Brand Name &amp; Is Forecast Required</description>
    <interviewLabel>For brazil : Create/Edit Product Based on SKU insert or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>For brazil : Create/Edit Product Based on SKU insert or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Product</description>
        <name>Create_Product</name>
        <label>Create Product</label>
        <locationX>327</locationX>
        <locationY>576</locationY>
        <inputReference>tempCreateProduct</inputReference>
    </recordCreates>
    <recordLookups>
        <description>This node is used get Records from Product object based on condition Composite_Key__c and Active_for_CAM__c</description>
        <name>Getting_Product_Records</name>
        <label>Getting Product Records</label>
        <locationX>526</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Combination_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>combination_key</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>ProductObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>526</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Product_base_on_Composite_Key</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product2</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SKU</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>743</locationX>
        <locationY>582</locationY>
        <inputReference>tempCreateProduct</inputReference>
    </recordUpdates>
    <start>
        <locationX>9</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Checking_combination_Key_null_or_not</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BrandName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>This is used for taking combination key from Process Builder (Only for East Africa)</description>
        <name>combination_key</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Distribution_channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Division</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>IsForecastRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pack_Size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Product2Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>Use to store sku code to the product code</description>
        <name>Product_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Product_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ProductCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>when querying on the product  Object using Combination Key and Active for East Africa store in ProductObj</description>
        <name>ProductObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sales_Org</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>this variable is used to create and Update Product</description>
        <name>tempCreateProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>UOM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
