force-app/main/default/flows/Grz_Onboarding_Modification_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_to_GBS</name>
        <label>Submit to GBS</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Approval_Process_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>Approval_Process_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Grz_Customer_Modification_Approval</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Profile</name>
        <label>Check Profile</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_TM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsProfileTM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_GBS</targetReference>
            </connector>
            <label>Is TM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsProfileTM</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR({!$Profile.Name}=&apos;Territory Manager&apos;,{!$Profile.Name}=&apos;Territory Manager SWAL&apos;),true,false)</expression>
    </formulas>
    <interviewLabel>Grz Onboarding Modification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grz Onboarding Modification Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Profile</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND ( 4 OR 5 OR 6 OR 7) AND 8</filterLogic>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distributor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mobile__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1000</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1210</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1410</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1510</stringValue>
            </value>
        </filters>
        <filters>
            <field>Modification_Rejected__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
