force-app/main/default/flows/Grz_CrownIntegration_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>Contract_Approved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract Approved</stringValue>
        </value>
    </constants>
    <constants>
        <name>Crown_data</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Crown data</stringValue>
        </value>
    </constants>
    <constants>
        <name>Pending_With_GBS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pending with GBS</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkStages</name>
        <label>checkStages</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>showWarning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isStageOkForCrown</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>stageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pending_With_GBS</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>subStageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contract_Approved</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>stageValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Crown_data</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Documents_From_Crown_Flow</targetReference>
            </connector>
            <label>isStageOkForCrown</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Grz_CrownIntegration_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grz_CrownIntegration_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getSalesAreaRecordDetails</name>
        <label>getSalesAreaRecordDetails</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkStages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>DistributorSalesAreaMapping__c</object>
        <outputAssignments>
            <assignToReference>stageValue</assignToReference>
            <field>Stage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subStageValue</assignToReference>
            <field>Substage__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Get_Documents_From_Crown_Flow</name>
        <label>Get Documents from Crown</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Get_Documents_from_Crown</name>
            <extensionName>c:grz_CrownIntegration</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>strRecordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showWarning</name>
        <label>showWarning</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showWarningText</name>
            <fieldText>&lt;p&gt;This record is not processed completely for Crown integration.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getSalesAreaRecordDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stageValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subStageValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
