force-app/main/default/flows/Grz_ChequeUploadOnboardings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Cheque_submit_for_approval</name>
        <label>Cheque submit for approval</label>
        <locationX>946</locationX>
        <locationY>711</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>ApprovalProcessName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>contentDocId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Records_into_a_Collection</name>
        <label>Add Records into a Collection</label>
        <locationX>1183</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>extract_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>linkfileToOnbChequeObj</name>
        <label>linkfileToOnbChequeObj</label>
        <locationX>1165</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>extract_record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentDocId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Records_into_a_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ApprovalProcessName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Grz_Cheque_Approval_Process</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>BankName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bank_Name1__c</picklistField>
        <picklistObject>On_Boarding_Cheque_Details__ChangeEvent</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>IFSC_Code_Length_Not_Ok</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!IFSC_code})=11</expression>
    </formulas>
    <interviewLabel>Grz_ChequeUploadOnboardings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grz_ChequeUploadOnboardings</label>
    <loops>
        <name>extract_record</name>
        <label>extract record</label>
        <locationX>911</locationX>
        <locationY>382</locationY>
        <collectionReference>vatContentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>linkfileToOnbChequeObj</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Records_from_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_record_on_onboarding_cheque</name>
        <label>create record on onboarding cheque</label>
        <locationX>765</locationX>
        <locationY>365</locationY>
        <assignRecordIdToReference>contentDocId</assignRecordIdToReference>
        <connector>
            <targetReference>extract_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Number__c</field>
            <value>
                <elementReference>Cheque_Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name1__c</field>
            <value>
                <elementReference>Bank_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cheque_Number__c</field>
            <value>
                <elementReference>Cheque_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IFSC_Code__c</field>
            <value>
                <elementReference>IFSC_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Cheque_holder_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Area__c</field>
            <value>
                <elementReference>salesArea.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>On_Boarding_Cheque_Details__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_from_Collection</name>
        <label>Create Records from Collection</label>
        <locationX>915</locationX>
        <locationY>547</locationY>
        <connector>
            <targetReference>Cheque_submit_for_approval</targetReference>
        </connector>
        <inputReference>varRContentDocumentLinks</inputReference>
    </recordCreates>
    <screens>
        <name>Cheque_upload</name>
        <label>Cheque upload</label>
        <locationX>738</locationX>
        <locationY>193</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_record_on_onboarding_cheque</targetReference>
        </connector>
        <fields>
            <name>Cheque_upload_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cheque_upload_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cheque_holder_name</name>
                    <dataType>String</dataType>
                    <fieldText>Cheque holder name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cheque_upload_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cheque_Account_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Cheque Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cheque_upload_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cheque_upload_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>salesArea</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Sales_Area__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Sales Area</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>On_Boarding_Cheque_Details__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cheque_upload_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bank_Name</name>
                    <choiceReferences>BankName</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Bank Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cheque_upload_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cheque_upload_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IFSC_code</name>
                    <dataType>String</dataType>
                    <fieldText>IFSC code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;IFSC Code should be of 11 digits.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!IFSC_Code_Length_Not_Ok}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cheque_upload_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cheque_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Cheque Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cheque_upload_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cheque_upload_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>uploadfile</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload files</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>vatContentIds</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cheque_upload_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>600</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Cheque_upload</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>On_Boarding_Cheque_Details__ChangeEvent</objectType>
    </variables>
    <variables>
        <name>contentDocId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varRContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>vatContentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vatDocIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
