force-app/main/default/flows/Grz_Extend_Sales_Area.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Update_Sales_area</name>
        <label>Update Sales area</label>
        <locationX>424</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Division.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DistributionChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Distribution_Code.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Territory_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory.TerritoryManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Distributor__r.Account_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.First_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Regional_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegionalManagerORFMMUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBU_Head__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SBUManager</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Zonal_Head__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZonalManager</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Second_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SecondApprover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Territory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Zone_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory.Zone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory.SBU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory.Region__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_sales_area2</name>
        <label>update sales area</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Already_existing_on_boarding_record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_Onboarding_Account</name>
        <label>If Onboarding Account</label>
        <locationX>424</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Boarding_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distributor__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_On_Boarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distributor__r.Sales_Org__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_sales_area_related_to_account</targetReference>
            </connector>
            <label>On Boarding account</label>
        </rules>
        <rules>
            <name>Distributor_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distributor__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Division</targetReference>
            </connector>
            <label>Distributor Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_sales_area_found</name>
        <label>is sales area found</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Get_Division</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_sales_area_founds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_sales_area_related_to_account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_sales_area2</targetReference>
            </connector>
            <label>is sales area found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FirstApprover</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.SalesOrg__r.Sales_Org_Code__c}= &apos;1210&apos;,
IF({!Get_Territory.Regional_Manager_Id__c} &lt;&gt; null, {!Get_Territory.Regional_Manager_Id__c}, {!Get_Territory.FMM_User_Id__c}), 
IF({!Get_Territory.Zonal_Manager_Id__c} &lt;&gt;null, {!Get_Territory.Zonal_Manager_Id__c}, {!Get_Territory.Zonal_Marketing_Manager_1_Id__c}))</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>RegionalManagerORFMMUser</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.SalesOrg__r.Sales_Org_Code__c} = &apos;1210&apos;,
IF({!Get_Territory.Regional_Manager_Id__c} &lt;&gt; null, {!Get_Territory.Regional_Manager_Id__c}, {!Get_Territory.FMM_User_Id__c}),null )</expression>
    </formulas>
    <formulas>
        <name>SBUManager</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.SalesOrg__r.Sales_Org_Code__c} &lt;&gt;  &apos;1210&apos;,
IF({!Get_Territory.SBU_Head_Id__c} &lt;&gt; null, {!Get_Territory.SBU_Head_Id__c}, {!Get_Territory.SBU_Marketing_heads_Id__c}),null )</expression>
    </formulas>
    <formulas>
        <name>SecondApprover</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.SalesOrg__r.Sales_Org_Code__c} =  &apos;1210&apos;,
IF({!Get_Territory.Zonal_Manager_Id__c} &lt;&gt;null, {!Get_Territory.Zonal_Manager_Id__c}, {!Get_Territory.Zonal_Marketing_Manager_1_Id__c}),
IF({!Get_Territory.SBU_Head_Id__c} &lt;&gt; null, {!Get_Territory.SBU_Head_Id__c}, {!Get_Territory.SBU_Marketing_heads_Id__c})
)</expression>
    </formulas>
    <formulas>
        <name>ZonalManager</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Territory.Zonal_Manager_Id__c} &lt;&gt;null, {!Get_Territory.Zonal_Manager_Id__c}, {!Get_Territory.Zonal_Marketing_Manager_1_Id__c})</expression>
    </formulas>
    <interviewLabel>Grz Extend Sales Area {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Grz Extend Sales Area</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_sales_area_related_to_account</name>
        <label>Get All sales area related to account</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_sales_area_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Distributor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Distributor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DistributorSalesAreaMapping__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Distribution_Code</name>
        <label>Get Distribution Code</label>
        <locationX>424</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Distribution_Channel_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>20</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Distribution_Channel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Division</name>
        <label>Get Division</label>
        <locationX>424</locationX>
        <locationY>995</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Distribution_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Division_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>10</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Division__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory</name>
        <label>Get Territory</label>
        <locationX>424</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Sales_area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TerritoryManager__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrg__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory_Distributor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>298</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Onboarding_Account</targetReference>
        </connector>
        <filterFormula>({!$Profile.Name}=&apos;Territory Manager&apos; || {!$Profile.Name}=&apos;Territory Manager SWAL&apos;) &amp;&amp; ({!$Record.SalesOrg__r.Sales_Org_Code__c}=&apos;1510&apos; || {!$Record.SalesOrg__r.Sales_Org_Code__c}=&apos;1000&apos; || {!$Record.SalesOrg__r.Sales_Org_Code__c}=&apos;1210&apos; || {!$Record.SalesOrg__r.Sales_Org_Code__c}=&apos;1410&apos;)</filterFormula>
        <object>DistributorSalesAreaMapping__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Salesareacount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
