force-app/main/default/flows/GTM_Lead_Customer_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Adding_Object_to_Create_List</name>
        <label>Adding Object to Create List</label>
        <locationX>933</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>insertLeadAccList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempLeadAccObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Lead_Customers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adding_Object_to_update_List</name>
        <label>Adding Object to update List</label>
        <locationX>432</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>UpdateLeadAccList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempAccObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_on_LeadAccountList_for_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values_to_Account_List</name>
        <label>assign values to Account List</label>
        <locationX>574</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>tempAccObj.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_on_LeadAccountList_for_update.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempAccObj.Lead_Customer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadCustomerType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Object_to_update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_new_Lead_Account</name>
        <label>Assign values to new Lead Account</label>
        <locationX>942</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>tempLeadAccObj.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLeadAccObj.Lead_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadCustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLeadAccObj.Lead_Customer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>leadCustomerType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLeadAccObj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120K000001I784</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLeadAccObj.Sales_Org__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesOrg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Object_to_Create_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_PB_Parameters</name>
        <label>Check PB Parameters</label>
        <locationX>485</locationX>
        <locationY>117</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parameters_not_Blank_or_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadCustomer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrgCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>accountName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrg</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Lead_Customer_Accounts</targetReference>
            </connector>
            <label>Parameters not Blank or Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Lead_Customer_Data</name>
        <label>Checking Lead Customer Data</label>
        <locationX>661</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_if_null_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadAccountList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_new_Lead_Account</targetReference>
            </connector>
            <label>Checking if null is true</label>
        </rules>
        <rules>
            <name>Checking_if_null_is_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadAccountList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looping_on_LeadAccountList_for_update</targetReference>
            </connector>
            <label>Checking if null is false</label>
        </rules>
    </decisions>
    <interviewLabel>GTM Lead Customer Creation Flow</interviewLabel>
    <label>GTM Lead Customer Creation Flow ver 1.4</label>
    <loops>
        <name>Looping_on_LeadAccountList_for_update</name>
        <label>Looping on LeadAccountList for update</label>
        <locationX>459</locationX>
        <locationY>352</locationY>
        <collectionReference>leadAccountList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_values_to_Account_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Lead_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Lead_Customers</name>
        <label>Create New Lead Customers</label>
        <locationX>942</locationX>
        <locationY>712</locationY>
        <inputReference>insertLeadAccList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Getting_Lead_Customer_Accounts</name>
        <label>Getting Lead Customer Accounts</label>
        <locationX>693</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Sales_Org</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND (3 OR 4 OR 5))</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120K000001I784</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadCustomer</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5100</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2410</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5631</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>leadAccountList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Sales_Org_Code__c</queriedFields>
        <queriedFields>Lead_Customer__c</queriedFields>
        <queriedFields>Lead_Customer_Type__c</queriedFields>
        <queriedFields>Account_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Getting_Sales_Org</name>
        <label>Getting Sales Org</label>
        <locationX>858</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Lead_Customer_Data</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Argentina</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mexico</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Italy - Domestic</stringValue>
            </value>
        </filters>
        <object>Sales_Org__c</object>
        <outputAssignments>
            <assignToReference>SalesOrg</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_Lead_Accounts</name>
        <label>update Lead Accounts</label>
        <locationX>297</locationX>
        <locationY>519</locationY>
        <inputReference>UpdateLeadAccList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>192</locationY>
        <connector>
            <targetReference>Check_PB_Parameters</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>insertLeadAccList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>leadAccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>LeadCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadCustomerOwner</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>leadCustomerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOrgCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempAccObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>tempLeadAccObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UpdateLeadAccList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
