force-app/main/default/flows/InActive_Farmer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Screen10Decission</name>
        <label>Screen10Decission</label>
        <locationX>705</locationX>
        <locationY>1011</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeOther_WhatDoYouFeelAKCNeedstoDo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_do_you_feel_that_AKC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen11</targetReference>
            </connector>
            <label>OutcomeOther:WhatDoYouFeelAKCNeedstoDo</label>
        </rules>
        <rules>
            <name>OutcomeNotOther_WhatDoYouFeelAKCNeedstoDo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_do_you_feel_that_AKC</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InActive_Farmer</targetReference>
            </connector>
            <label>OutcomeNotOther:WhatDoYouFeelAKCNeedstoDo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen1Decission</name>
        <label>Screen1Decission</label>
        <locationX>296</locationX>
        <locationY>12</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeNone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>We_are_calling_from_market_reserch_company_are_you_a_farmer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen1</targetReference>
            </connector>
            <label>OutcomeNone</label>
        </rules>
        <rules>
            <name>OutcomeNotNone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>We_are_calling_from_market_reserch_company_are_you_a_farmer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>OutcomeNotNone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen2DecissionMaing</name>
        <label>Screen2DecissionMaing</label>
        <locationX>321</locationX>
        <locationY>196</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Outcome_Yes_Do_you_had_any_intraction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_had_any_intraction_with_farmer_call_center</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen3</targetReference>
            </connector>
            <label>Outcome Yes Do you had any intraction with farmer call center</label>
        </rules>
        <rules>
            <name>Outcome_No_Do_you_had_any_intraction_with_farmer_call_center</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_had_any_intraction_with_farmer_call_center</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen5</targetReference>
            </connector>
            <label>Outcome No Do you had any intraction with farmer call center</label>
        </rules>
        <rules>
            <name>OutcomeNone_DoYouHadInteraction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_had_any_intraction_with_farmer_call_center</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>OutcomeNone:DoYouHadInteraction</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen3Decission</name>
        <label>Screen3Decission</label>
        <locationX>109</locationX>
        <locationY>394</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYesKisanCallCenterGov</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_Yes_which_call_center</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KisancallcenterGov</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen5</targetReference>
            </connector>
            <label>OutcomeYesKisanCallCenterGov</label>
        </rules>
        <rules>
            <name>OutcomeYesKisanCallCenterNonGov</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_Yes_which_call_center</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KisancallcenternonGov</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen4</targetReference>
            </connector>
            <label>OutcomeYesKisanCallCenterNonGov</label>
        </rules>
        <rules>
            <name>OutcomeNone_IfYesWhichCallCenter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_Yes_which_call_center</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen3</targetReference>
            </connector>
            <label>OutcomeNone:IfYesWhichCallCenter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen5Decission</name>
        <label>Screen5Decission</label>
        <locationX>916</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeNone_DoYouKnowAKC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_know_Adarsh_Kisan_Center</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen5</targetReference>
            </connector>
            <label>OutcomeNone:DoYouKnowAKC</label>
        </rules>
        <rules>
            <name>OutcomeNotNone_DoYouKnowAKC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_know_Adarsh_Kisan_Center</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen6</targetReference>
            </connector>
            <label>OutcomeNotNone:DoYouKnowAKC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen6DecissionMaing</name>
        <label>Screen6DecissionMaing</label>
        <locationX>609</locationX>
        <locationY>524</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYesDoYouRememberYouHadCalledAKC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_remamber_you_had_call_in_Adarsh_Kisan_Center</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen7</targetReference>
            </connector>
            <label>OutcomeYesDoYouRememberYouHadCalledAKC</label>
        </rules>
        <rules>
            <name>OutcomeNoDoYouRememberYouHadCalledAKC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_remamber_you_had_call_in_Adarsh_Kisan_Center</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen8</targetReference>
            </connector>
            <label>OutcomeNoDoYouRememberYouHadCalledAKC</label>
        </rules>
        <rules>
            <name>OutcomeNone_DoYouRememberYouHadCalled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_remamber_you_had_call_in_Adarsh_Kisan_Center</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen6</targetReference>
            </connector>
            <label>OutcomeNone:DoYouRememberYouHadCalled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen7Decission</name>
        <label>Screen7Decission</label>
        <locationX>442</locationX>
        <locationY>657</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeNone_IfYesHowDoYouFeel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_Yes_how_do_you_feel_after_calling_AKC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen7</targetReference>
            </connector>
            <label>OutcomeNone:IfYesHowDoYouFeel</label>
        </rules>
        <rules>
            <name>OutcomeNotNone_IfYesHowDoYouFeel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_Yes_how_do_you_feel_after_calling_AKC</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen8</targetReference>
            </connector>
            <label>OutcomeNotNone:IfYesHowDoYouFeel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen8DecissionMaking</name>
        <label>Screen8DecissionMaking</label>
        <locationX>939</locationX>
        <locationY>737</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeNotOther_WhyDoYouNotCallAkc2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Why_You_Do_Not_Call_AKC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen9</targetReference>
            </connector>
            <label>OutcomeOther:WhyDoYouNotCallAkc</label>
        </rules>
        <rules>
            <name>OutcomeNotOther_WhyDoYouNotCallAkc1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Why_You_Do_Not_Call_AKC</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen10</targetReference>
            </connector>
            <label>OutcomeNotOther:WhyDoYouNotCallAkc</label>
        </rules>
        <rules>
            <name>Took_new_number_in_2018</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Why_You_Do_Not_Call_AKC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TookNewNumberIn2018</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InActive_Farmer</targetReference>
            </connector>
            <label>Took new number in 2018</label>
        </rules>
    </decisions>
    <description>Used to survey InActive Farmers</description>
    <dynamicChoiceSets>
        <name>Doyouhadanyintractionwithfarmercallcenter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_had_any_intraction_with_farmer__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DoyouknowAdarshKisanCenter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_know_Adarsh_Kisan_Center__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DoyouremamberyouhadcallinAdarshKisanCenter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_remamber_you_had_call_in_Adarsh_K__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IfYeshowdoyoufeelaftercallingAKC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>If_Yes_how_do_you_feel_after_calling_AKC__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IfYeswhichcallcenter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>If_Yes_which_call_center__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Wearecallingfrommarketreserchcompanyareyouafarmer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>We_are_calling_from_market_reserch_compa__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WhatdoyoufeelthatAKCneedstodowhichhelpyoutogetthebetterservicefromAKC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>What_do_you_feel_that_AKC_needs_to_do_wh__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WhydoyounotcallAKC</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Why_do_you_not_call_AKC__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>KisancallcenterGov</name>
        <dataType>String</dataType>
        <expression>&apos;Kisan call center Gov&apos;</expression>
    </formulas>
    <formulas>
        <name>KisancallcenternonGov</name>
        <dataType>String</dataType>
        <expression>&apos;Kisan call center non Gov&apos;</expression>
    </formulas>
    <formulas>
        <name>No_Text</name>
        <dataType>String</dataType>
        <expression>&apos;No&apos;</expression>
    </formulas>
    <formulas>
        <name>None_Text</name>
        <dataType>String</dataType>
        <expression>&apos;None&apos;</expression>
    </formulas>
    <formulas>
        <name>Other</name>
        <dataType>String</dataType>
        <expression>&apos;Other&apos;</expression>
    </formulas>
    <formulas>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <expression>&apos;0120K000001HvB2&apos;</expression>
    </formulas>
    <formulas>
        <name>TookNewNumberIn2018</name>
        <dataType>String</dataType>
        <expression>&apos;Took new number in 2018&apos;</expression>
    </formulas>
    <formulas>
        <name>Yes_Text</name>
        <dataType>String</dataType>
        <expression>&apos;Yes&apos;</expression>
    </formulas>
    <interviewLabel>InActive Farmer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InActive FarmerV16</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>InActive_Farmer</name>
        <label>InActive Farmer</label>
        <locationX>1120</locationX>
        <locationY>1043</locationY>
        <connector>
            <targetReference>Terminate_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_had_any_intraction_with_farmer__c</field>
            <value>
                <elementReference>Do_you_had_any_intraction_with_farmer_call_center</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_know_Adarsh_Kisan_Center__c</field>
            <value>
                <elementReference>Do_you_know_Adarsh_Kisan_Center</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_remamber_you_had_call_in_Adarsh_K__c</field>
            <value>
                <elementReference>Do_you_remamber_you_had_call_in_Adarsh_Kisan_Center</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Kisan_call_center_non_Gov_Please_ment__c</field>
            <value>
                <elementReference>If_Kisan_call_center_non_Gov_Please_mention_call_center_company_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_OtherWhy_do_not_you_call_AKC__c</field>
            <value>
                <elementReference>If_Other_Why_Do_not_you_call_AKC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Other_What_do_you_feel_AKC_need_to_do__c</field>
            <value>
                <elementReference>If_Other_What_Do_You_Feel_AKC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Yes_how_do_you_feel_after_calling_AKC__c</field>
            <value>
                <elementReference>If_Yes_how_do_you_feel_after_calling_AKC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Yes_which_call_center__c</field>
            <value>
                <elementReference>If_Yes_which_call_center</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>We_are_calling_from_market_reserch_compa__c</field>
            <value>
                <elementReference>We_are_calling_from_market_reserch_company_are_you_a_farmer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_do_you_feel_that_AKC_needs_to_do_wh__c</field>
            <value>
                <elementReference>What_do_you_feel_that_AKC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_do_you_not_call_AKC__c</field>
            <value>
                <elementReference>Why_You_Do_Not_Call_AKC</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordCreates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>54</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen1Decission</targetReference>
        </connector>
        <fields>
            <name>We_are_calling_from_market_reserch_company_are_you_a_farmer</name>
            <choiceReferences>Wearecallingfrommarketreserchcompanyareyouafarmer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Q1)  We are calling from market reserch company are you a farmer ?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen10</name>
        <label>Screen10</label>
        <locationX>698</locationX>
        <locationY>906</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen10Decission</targetReference>
        </connector>
        <fields>
            <name>What_do_you_feel_that_AKC</name>
            <choiceReferences>WhatdoyoufeelthatAKCneedstodowhichhelpyoutogetthebetterservicefromAKC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Q6) What do you feel that AKC needs to do which help you to get the better service from AKC&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen11</name>
        <label>Screen11</label>
        <locationX>404</locationX>
        <locationY>1109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>InActive_Farmer</targetReference>
        </connector>
        <fields>
            <name>If_Other_What_Do_You_Feel_AKC</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Q6b) If Other What Do You Feel AKC&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>550</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen2DecissionMaing</targetReference>
        </connector>
        <fields>
            <name>Do_you_had_any_intraction_with_farmer_call_center</name>
            <choiceReferences>Doyouhadanyintractionwithfarmercallcenter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Q2)&lt;/B&gt; &lt;B&gt;Do you had any intraction with farmer call center&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>106</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen3Decission</targetReference>
        </connector>
        <fields>
            <name>If_Yes_which_call_center</name>
            <choiceReferences>IfYeswhichcallcenter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Q2a) If Yes which call center&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen4</name>
        <label>Screen4</label>
        <locationX>104</locationX>
        <locationY>503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen5</targetReference>
        </connector>
        <fields>
            <name>If_Kisan_call_center_non_Gov_Please_mention_call_center_company_name</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Q2b) If Kisan call center non Gov Please mention call center company name&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen5</name>
        <label>Screen5</label>
        <locationX>528</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen5Decission</targetReference>
        </connector>
        <fields>
            <name>Do_you_know_Adarsh_Kisan_Center</name>
            <choiceReferences>DoyouknowAdarshKisanCenter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Q3) Do you know Adarsh Kisan Center &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen6</name>
        <label>Screen6</label>
        <locationX>1228</locationX>
        <locationY>492</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen6DecissionMaing</targetReference>
        </connector>
        <fields>
            <name>Do_you_remamber_you_had_call_in_Adarsh_Kisan_Center</name>
            <choiceReferences>DoyouremamberyouhadcallinAdarshKisanCenter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Q4a) Do you remamber you had call in Adarsh Kisan Center&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen7</name>
        <label>Screen7</label>
        <locationX>94</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen7Decission</targetReference>
        </connector>
        <fields>
            <name>If_Yes_how_do_you_feel_after_calling_AKC</name>
            <choiceReferences>IfYeshowdoyoufeelaftercallingAKC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Q4b) If Yes how do you feel after calling AKC&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen8</name>
        <label>Screen8</label>
        <locationX>967</locationX>
        <locationY>619</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen8DecissionMaking</targetReference>
        </connector>
        <fields>
            <name>Why_You_Do_Not_Call_AKC</name>
            <choiceReferences>WhydoyounotcallAKC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Q5a) Why You Do Not Call AKC&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen9</name>
        <label>Screen9</label>
        <locationX>287</locationX>
        <locationY>754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen10</targetReference>
        </connector>
        <fields>
            <name>If_Other_Why_Do_not_you_call_AKC</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Q5b) If Other Why Do not you call AKC&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Terminate_Message</name>
        <label>Terminate Message</label>
        <locationX>712</locationX>
        <locationY>1335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TerminateMessages</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Thank You for feedback!!!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Screen1</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AccountVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
