force-app/main/default/flows/Invoice_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>InvoiceObj.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountOwnerInSalesArea</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_to_Invoice</name>
        <label>Assign Owner to Invoice</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>InvoiceObj.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommunityUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Country</name>
        <label>Check for Country</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Colombia</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>SalesOrg</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrg</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5710</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrg</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_on_Sales_Area</targetReference>
            </connector>
            <label>Colombia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Account_Owner_Blank</name>
        <label>Check If Account Owner Blank</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>East_Africa_SalesAreaLookUp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOwnerInSalesArea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner</targetReference>
            </connector>
            <label>If not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_List_size</name>
        <label>Check List size</label>
        <locationX>666</locationX>
        <locationY>1118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesAreaList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Sales_Area_List</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>EAst_Africa_Check_If_Account_Owner_Blank</name>
        <label>EAst Africa-Check If Account Owner Blank</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_balnk</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>SalesAreaList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrg</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrg</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4052</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrg</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6520</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrg</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4620</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrg</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2191</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrg</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2192</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Sales_Area_List</targetReference>
            </connector>
            <label>If balnk</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Community_User</name>
        <label>If Community User</label>
        <locationX>644</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>SalesAreaLookUp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCommunityUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_on_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Active</name>
        <label>Owner Active</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_to_Invoice</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <description>Share invoice records for East Africa country. Updated by pallavi 21/07/2020 - For Loop Set for Sales Area Owner
Updated Dach Sales Org code In East Africa SalesAreaLookUp and EAst Africa-Check If Account Owner Blank
Updated by Saurabh Pandey 8/06/2023 - For sharing of Invoice Object</description>
    <environments>Default</environments>
    <interviewLabel>Invoice Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Flow 1.4</label>
    <loops>
        <name>Loop_on_Sales_Area_List</name>
        <label>Loop on Sales Area List</label>
        <locationX>1106</locationX>
        <locationY>1646</locationY>
        <assignNextValueToReference>SalesAreaObj</assignNextValueToReference>
        <collectionReference>SalesAreaList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Share_Invoice</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>East_Africa_SalesAreaLookUp</name>
        <label>East Africa-SalesAreaLookUp</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EAst_Africa_Check_If_Account_Owner_Blank</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>AccountOwnerActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Distributor_SAP_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2000</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2191</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2192</stringValue>
            </value>
        </filters>
        <object>DistributorSalesAreaMapping__c</object>
        <outputReference>SalesAreaList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountOwner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_On_Account</name>
        <label>Lookup On Account</label>
        <locationX>644</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Community_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IsCommunityUser</assignToReference>
            <field>IsCustomerPortal</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_on_Sales_Area</name>
        <label>Lookup on Sales Area</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_List_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountOwnerActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Distributor_SAP_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Manually_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerDosentMatch__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrg</elementReference>
            </value>
        </filters>
        <object>DistributorSalesAreaMapping__c</object>
        <outputReference>SalesAreaList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountOwner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_on_User</name>
        <label>Lookup on User</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CommunityUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsActive</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SalesAreaLookUp</name>
        <label>SalesAreaLookUp</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Account_Owner_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountOwnerActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Distributor_SAP_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrg</elementReference>
            </value>
        </filters>
        <object>DistributorSalesAreaMapping__c</object>
        <outputAssignments>
            <assignToReference>AccountOwnerInSalesArea</assignToReference>
            <field>AccountOwner__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <inputReference>InvoiceObj</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Check_for_Country</targetReference>
        </connector>
        <inputReference>InvoiceObj</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_On_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Share_Invoice</name>
        <label>Share Invoice</label>
        <locationX>1194</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Loop_on_Sales_Area_List</targetReference>
        </connector>
        <flowName>Dynamic_Record_Sharing_Flow</flowName>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>SalesAreaObj.AccountOwner__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountOwnerInSalesArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CommunityUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>IsActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsCommunityUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesAreaList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>DistributorSalesAreaMapping__c</objectType>
    </variables>
    <variables>
        <name>SalesAreaObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>DistributorSalesAreaMapping__c</objectType>
    </variables>
    <variables>
        <name>SalesOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesOrgCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
