force-app/main/default/flows/Italy_SalesAreaManagerEmailAlert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Italy Sales Order Creation Email Alert for SalesDirector</description>
        <name>Italy_Sales_Order_Creation_Email_Alert_for_SalesDirector</name>
        <label>Italy Sales Order Creation Email Alert for SalesDirector</label>
        <locationX>506</locationX>
        <locationY>792</locationY>
        <actionName>Sales_Order__c.Italy_Sales_Order_Creation_Email_Alert_for_SalesDirector</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Send_Email_alert_to_Sales_area_Mgr , which sales Order didn&apos;t went for approval</description>
        <name>Send_Email_alert_to_Sales_area_Mgr</name>
        <label>Send Email alert to Sales area Mgr</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <actionName>Sales_Order__c.Italy_Sales_Order_Creation_Email_Alert_for_AreaSalesManager</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Sales_Director_Email_Condition_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_User_Area_Manger</name>
        <label>Check User Area Manger Andrea Frontali</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Sales_Director_Email_Condition_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_User_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Italy_SalesAreaManagerEmail__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>andrea.frontali@upl-ltd.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_alert_to_Sales_area_Mgr</targetReference>
            </connector>
            <label>Check User Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Director_Email_Condition_Check</name>
        <label>Sales Director Email Condition Check</label>
        <locationX>374</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Italy_Sales_Order_Creation_Email_Alert_for_SalesDirector</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Director_Email_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesOrgCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2410</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sent_for_Manager_Approval_Mexico__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Sales Director Email Condition Check</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Italy_SalesAreaManager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Italy_SalesAreaManagerEmailAlert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Fetch_ItalySalesAreaMgr_Email</name>
        <label>Fetch_ItalySalesAreaMgr_Email</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Check_User_Area_Manger</targetReference>
        </connector>
        <inputAssignments>
            <field>Italy_SalesAreaManagerEmail__c</field>
            <value>
                <elementReference>$Record.Owner:User.Manager.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesOrgCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2410</stringValue>
            </value>
        </filters>
        <filters>
            <field>Order_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sent_for_Manager_Approval_Mexico__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Order_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>Sales_Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Send_Email_alert_after_2_min</name>
            <connector>
                <targetReference>Fetch_ItalySalesAreaMgr_Email</targetReference>
            </connector>
            <label>Send Email alert after 2 min</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
