force-app/main/default/flows/JapanParentChildMappingValidations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Combination_Key</name>
        <label>Combination Key</label>
        <locationX>666</locationX>
        <locationY>1283</locationY>
        <assignmentItems>
            <assignToReference>$Record.Combination_key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CombinationKey</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>To_prevent_Duplicate_Values</name>
        <label>To prevent Duplicate Values</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.PreventDuplicate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Combination_Key</name>
        <label>Check Combination Key</label>
        <locationX>666</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>InsertParentChildMappingRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Combination key is Absent</defaultConnectorLabel>
        <rules>
            <name>If_Combination_Key_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Combination_key__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateParentChildMappingRecords</targetReference>
            </connector>
            <label>If Combination Key Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckInsertParentChildRecords</name>
        <label>CheckInsertParentChildRecords</label>
        <locationX>886</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Combination_Key</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IfRecordNotFound</defaultConnectorLabel>
        <rules>
            <name>if_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InsertParentChildMappingRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>To_prevent_Duplicate_Values</targetReference>
            </connector>
            <label>if Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckParentPresentInChild</name>
        <label>CheckParentPresentInChild</label>
        <locationX>358</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Check_Combination_Key</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IfParentAbsentInChild</defaultConnectorLabel>
        <rules>
            <name>IfParentPresentInChild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Child_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_prevent_Duplicate_Values</targetReference>
            </connector>
            <label>IfParentPresentInChild</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckUpdateParentChildRecords</name>
        <label>CheckUpdateParentChildRecords</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Combination_Key</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RecordsNotFound</defaultConnectorLabel>
        <rules>
            <name>IfRecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateParentChildMappingRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>To_prevent_Duplicate_Values</targetReference>
            </connector>
            <label>IfRecordsFound</label>
        </rules>
    </decisions>
    <formulas>
        <name>CombinationKey</name>
        <dataType>String</dataType>
        <expression>{!Parent_Records_Accounts.SAP_Code__c} + {!Child_Records_Accounts.SAP_Code__c}</expression>
    </formulas>
    <interviewLabel>JapanParentChildMappingValidations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JapanParentChildMappingValidationsV3.5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Child_Records_Accounts</name>
        <label>Child Records Accounts</label>
        <locationX>358</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckParentPresentInChild</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>InsertParentChildMappingRecords</name>
        <label>InsertParentChildMappingRecords</label>
        <locationX>886</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckInsertParentChildRecords</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Parent_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Child_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Child_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Parent_Child_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Parent_Records_Accounts</name>
        <label>Parent Records Accounts</label>
        <locationX>358</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Records_Accounts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>UpdateParentChildMappingRecords</name>
        <label>UpdateParentChildMappingRecords</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckUpdateParentChildRecords</targetReference>
        </connector>
        <filterLogic>((1 OR 2 OR 3) AND 4)</filterLogic>
        <filters>
            <field>Child_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Child_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Active__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Parent_Child_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parent_Records_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Child_Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Parent_Child_Mapping__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetParentChildRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Parent_Child_Mapping__c</objectType>
    </variables>
    <variables>
        <name>ParentChildMapping</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Parent_Child_Mapping__c</objectType>
    </variables>
    <variables>
        <name>ParentChildRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Parent_Child_Mapping__c</objectType>
    </variables>
</Flow>
