force-app/main/default/flows/Japan_Sales_Order_Sharing_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Parent_Child_List_is_Blank_or_not</name>
        <label>Check Parent Child List is Blank or not</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentChildRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent</targetReference>
            </connector>
            <label>If Not Blank</label>
        </rules>
    </decisions>
    <interviewLabel>Japan Sales Order Sharing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Japan Sales Order Sharing Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Parent</name>
        <label>Create Parent</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_Group_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Order__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_User</name>
        <label>Get Account User</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentChildRecord.Parent_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Id</name>
        <label>Get Group Id</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Parent_Child_List_is_Blank_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_User.UserRole.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RoleAndSubordinates</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Child_Record</name>
        <label>Get Parent Child Record</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Child_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sold_to_Party__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Parent_Child_Mapping__c</object>
        <outputReference>ParentChildRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Parent_Account__c</queriedFields>
        <queriedFields>Child_Account__c</queriedFields>
        <queriedFields>Active__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Child_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesOrgCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6731</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sold_to_Party__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Sales_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ParentChildRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Parent_Child_Mapping__c</objectType>
    </variables>
</Flow>
