force-app/main/default/flows/Marketing_Requisition_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Values_to_new_Activity_plan</name>
        <label>Assign Values to new Activity plan</label>
        <locationX>396</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>NewActivityPlanObj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordtypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivityPlanObj.Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcitvityType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivityPlanObj.Crop_txt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CropName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivityPlanObj.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivityPlanObj.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivityPlanObj.No_of_farmer_invited__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoOfFarmers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivityPlanObj.No_of_R1_invited__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoOfR1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivityPlanObj.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivityPlanObj.Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivityPlanObj.Regional_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RMId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivityPlanObj.Zonal_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MMId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivityPlanObj.Marketing_Activity_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivityStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivityPlanObj.Marketing_Requisition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivityPlanObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Activity_Plan</targetReference>
        </connector>
    </assignments>
    <description>To make a clone with settlement as record type</description>
    <environments>Default</environments>
    <interviewLabel>Marketing Requisition Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing Requisition Flow - V4</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Activity_Plan</name>
        <label>Create Activity Plan</label>
        <locationX>399</locationX>
        <locationY>311</locationY>
        <inputReference>NewActivityPlanObj</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Lookup_for_record_type</name>
        <label>Lookup for record type</label>
        <locationX>390</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_new_Activity_plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Settlement</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordtypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_for_record_type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AcitvityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ActivityStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CropName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Location</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewActivityPlanObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Activity_Plan__c</objectType>
    </variables>
    <variables>
        <name>NoOfFarmers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>NoOfR1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordtypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
