force-app/main/default/flows/mexico_survey_new_version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_45aab362_7050_4713_b29e_a107c40e0de1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_f1a35578_7f87_46b7_aff2_1d3f2f441393</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_57d05b45_a5b4_4bcf_9960_5f059e0efbc0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_30d924d9_6cdf_445f_9091_1862d1483ce9</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_44cc63b1_b8f0_470d_ac22_778c7ffb03f0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_817b387d_8c73_43e0_ab22_8c2fbedc2804</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_3b824930_6766_4292_b358_e22e3d4cc49a</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_54dd78e6_d629_4829_9816_4ce44745dfc4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_6ec03ba5_f035_4cfd_8239_222af4067ea2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_267a4263_d060_44ce_807b_c4bb6f9afd91</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_040ff365_7bef_4c5f_844a_a2f30ec75e53</name>
        <choiceText>Regular</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0610849c_64ee_4d81_9f1b_bcc819c84456</name>
        <choiceText>Siempre</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Siempre</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1943b76d_a0b1_4c52_bb12_bb09e99271d7</name>
        <choiceText>Casi Siempre</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Casi Siempre</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1a86a221_4615_4d59_b53a_a593f7fe34da</name>
        <choiceText>Cr&amp;eacute;dito</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Crédito</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_20c33fc7_2bf7_4214_8d02_e39a27bda014</name>
        <choiceText>Bueno</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bueno</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_20ed100d_d4cd_4124_84ff_d1d674556c27</name>
        <choiceText>prefiero env&amp;iacute;os en parcialidades</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>prefiero envíos en parcialidades</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2a7d9d5b_d1de_40b1_9ba0_19541d93c397</name>
        <choiceText>R&amp;aacute;pida, pues me dieron respuesta al momento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rápida, pues me dieron respuesta al momento</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_389e7e69_732f_4d62_8ec8_e5df7f0648d9</name>
        <choiceText>Lenta, me dieron respuesta por correo electr&amp;oacute;nico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lenta, me dieron respuesta por correo electrónico</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3900d868_c721_4f27_ad8d_9874365ea753</name>
        <choiceText>Malo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Malo</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3986a440_113d_4115_83e7_75ab332682d2</name>
        <choiceText>Regular</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3f022e26_a5c9_49e3_b8a9_19a7e0df36d7</name>
        <choiceText>Excelente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelente</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_40b53edb_f50d_477a_8d03_0e57c35525b7</name>
        <choiceText>Bueno</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bueno</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_58b0ebc8_c075_47db_a87f_9753d392fa52</name>
        <choiceText>Servicio al Cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicio al Cliente</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5e2196ec_aff4_4e5b_a948_b33a3a61160d</name>
        <choiceText>A Veces</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A Veces</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5e81e9a2_43a8_4e13_84f7_de020593d402</name>
        <choiceText>Nunca</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nunca</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6000fd93_c797_4c81_8e26_6c08a6a542e3</name>
        <choiceText>Tuve que esperar m&amp;aacute;s de 24 horas, pero me resolvieron mi duda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuve que esperar más de 24 horas, pero me resolvieron mi duda</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_65a150b1_e403_458c_be12_8534466b89c4</name>
        <choiceText>Poco Satisfecho</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Poco Satisfecho</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_687f8012_3213_4499_bf15_2cc2ee33da8e</name>
        <choiceText>P&amp;eacute;simo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pésimo</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7f95b0bb_6b19_4788_a5b3_b407baac36d1</name>
        <choiceText>Malo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Malo</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8a69d7b7_173b_4fe1_ab68_74d8c033c6bb</name>
        <choiceText>Rara vez</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rara vez</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8ca21d25_4418_4e62_8c77_d00b18946e15</name>
        <choiceText>Muy Satisfecho</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Muy Satisfecho</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_90c2ccb8_9ca1_457a_9027_88ded06f222e</name>
        <choiceText>Rara vez</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rara vez</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_918813ed_cc0e_491b_879d_dc93baad0d80</name>
        <choiceText>Altamente Satisfecho</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Altamente Satisfecho</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_957fd7fc_2271_40fd_b9bd_23be9c038fd9</name>
        <choiceText>P&amp;eacute;simo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pésimo</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_985f5668_3184_4f0a_979c_7ff60e78bf1d</name>
        <choiceText>Otra</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Otra</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a394c1e5_06f2_4645_87f1_d717243f6498</name>
        <choiceText>se cancela el pedido</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>se cancela el pedido</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_abc4def0_2bcf_4e95_b92e_528508b8fadc</name>
        <choiceText>Nunca</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nunca</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b649abe6_f6df_4664_85b3_47473aec42ae</name>
        <choiceText>Siempre</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Siempre</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bdc01670_d40b_4f91_9276_38e2dd71a916</name>
        <choiceText>Completamente Satisfecho</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completamente Satisfecho</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c558a451_f954_4136_9f29_8b658116c8ef</name>
        <choiceText>Cobranza</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cobranza</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c63f3cfb_8caa_41ca_9f8a_bd99596b282a</name>
        <choiceText>Insuficiente, pues no recib&amp;iacute; respuesta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insuficiente, pues no recibí respuesta</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e10285bf_db27_402d_9b9b_2b12750b5250</name>
        <choiceText>Casi Siempre</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Casi Siempre</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e71faae9_8ab5_4748_9c67_a10a7039a3d7</name>
        <choiceText>A Veces</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A Veces</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ea755c15_17f8_444d_b4ad_aaa61b8ebf3a</name>
        <choiceText>Excelente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Excelente</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f00cb6e8_a4d4_4cae_8798_e897722d2a9d</name>
        <choiceText>Satisfecho</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfecho</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f901da74_3055_4524_b369_a4e90ec4b121</name>
        <choiceText>Tuve respuesta en 24 horas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tuve respuesta en 24 horas</stringValue>
        </value>
    </choices>
    <interviewLabel>Mexico Survey new Version</interviewLabel>
    <label>Mexico Survey new Version</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_mexico_survey_new_version_3eb36945_e89e_459b_9209_94c858d97d13</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_267a4263_d060_44ce_807b_c4bb6f9afd91</name>
        <label>Page 11</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_57bc5267_b7ce_47b2_86f9_e9b729f8fd21</name>
            <choiceReferences>c_bdc01670_d40b_4f91_9276_38e2dd71a916</choiceReferences>
            <choiceReferences>c_65a150b1_e403_458c_be12_8534466b89c4</choiceReferences>
            <choiceReferences>c_f00cb6e8_a4d4_4cae_8798_e897722d2a9d</choiceReferences>
            <choiceReferences>c_8ca21d25_4418_4e62_8c77_d00b18946e15</choiceReferences>
            <choiceReferences>c_918813ed_cc0e_491b_879d_dc93baad0d80</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;font-size: 14px; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;En general, ¿qué tan satisfecho está con UPL?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_30d924d9_6cdf_445f_9091_1862d1483ce9</name>
        <label>Page 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_44cc63b1_b8f0_470d_ac22_778c7ffb03f0</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3917fc79_8249_4a9a_b714_67cefba18d7f</name>
            <choiceReferences>c_957fd7fc_2271_40fd_b9bd_23be9c038fd9</choiceReferences>
            <choiceReferences>c_7f95b0bb_6b19_4788_a5b3_b407baac36d1</choiceReferences>
            <choiceReferences>c_040ff365_7bef_4c5f_844a_a2f30ec75e53</choiceReferences>
            <choiceReferences>c_20c33fc7_2bf7_4214_8d02_e39a27bda014</choiceReferences>
            <choiceReferences>c_ea755c15_17f8_444d_b4ad_aaa61b8ebf3a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;font-size: 14px; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;¿Cómo considera el servicio de transporte de nuestros productos?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_3b824930_6766_4292_b358_e22e3d4cc49a</name>
        <label>Page 8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_54dd78e6_d629_4829_9816_4ce44745dfc4</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_153383a4_3430_44b5_aecc_6c1f77dcbf69</name>
            <choiceReferences>c_abc4def0_2bcf_4e95_b92e_528508b8fadc</choiceReferences>
            <choiceReferences>c_8a69d7b7_173b_4fe1_ab68_74d8c033c6bb</choiceReferences>
            <choiceReferences>c_5e2196ec_aff4_4e5b_a948_b33a3a61160d</choiceReferences>
            <choiceReferences>c_1943b76d_a0b1_4c52_bb12_bb09e99271d7</choiceReferences>
            <choiceReferences>c_b649abe6_f6df_4664_85b3_47473aec42ae</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;font-size: 14px; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;¿El producto que recibes de UPL llega limpio y bien empacado?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_44cc63b1_b8f0_470d_ac22_778c7ffb03f0</name>
        <label>Page 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_817b387d_8c73_43e0_ab22_8c2fbedc2804</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3bef8e5b_5166_4f34_85a1_df380f27c1cd</name>
            <choiceReferences>c_687f8012_3213_4499_bf15_2cc2ee33da8e</choiceReferences>
            <choiceReferences>c_3900d868_c721_4f27_ad8d_9874365ea753</choiceReferences>
            <choiceReferences>c_3986a440_113d_4115_83e7_75ab332682d2</choiceReferences>
            <choiceReferences>c_40b53edb_f50d_477a_8d03_0e57c35525b7</choiceReferences>
            <choiceReferences>c_3f022e26_a5c9_49e3_b8a9_19a7e0df36d7</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;font-size: 14px; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;¿Cómo considera la información que recibe de nosotros sobre su estado de cuenta crediticio?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_45aab362_7050_4713_b29e_a107c40e0de1</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_f1a35578_7f87_46b7_aff2_1d3f2f441393</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bc089b89_5033_4090_afdb_40de7f395f64</name>
            <choiceReferences>c_5e81e9a2_43a8_4e13_84f7_de020593d402</choiceReferences>
            <choiceReferences>c_90c2ccb8_9ca1_457a_9027_88ded06f222e</choiceReferences>
            <choiceReferences>c_e71faae9_8ab5_4748_9c67_a10a7039a3d7</choiceReferences>
            <choiceReferences>c_e10285bf_db27_402d_9b9b_2b12750b5250</choiceReferences>
            <choiceReferences>c_0610849c_64ee_4d81_9f1b_bcc819c84456</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;¿Con qué frecuencia el representante de ventas de UPL le brinda información oportuna del estatus de sus órdenes?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_54dd78e6_d629_4829_9816_4ce44745dfc4</name>
        <label>Page 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_6ec03ba5_f035_4cfd_8239_222af4067ea2</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b5cef6e6_1017_4f28_8de5_e186becd7ad1</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;font-size: 14px; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;¿Qué tiempo consideras sería un excelente tiempo de entrega?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_57d05b45_a5b4_4bcf_9960_5f059e0efbc0</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_30d924d9_6cdf_445f_9091_1862d1483ce9</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_578b40f7_5974_4038_b874_e045ac83d619</name>
            <choiceReferences>c_2a7d9d5b_d1de_40b1_9ba0_19541d93c397</choiceReferences>
            <choiceReferences>c_f901da74_3055_4524_b369_a4e90ec4b121</choiceReferences>
            <choiceReferences>c_6000fd93_c797_4c81_8e26_6c08a6a542e3</choiceReferences>
            <choiceReferences>c_389e7e69_732f_4d62_8ec8_e5df7f0648d9</choiceReferences>
            <choiceReferences>c_c63f3cfb_8caa_41ca_9f8a_bd99596b282a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;font-size: 14px; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;¿Cómo fue la atención que recibió por parte de esa área?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_6ec03ba5_f035_4cfd_8239_222af4067ea2</name>
        <label>Page 10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_267a4263_d060_44ce_807b_c4bb6f9afd91</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ac16c88d_820a_459b_a65a_1feaaace8d5b</name>
            <dataType>String</dataType>
            <fieldText>&lt;h3&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;¿Cuál es el as&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;pecto o aspectos que mejoraría en su experiencia con nuestra marca?&lt;/b&gt;&lt;/h3&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_817b387d_8c73_43e0_ab22_8c2fbedc2804</name>
        <label>Page 7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_3b824930_6766_4292_b358_e22e3d4cc49a</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0f96a42e_1ae9_4fe4_b4f6_9605327a8939</name>
            <choiceReferences>c_20ed100d_d4cd_4124_84ff_d1d674556c27</choiceReferences>
            <choiceReferences>c_a394c1e5_06f2_4645_87f1_d717243f6498</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;¿Cuál de las siguientes opciones preferirías si alguno de los productos solicitados en tu pedido no contamos con el inventario disponible en el momento en que se generó la orden?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f1a35578_7f87_46b7_aff2_1d3f2f441393</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_57d05b45_a5b4_4bcf_9960_5f059e0efbc0</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f0c68aac_1a18_4ca6_bb14_b537f619910a</name>
            <choiceReferences>c_58b0ebc8_c075_47db_a87f_9753d392fa52</choiceReferences>
            <choiceReferences>c_1a86a221_4615_4d59_b53a_a593f7fe34da</choiceReferences>
            <choiceReferences>c_c558a451_f954_4136_9f29_8b658116c8ef</choiceReferences>
            <choiceReferences>c_985f5668_3184_4f0a_979c_7ff60e78bf1d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;¿En algún momento ha tenido que contactar con alguna de las siguientes áreas&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ba37b24f_4bed_4e4a_8b00_875206721e55</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;especifique&amp;nbsp;...&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_f0c68aac_1a18_4ca6_bb14_b537f619910a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_985f5668_3184_4f0a_979c_7ff60e78bf1d</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_45aab362_7050_4713_b29e_a107c40e0de1</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Gracias por &lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;participar en la encuesta comunitaria&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Bienvenido a la encuesta de Servicio, envíe sus comentarios al área de Servicio al Cliente para        que podamos mejora nuestros servicios.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
