force-app/main/default/flows/Notify_Logistic_group_on_Interdiction_Process_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Interdiction_creation_to_Customers</name>
        <label>Notify Interdiction creation to Customers</label>
        <locationX>694</locationX>
        <locationY>566</locationY>
        <actionName>Interdiction_Process__c.Email_Alert_For_Interdiction_Customer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_logistic_group_about_record_creation</name>
        <label>Notify logistic group about record creation</label>
        <locationX>534</locationX>
        <locationY>375</locationY>
        <actionName>Interdiction_Process__c.Email_alert_for_logistic_groups</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>QueueID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Notify Logistic group on Interdiction Process creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Logistic group on Interdiction Process creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>QueueID</name>
        <label>QueueID</label>
        <locationX>380</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_owner_to_logistic_queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Logistics</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_owner_to_logistic_queue</name>
        <label>update owner to logistic queue</label>
        <locationX>499</locationX>
        <locationY>570</locationY>
        <connector>
            <targetReference>Notify_Interdiction_creation_to_Customers</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Book Collection</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>352</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Notify_logistic_group_about_record_creation</targetReference>
        </connector>
        <object>Interdiction_Process__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>run_after_2_minutes</name>
            <label>run after 2 minutes</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
