force-app/main/default/flows/On_Interdiction_Process_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_notification_to_logistic_group</name>
        <label>Email notification to logistic group</label>
        <locationX>1589</locationX>
        <locationY>989</locationY>
        <actionName>Interdiction_Process__c.Email_alert_for_logistic_groups</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_to_logistic_after_vendor</name>
        <label>Email to logistic after vendor</label>
        <locationX>281</locationX>
        <locationY>876</locationY>
        <actionName>Interdiction_Process__c.Email_alert_for_logistic_groups</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GetLogistics</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Interdiction_process_with_no</name>
        <label>Interdiction process with no</label>
        <locationX>1742</locationX>
        <locationY>786</locationY>
        <actionName>MailForInterdictionNo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetLogisticQueueID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_To_Legal_Group</name>
        <label>Notification To Legal Group</label>
        <locationX>1050</locationX>
        <locationY>920</locationY>
        <actionName>Interdiction_Process__c.Email_alert_for_Interdiction_Legal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LegalQueueID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_logistics_after_legal</name>
        <label>Notification to logistics after legal</label>
        <locationX>1781</locationX>
        <locationY>370</locationY>
        <actionName>MailForInterdictionNo</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_logistics_for_yes</name>
        <label>Notification to logistics for yes</label>
        <locationX>1070</locationX>
        <locationY>753</locationY>
        <actionName>MailForInterdictionNo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Notification_To_Legal_Group</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NotificationToAllOnInterdictionCompletion</name>
        <label>NotificationToAllOnInterdictionCompletion</label>
        <locationX>752</locationX>
        <locationY>931</locationY>
        <actionName>Interdiction_Process__c.interdictionNotificationToAll</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_status_to_Completed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_logistic_after_purchasing</name>
        <label>Notify logistic after purchasing</label>
        <locationX>523</locationX>
        <locationY>545</locationY>
        <actionName>Interdiction_Process__c.Email_alert_for_logistic_groups</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Purchasing_group_Interdiction</name>
        <label>Notify Purchasing group</label>
        <locationX>41</locationX>
        <locationY>563</locationY>
        <actionName>Interdiction_Process__c.Interdiction_notification_to_Purchasing</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>GetPurchasingId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>send_mail_to_agent</name>
        <label>send mail to agent</label>
        <locationX>517</locationX>
        <locationY>864</locationY>
        <actionName>MailForInterdictionNo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_status_to_Completed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>Logistics</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Logistics</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_if_interdiction_is_yes_or_no</name>
        <label>check if interdiction is yes or no</label>
        <locationX>758</locationX>
        <locationY>698</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Interdiction_is_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IS_AN_INTERDICTION__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_mail_to_agent</targetReference>
            </connector>
            <label>If Interdiction is yes</label>
        </rules>
        <rules>
            <name>If_interdiction_is_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IS_AN_INTERDICTION__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotificationToAllOnInterdictionCompletion</targetReference>
            </connector>
            <label>If interdiction is no</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_interdiction_field_value</name>
        <label>check interdiction field value</label>
        <locationX>1346</locationX>
        <locationY>655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>value_is_yes_SIM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IS_AN_INTERDICTION__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_to_logistics_for_yes</targetReference>
            </connector>
            <label>value is yes(SIM)</label>
        </rules>
        <rules>
            <name>Is_interdiction_process_is_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IS_AN_INTERDICTION__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interdiction_process_with_no</targetReference>
            </connector>
            <label>Is interdiction process is no</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_logic_email_operator</name>
        <label>check logic email operator</label>
        <locationX>1109</locationX>
        <locationY>378</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Email_oprator_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EMAIL_LOGISTICS_OPERATOR_Brazil__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EMAIL_LOGISTICS_OPERATOR_Brazil__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_interdiction_field_value</targetReference>
            </connector>
            <label>If Email oprator is changed</label>
        </rules>
        <rules>
            <name>If_Legal_Fields_are_changed</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.COMMENTS__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.COMMENTS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AGENT_EMAIL_Brazil__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AGENT_EMAIL_Brazil__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLogisticsID</targetReference>
            </connector>
            <label>If Legal Fields are changed</label>
        </rules>
        <rules>
            <name>If_Real</name>
            <conditionLogic>(1 AND 2) OR( 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ESTIMATED_COLLECTION_DATE__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ESTIMATED_COLLECTION_DATE__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DATE_OF_REAL_COLLECTION__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DATE_OF_REAL_COLLECTION__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Vendor_code_field_value</targetReference>
            </connector>
            <label>If Date of real collection and entry closed is changed</label>
        </rules>
        <rules>
            <name>If_vendor_code_is_changed_and_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vendor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vendor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Vendor Code</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToLogistics</targetReference>
            </connector>
            <label>If vendor code is changed and not null</label>
        </rules>
        <rules>
            <name>If_Entry_closed_field_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ENTRY_CLOSED__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ENTRY_CLOSED__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_if_interdiction_is_yes_or_no</targetReference>
            </connector>
            <label>If Entry closed field is changed</label>
        </rules>
        <rules>
            <name>If_status_is_changed_to_cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Data_de_Encerramento_for_cancel</targetReference>
            </connector>
            <label>If status is changed to cancel</label>
        </rules>
        <rules>
            <name>If_status_is_register_process</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Register Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POSTCODE__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PRIORITY__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.REASON__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CNPJ_CPF__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IS_AN_INTERDICTION__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTACT__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.INSCRI_O_ESTADUAL__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NUMBER__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RAZ_O_SOCIAL__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CITY__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Vendor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TERM_NUMBER__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SUBURB__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DUE_DATE__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DATE_OF_REQUEST__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.STREET__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.STATE__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Book_Collection</targetReference>
            </connector>
            <label>If status is register process</label>
        </rules>
        <rules>
            <name>If_Status_Is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_date_of_submission_to_logistic_operator_field</targetReference>
            </connector>
            <label>If Status Is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vendor_code_field_value</name>
        <label>Check Vendor code field value</label>
        <locationX>556</locationX>
        <locationY>320</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_vendor_code_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vendor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Purchasing_group_Interdiction</targetReference>
            </connector>
            <label>Check if vendor code is null</label>
        </rules>
        <rules>
            <name>Check_if_Vendor_code_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vendor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_logistic_after_vendor</targetReference>
            </connector>
            <label>Check if Vendor code is not null</label>
        </rules>
    </decisions>
    <description>update decision condition( if status changed to cancel ) for RITM0561610</description>
    <environments>Default</environments>
    <formulas>
        <name>ChangeToggleOnInterdiction</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.ToggleButtonForBypassValidationInFlow__c} = TRUE, FALSE,TRUE)</expression>
    </formulas>
    <formulas>
        <name>ReturnTodayDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>On Interdiction Process Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Interdiction Process Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AssignToLogistics</name>
        <label>AssignToLogistics</label>
        <locationX>842</locationX>
        <locationY>487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_step5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Logistics</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLogisticQueueID</name>
        <label>GetLogisticQueueID</label>
        <locationX>1563</locationX>
        <locationY>844</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_owner_to_logistic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Logistics</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLogistics</name>
        <label>GetLogistics</label>
        <locationX>336</locationX>
        <locationY>706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_agent_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Logistics</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLogisticsID</name>
        <label>GetLogisticsIDAfterLegal</label>
        <locationX>1746</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_owner_to_logistic_after_Legal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Logistics</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPurchasingId</name>
        <label>GetPurchasingId</label>
        <locationX>94</locationX>
        <locationY>716</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Vendor_code_and_owner_to_purchase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Purchasing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LegalQueueID</name>
        <label>LegalQueueID</label>
        <locationX>1005</locationX>
        <locationY>1123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_owner_to_legal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Legal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_agent_field</name>
        <label>update agent field</label>
        <locationX>334</locationX>
        <locationY>864</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetLogistics.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Process Interdiction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToggleButtonForBypassValidationInFlow__c</field>
            <value>
                <elementReference>ChangeToggleOnInterdiction</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Data_de_Encerramento_for_cancel</name>
        <label>Update Data de Encerramento for cancel</label>
        <locationX>600</locationX>
        <locationY>168</locationY>
        <inputAssignments>
            <field>Data_de_Encerramento__c</field>
            <value>
                <elementReference>ReturnTodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToggleButtonForBypassValidationInFlow__c</field>
            <value>
                <elementReference>ChangeToggleOnInterdiction</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_date_of_submission_to_logistic_operator_field</name>
        <label>update date of submission to logistic operator  field</label>
        <locationX>939</locationX>
        <locationY>125</locationY>
        <inputAssignments>
            <field>DATE_OF_SUBMISSION_TO_LOGISTICS_OPERATOR__c</field>
            <value>
                <elementReference>ReturnTodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_owner_to_legal</name>
        <label>update owner to legal</label>
        <locationX>947</locationX>
        <locationY>1348</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LegalQueueID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Legal Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToggleButtonForBypassValidationInFlow__c</field>
            <value>
                <elementReference>ChangeToggleOnInterdiction</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_owner_to_logistic</name>
        <label>update owner to logistic</label>
        <locationX>1331</locationX>
        <locationY>886</locationY>
        <connector>
            <targetReference>Email_notification_to_logistic_group</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetLogisticQueueID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Waiting For Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToggleButtonForBypassValidationInFlow__c</field>
            <value>
                <elementReference>ChangeToggleOnInterdiction</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_owner_to_logistic_after_Legal</name>
        <label>update owner to logistic after Legal</label>
        <locationX>1603</locationX>
        <locationY>451</locationY>
        <connector>
            <targetReference>Notification_to_logistics_after_legal</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetLogisticsID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Waiting For Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToggleButtonForBypassValidationInFlow__c</field>
            <value>
                <elementReference>ChangeToggleOnInterdiction</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Book_Collection</name>
        <label>Update Status to Book Collection</label>
        <locationX>1583</locationX>
        <locationY>142</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Book Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToggleButtonForBypassValidationInFlow__c</field>
            <value>
                <elementReference>ChangeToggleOnInterdiction</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_to_Completed</name>
        <label>Update status to Completed</label>
        <locationX>575</locationX>
        <locationY>1205</locationY>
        <inputAssignments>
            <field>Data_de_Encerramento__c</field>
            <value>
                <elementReference>ReturnTodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToggleButtonForBypassValidationInFlow__c</field>
            <value>
                <elementReference>ChangeToggleOnInterdiction</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_step5</name>
        <label>update step5</label>
        <locationX>719</locationX>
        <locationY>514</locationY>
        <connector>
            <targetReference>Notify_logistic_after_purchasing</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AssignToLogistics.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Process Interdiction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToggleButtonForBypassValidationInFlow__c</field>
            <value>
                <elementReference>ChangeToggleOnInterdiction</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Vendor_code_and_owner_to_purchase</name>
        <label>update Vendor code and owner to purchase</label>
        <locationX>61</locationX>
        <locationY>854</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetPurchasingId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Update Vendor Code</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToggleButtonForBypassValidationInFlow__c</field>
            <value>
                <elementReference>ChangeToggleOnInterdiction</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1052</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>check_logic_email_operator</targetReference>
        </connector>
        <object>Interdiction_Process__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
