force-app/main/default/flows/Provax_200_FF_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Any_Adverse_Condition_Seen</name>
        <label>Any Adverse Condition Seen?</label>
        <locationX>617</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Screen_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Adverse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Was_there_any_adverse_condition_observed_when_the_crop_was_sown</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Other_Adverse_Condition</name>
        <label>If Other Adverse Condition?</label>
        <locationX>736</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>Screen_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_Adverse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_was_the_adverse_condition_faced</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_3_0</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Other_Benefit</name>
        <label>If Other Benefit</label>
        <locationX>1172</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>Screen_4_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Others_benefit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_benefits_could_you_notice_by_undertakin_seed_treatment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_4_0</targetReference>
            </connector>
            <label>Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Other_Company</name>
        <label>If Other Company</label>
        <locationX>377</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>Create_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_company_provided_the_machine_for_seed_treatment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen6_0</targetReference>
            </connector>
            <label>Other Company</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Other_Product_Used</name>
        <label>If Other Product Used?</label>
        <locationX>737</locationX>
        <locationY>275</locationY>
        <defaultConnector>
            <targetReference>Screen_2_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Others_product_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2_0</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Other_Source</name>
        <label>If Other Source</label>
        <locationX>1291</locationX>
        <locationY>546</locationY>
        <defaultConnector>
            <targetReference>Screen_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Source</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Where_from_you_come_to_know_about_product_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_4_0_0_0</targetReference>
            </connector>
            <label>Other Source</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfCropSelected</name>
        <label>IfCropSelected?</label>
        <locationX>242</locationX>
        <locationY>157</locationY>
        <defaultConnector>
            <targetReference>Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_having_listed_Crop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_crop_did_you_sow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not having listed Crop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_0</targetReference>
            </connector>
            <label>Not having listed Crop</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfMethodofApplicationMachine</name>
        <label>IfMethodofApplicationMachine?</label>
        <locationX>493</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>Create_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Machine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Method_of_Application_was_used_for_Seed_treatment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Machine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen6</targetReference>
            </connector>
            <label>Machine</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfSurveyAlreadyPresent</name>
        <label>IfSurveyAlreadyPresent?</label>
        <locationX>367</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Provax_200_FF_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Survey</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rate_Overall_Satisfaction_level</name>
        <label>Rate Overall Satisfaction level?</label>
        <locationX>892</locationX>
        <locationY>159</locationY>
        <defaultConnector>
            <targetReference>Screen5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Good_Very_Good</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Rate_your_overall_satisfaction_levels_for_the_seed_treatment_undertaken_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Very Good</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rate_your_overall_satisfaction_levels_for_the_seed_treatment_undertaken_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Good</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_6</targetReference>
            </connector>
            <label>Good/Very Good</label>
        </rules>
    </decisions>
    <decisions>
        <name>Took_Seed_treatment</name>
        <label>Took Seed treatment?</label>
        <locationX>384</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>Screen_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Did_you_undertake_seed_treatment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Survey_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Why_do_you_undertake_seed_treatment_Others</name>
        <label>Why do you undertake seed treatment Others?</label>
        <locationX>484</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Screen_2_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Why_do_you_undertake_seed_treatment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_0</targetReference>
            </connector>
            <label>Others</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Areyougoingtousethesameproductforseedtreatmentinthenextseasoncrop</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Will_use_same_product_in_next_season__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Didyouundertakeseedtreatment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Did_you_undertake_seed_treatment__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Rateyouroverallsatisfactionlevelsfortheseedtreatmentundertaken</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rate_satisfaction_level_seed_treatment__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeframetoseeSeedtreatmentresults</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Time_frame_Seed_treatment_results__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Wasthereanyadverseconditionobservedwhenthecropwassown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Any_adverse_condition_seen_when_crop_swo__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Whatbenefitscouldyounoticebyundertakinseedtreatment</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Benefits_you_notice_by_seed_treatment__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WhatMethodofApplicationwasusedforSeedtreatment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ApplicationMethod_used_fr_Seed_Treatment__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Whatwastheadverseconditionfaced</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Adverse_Condition_Faced__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Wherefromyoucometoknowaboutproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Where_from_you_got_to_know_about_product__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Whichcompanyprovidedthemachineforseedtreatment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Name__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Whichcropdidyousow</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Which_crop_did_you_sow__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Whydoyouundertakeseedtreatmentp</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Why_do_you_undertake_seed_treatment__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Provax 200 FF Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provax 200 FF Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey</name>
        <label>Create Surveyrate</label>
        <locationX>240</locationX>
        <locationY>443</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adverse_Condition_Faced__c</field>
            <value>
                <elementReference>What_was_the_adverse_condition_faced</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Any_adverse_condition_seen_when_crop_swo__c</field>
            <value>
                <elementReference>Was_there_any_adverse_condition_observed_when_the_crop_was_sown</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApplicationMethod_used_fr_Seed_Treatment__c</field>
            <value>
                <elementReference>What_Method_of_Application_was_used_for_Seed_treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Area_sown_in_acres__c</field>
            <value>
                <elementReference>Area_sown_in_acres</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benefits_you_notice_by_seed_treatment__c</field>
            <value>
                <elementReference>What_benefits_could_you_notice_by_undertakin_seed_treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>Which_company_provided_the_machine_for_seed_treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Did_you_undertake_seed_treatment__c</field>
            <value>
                <elementReference>Did_you_undertake_seed_treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Divident__c</field>
            <value>
                <elementReference>Divident_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emesto_Prime__c</field>
            <value>
                <elementReference>Emesto_Prime_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Company__c</field>
            <value>
                <elementReference>If_Other_Company_Please_specify_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_adverse_condition_Please_specify__c</field>
            <value>
                <elementReference>If_Others_Please_specify_else_leave_blank_Adverse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_product_for_Seed_Treatment__c</field>
            <value>
                <elementReference>If_Other_Product_Please_specify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Others_Specify_Reason__c</field>
            <value>
                <elementReference>If_Others_please_specify_else_leave_blank_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Others_benefit_Please_specify__c</field>
            <value>
                <elementReference>If_Other_benefit_Please_specify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Others_product__c</field>
            <value>
                <elementReference>Others_product_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Others_source_Specify__c</field>
            <value>
                <elementReference>If_Other_source_please_specify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provax_200_FF__c</field>
            <value>
                <elementReference>Provax_200_FF_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_satisfaction_level_seed_treatment__c</field>
            <value>
                <elementReference>Rate_your_overall_satisfaction_levels_for_the_seed_treatment_undertaken_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raxil__c</field>
            <value>
                <elementReference>Raxil_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sprint__c</field>
            <value>
                <elementReference>Sprint_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Startup_Saaf__c</field>
            <value>
                <elementReference>Startup_Saaf_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_frame_Seed_treatment_results__c</field>
            <value>
                <elementReference>In_what_time_frame_could_you_see_the_results_of_seed_treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vitavax__c</field>
            <value>
                <elementReference>Vitavax_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Where_from_you_got_to_know_about_product__c</field>
            <value>
                <elementReference>Where_from_you_come_to_know_about_product_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_crop_did_you_sow__c</field>
            <value>
                <elementReference>Which_crop_did_you_sow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Why_do_you_undertake_seed_treatment__c</field>
            <value>
                <elementReference>Why_do_you_undertake_seed_treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Will_use_same_product_in_next_season__c</field>
            <value>
                <elementReference>Are_you_going_to_use_the_same_product_for_seed_treatment_in_the_next_season_crop</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Xelora__c</field>
            <value>
                <elementReference>Xelora_0</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_0</name>
        <label>Create Surveyrate</label>
        <locationX>231</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Area_sown_in_acres__c</field>
            <value>
                <elementReference>Area_sown_in_acres</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Did_you_undertake_seed_treatment__c</field>
            <value>
                <elementReference>Did_you_undertake_seed_treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_crop_did_you_sow__c</field>
            <value>
                <elementReference>Which_crop_did_you_sow</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetRecordTypeId</name>
        <label>GetRecordTypeId</label>
        <locationX>164</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSurveyRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provox 200 FF Survey</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSurveyRecord</name>
        <label>GetSurveyRecord</label>
        <locationX>275</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfSurveyAlreadyPresent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Axedasurvey__c</object>
        <outputAssignments>
            <assignToReference>SurveyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>End_Survey</name>
        <label>End Survey</label>
        <locationX>692</locationX>
        <locationY>43</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndSurvey</name>
            <fieldText>&lt;p&gt;Survey is already present for this account!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provax_200_FF_Survey</name>
        <label>Provax 200 FF Survey</label>
        <locationX>119</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IfCropSelected</targetReference>
        </connector>
        <fields>
            <name>Which_crop_did_you_sow</name>
            <choiceReferences>Whichcropdidyousow</choiceReferences>
            <dataType>String</dataType>
            <fieldText>1. Which crop did you sow?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2_0</name>
        <label>Screen2_0</label>
        <locationX>742</locationX>
        <locationY>165</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_2_0_0_0</targetReference>
        </connector>
        <fields>
            <name>If_Other_Product_Please_specify</name>
            <fieldText>If Other Product, Please specify</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen5</name>
        <label>Screen5</label>
        <locationX>1059</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Any_Adverse_Condition_Seen</targetReference>
        </connector>
        <fields>
            <name>Was_there_any_adverse_condition_observed_when_the_crop_was_sown</name>
            <choiceReferences>Wasthereanyadverseconditionobservedwhenthecropwassown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>8. Was there any adverse condition observed when the crop was sown?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen6</name>
        <label>Screen6</label>
        <locationX>499</locationX>
        <locationY>634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Other_Company</targetReference>
        </connector>
        <fields>
            <name>Which_company_provided_the_machine_for_seed_treatment</name>
            <choiceReferences>Whichcompanyprovidedthemachineforseedtreatment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>14. Which company provided the machine for seed treatment?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen6_0</name>
        <label>Screen6</label>
        <locationX>263</locationX>
        <locationY>659</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Survey</targetReference>
        </connector>
        <fields>
            <name>If_Other_Company_Please_specify_name</name>
            <dataType>String</dataType>
            <fieldText>If Other Company, Please specify name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>355</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Took_Seed_treatment</targetReference>
        </connector>
        <fields>
            <name>Area_sown_in_acres</name>
            <dataType>Number</dataType>
            <fieldText>2. Area sown (in acres)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Did_you_undertake_seed_treatment</name>
            <choiceReferences>Didyouundertakeseedtreatment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>3. Did you undertake seed treatment?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>443</locationX>
        <locationY>153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Why_do_you_undertake_seed_treatment_Others</targetReference>
        </connector>
        <fields>
            <name>Why_do_you_undertake_seed_treatment</name>
            <choiceReferences>Whydoyouundertakeseedtreatmentp</choiceReferences>
            <dataType>String</dataType>
            <fieldText>4. Why do you undertake seed treatment?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2_0</name>
        <label>Screen 2</label>
        <locationX>543</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_2_0_0</targetReference>
        </connector>
        <fields>
            <name>If_Others_please_specify_else_leave_blank_0</name>
            <fieldText>If Others, please specify</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2_0_0</name>
        <label>Screen 2</label>
        <locationX>642</locationX>
        <locationY>162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Other_Product_Used</targetReference>
        </connector>
        <fields>
            <name>Whichproductdidyouuseforseedtreatment_0</name>
            <fieldText>&lt;p&gt;5. Which product did you use for seed treatment?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Provax_200_FF_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Provax 200 FF</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sprint_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Sprint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vitavax_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Vitavax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Xelora_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Xelora</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Startup_Saaf_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Startup Saaf</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Emesto_Prime_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Emesto Prime</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Divident_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Divident</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Raxil_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Raxil</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Others_product_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Others</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2_0_0_0</name>
        <label>Screen 2</label>
        <locationX>835</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Rate_Overall_Satisfaction_level</targetReference>
        </connector>
        <fields>
            <name>Rate_your_overall_satisfaction_levels_for_the_seed_treatment_undertaken_0</name>
            <choiceReferences>Rateyouroverallsatisfactionlevelsfortheseedtreatmentundertaken</choiceReferences>
            <dataType>String</dataType>
            <fieldText>6. Rate your overall satisfaction levels for the seed treatment undertaken</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>667</locationX>
        <locationY>521</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Other_Adverse_Condition</targetReference>
        </connector>
        <fields>
            <name>What_was_the_adverse_condition_faced</name>
            <choiceReferences>Whatwastheadverseconditionfaced</choiceReferences>
            <dataType>String</dataType>
            <fieldText>9. What was the adverse condition faced?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_3_0</name>
        <label>Screen 3</label>
        <locationX>806</locationX>
        <locationY>531</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_4</targetReference>
        </connector>
        <fields>
            <name>If_Others_Please_specify_else_leave_blank_Adverse</name>
            <fieldText>If Others, Please specify else leave blank</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_4</name>
        <label>Screen 4</label>
        <locationX>1066</locationX>
        <locationY>498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Other_Benefit</targetReference>
        </connector>
        <fields>
            <name>What_benefits_could_you_notice_by_undertakin_seed_treatment</name>
            <choiceReferences>Whatbenefitscouldyounoticebyundertakinseedtreatment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>10. What benefits could you notice by undertakin seed treatment?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_4_0</name>
        <label>Screen 4</label>
        <locationX>1179</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_4_0_0</targetReference>
        </connector>
        <fields>
            <name>If_Other_benefit_Please_specify</name>
            <defaultValue>
                <stringValue> </stringValue>
            </defaultValue>
            <fieldText>If Other benefit, Please specify</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_4_0_0</name>
        <label>Screen 4</label>
        <locationX>1290</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Other_Source</targetReference>
        </connector>
        <fields>
            <name>Where_from_you_come_to_know_about_product_0</name>
            <choiceReferences>Wherefromyoucometoknowaboutproduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>11. Where from you come to know about product?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_4_0_0_0</name>
        <label>Screen 4</label>
        <locationX>1398</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_5</targetReference>
        </connector>
        <fields>
            <name>If_Other_source_please_specify</name>
            <fieldText>If Other source, please specify</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_5</name>
        <label>Screen 5</label>
        <locationX>626</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IfMethodofApplicationMachine</targetReference>
        </connector>
        <fields>
            <name>Are_you_going_to_use_the_same_product_for_seed_treatment_in_the_next_season_crop</name>
            <choiceReferences>Areyougoingtousethesameproductforseedtreatmentinthenextseasoncrop</choiceReferences>
            <dataType>String</dataType>
            <fieldText>12. Are you going to use the same product for seed treatment in the next season crop?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_Method_of_Application_was_used_for_Seed_treatment</name>
            <choiceReferences>WhatMethodofApplicationwasusedforSeedtreatment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>13. What Method of Application was used for Seed treatment?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_6</name>
        <label>Screen 6</label>
        <locationX>1093</locationX>
        <locationY>155</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen5</targetReference>
        </connector>
        <fields>
            <name>In_what_time_frame_could_you_see_the_results_of_seed_treatment</name>
            <choiceReferences>TimeframetoseeSeedtreatmentresults</choiceReferences>
            <dataType>String</dataType>
            <fieldText>7. In what time frame could you see the results of seed treatment?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>103</locationX>
        <locationY>389</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThannkYou</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for taking the survey!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetRecordTypeId</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
