force-app/main/default/flows/ResistantWeed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Other_Decission</name>
        <label>Other Decission</label>
        <locationX>343</locationX>
        <locationY>222</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeOther_SpecifySegment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_yes_on_which_segment_s_is_the_product_name_of_the_product_from_Q1_used</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_2</targetReference>
            </connector>
            <label>OutcomeOther:SpecifySegment</label>
        </rules>
        <rules>
            <name>OutcomeNonOther_SpecifySegment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>If_yes_on_which_segment_s_is_the_product_name_of_the_product_from_Q1_used</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Other_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2_1</targetReference>
            </connector>
            <label>OutcomeNonOther:SpecifySegment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen1Decission</name>
        <label>Screen1Decission</label>
        <locationX>475</locationX>
        <locationY>22</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeNone_Screen1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_the_farmers_in_your_territory_use_the_below_non_selective_herbicides</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectText</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen1</targetReference>
            </connector>
            <label>OutcomeNone:Screen1</label>
        </rules>
        <rules>
            <name>OutcomeNotNone_Screen1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_the_farmers_in_your_territory_use_the_below_non_selective_herbicides</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SelectText</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateResistantWeedRecord</targetReference>
            </connector>
            <label>OutcomeNotNone:Screen1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen3Decission</name>
        <label>Screen3Decission</label>
        <locationX>172</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeNo_Do_you_want_to_specify_more_segment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_specify_more_weed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen4</targetReference>
            </connector>
            <label>OutcomeNo:Do you want to specify more segment</label>
        </rules>
        <rules>
            <name>OutcomeYes_Do_you_want_to_specify_more_segments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_specify_more_weed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2</targetReference>
            </connector>
            <label>OutcomeYes:Do you want to specify more segment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen5_1_Decision</name>
        <label>Screen5.1 Decision</label>
        <locationX>43</locationX>
        <locationY>1317</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_AddMoreProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_more_product_for_Non_Selective_Herbiscide</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen1</targetReference>
            </connector>
            <label>OutcomeYes:AddMoreProduct</label>
        </rules>
        <rules>
            <name>OutcomeNo_AddMoreProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_add_more_product_for_Non_Selective_Herbiscide</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Terminate_Screen</targetReference>
            </connector>
            <label>OutcomeNo:AddMoreProduct</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen5Decission</name>
        <label>Screen5Decission</label>
        <locationX>170</locationX>
        <locationY>1132</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>OutcomeYes_Do_you_want_speciffy_more_segment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_specify_more_segmnt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen4</targetReference>
            </connector>
            <label>OutcomeYes: Do you want speciffy more segment</label>
        </rules>
        <rules>
            <name>OutcomeNo_Do_you_want_speciffy_more_segment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_specify_more_segmnt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_5_1</targetReference>
            </connector>
            <label>OutcomeNo: Do you want speciffy more segment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_4_descision</name>
        <label>Screen 4 descision</label>
        <locationX>417</locationX>
        <locationY>724</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Outcome_NonOtherMentionWeed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mention_weeds_that_developed_resistant</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Other_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_4_1</targetReference>
            </connector>
            <label>Outcome:NonOtherMentionWeed</label>
        </rules>
        <rules>
            <name>Outcome_OtherMentionWeed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mention_weeds_that_developed_resistant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other_Text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen4_2</targetReference>
            </connector>
            <label>Outcome:OtherMentionWeed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AddMoreProduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_want_to_add_more_product__c</picklistField>
        <picklistObject>Survey_Feedback__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Basisforspraysolutionpreparation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Basis_for_spray_solution_preparation__c</picklistField>
        <picklistObject>Survey_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Dothefarmersinyourterritoryusethebelownonselectiveherbicides</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Please_choose_non_selective_Herbicide__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Doyouwanttospecifymorese</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_want_to_specify_more_se__c</picklistField>
        <picklistObject>Survey_Feedback__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Doyouwanttospecifymoresegment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_want_to_specify_more_segment__c</picklistField>
        <picklistObject>Survey_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ifyesonwhichsegmentsistheproductused</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Specify_segments_for_selected_product__c</picklistField>
        <picklistObject>Survey_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Mentionweedsthatdevelopedresistant</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mention_weeds_that_developed_resistant__c</picklistField>
        <picklistObject>Survey_Feedback__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pleasespecifythelevelofresistance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Please_specify_the_level_of_resistance__c</picklistField>
        <picklistObject>Survey_Feedback__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpeciffytheweedsthathavedevelopedresistanttoProduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Specify_weeds_that_developed_resistant__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Zone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Zone__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>No_Text</name>
        <dataType>String</dataType>
        <expression>&apos;No&apos;</expression>
    </formulas>
    <formulas>
        <name>Other_Text</name>
        <dataType>String</dataType>
        <expression>&apos;Other&apos;</expression>
    </formulas>
    <formulas>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <expression>&apos;0120K000001Ht09&apos;</expression>
    </formulas>
    <formulas>
        <name>SelectText</name>
        <dataType>String</dataType>
        <expression>&apos;Select&apos;</expression>
    </formulas>
    <formulas>
        <name>Yes_Text</name>
        <dataType>String</dataType>
        <expression>&apos;Yes&apos;</expression>
    </formulas>
    <interviewLabel>ResistantWeed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ResistantWeedV57</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateResistantWeedRecord</name>
        <label>CreateResistantWeedRecord</label>
        <locationX>424</locationX>
        <locationY>125</locationY>
        <assignRecordIdToReference>RecordVar</assignRecordIdToReference>
        <connector>
            <targetReference>Screen_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Please_choose_non_selective_Herbicide__c</field>
            <value>
                <elementReference>Do_the_farmers_in_your_territory_use_the_below_non_selective_herbicides</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateSurveyDetail</name>
        <label>CreateSurveyDetail</label>
        <locationX>708</locationX>
        <locationY>426</locationY>
        <connector>
            <targetReference>Screen3</targetReference>
        </connector>
        <inputAssignments>
            <field>Basis_for_spray_solution_preparation__c</field>
            <value>
                <elementReference>Basis_for_spray_solution_preparation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_you_want_to_specify_more_segment__c</field>
            <value>
                <elementReference>Do_you_want_to_specify_more_weed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Please_specify_the_dose_in_ml__c</field>
            <value>
                <elementReference>Please_specify_the_dose_in_ml</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specify_segments_for_selected_product__c</field>
            <value>
                <elementReference>If_yes_on_which_segment_s_is_the_product_name_of_the_product_from_Q1_used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>RecordVar</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Detail__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateSurveyDetailV1</name>
        <label>CreateSurveyDetailV1</label>
        <locationX>513</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>Screen3</targetReference>
        </connector>
        <inputAssignments>
            <field>Basis_for_spray_solution_preparation__c</field>
            <value>
                <elementReference>Basis_for_the_spray_solution_preparation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_other_segment_please_specify_1__c</field>
            <value>
                <elementReference>Other1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Please_specify_the_dose_in_ml__c</field>
            <value>
                <elementReference>Please_specify_the_dose_in_militre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specify_segments_for_selected_product__c</field>
            <value>
                <elementReference>If_yes_on_which_segment_s_is_the_product_name_of_the_product_from_Q1_used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>RecordVar</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Detail__c</object>
    </recordCreates>
    <recordCreates>
        <name>SurveyFeedback</name>
        <label>SurveyFeedback</label>
        <locationX>468</locationX>
        <locationY>946</locationY>
        <connector>
            <targetReference>Screen_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Mention_weeds_that_developed_resistant__c</field>
            <value>
                <elementReference>Mention_weeds_that_developed_resistant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Please_specify_the_level_of_resistance__c</field>
            <value>
                <elementReference>Please_specify_the_level_of_resistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>RecordVar</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Feedback__c</object>
    </recordCreates>
    <recordCreates>
        <name>SurveyFeedback2</name>
        <label>SurveyFeedback</label>
        <locationX>750</locationX>
        <locationY>938</locationY>
        <connector>
            <targetReference>Screen_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Mention_weeds_that_developed_resistant__c</field>
            <value>
                <elementReference>Mention_weeds_that_developed_resistant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Others_1__c</field>
            <value>
                <elementReference>Others1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Please_specify_the_level_of_resistance__c</field>
            <value>
                <elementReference>Please_specify_level_of_the_resistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey__c</field>
            <value>
                <elementReference>RecordVar</elementReference>
            </value>
        </inputAssignments>
        <object>Survey_Feedback__c</object>
    </recordCreates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>47</locationX>
        <locationY>11</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen1Decission</targetReference>
        </connector>
        <fields>
            <name>Do_the_farmers_in_your_territory_use_the_below_non_selective_herbicides</name>
            <choiceReferences>Dothefarmersinyourterritoryusethebelownonselectiveherbicides</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Do the farmers in your territory use the below non selective herbicides?&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2_1</name>
        <label>Screen2.1</label>
        <locationX>687</locationX>
        <locationY>274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateSurveyDetail</targetReference>
        </connector>
        <fields>
            <name>Basis_for_spray_solution_preparation</name>
            <choiceReferences>Basisforspraysolutionpreparation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Basis for spray solution preparation&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Please_specify_the_dose_in_ml</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please specify the dose in ml&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>369</locationX>
        <locationY>534</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen3Decission</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_specify_more_weed</name>
            <choiceReferences>Doyouwanttospecifymoresegment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Do you want to specify more Segments&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen4</name>
        <label>Screen4</label>
        <locationX>174</locationX>
        <locationY>736</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_4_descision</targetReference>
        </connector>
        <fields>
            <name>Mention_weeds_that_developed_resistant</name>
            <choiceReferences>Mentionweedsthatdevelopedresistant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Mention weeds that developed resistant for &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Do_the_farmers_in_your_territory_use_the_below_non_selective_herbicides}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen4_2</name>
        <label>Screen4.2</label>
        <locationX>728</locationX>
        <locationY>816</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SurveyFeedback2</targetReference>
        </connector>
        <fields>
            <name>Others1</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Others&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_specify_level_of_the_resistance</name>
            <choiceReferences>Pleasespecifythelevelofresistance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please specify level of the resistance for &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Do_the_farmers_in_your_territory_use_the_below_non_selective_herbicides}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>169</locationX>
        <locationY>167</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Decission</targetReference>
        </connector>
        <fields>
            <name>If_yes_on_which_segment_s_is_the_product_name_of_the_product_from_Q1_used</name>
            <choiceReferences>Ifyesonwhichsegmentsistheproductused</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;If yes on which segment is the product  {!Do_the_farmers_in_your_territory_use_the_below_non_selective_herbicides} used&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2_2</name>
        <label>Screen 2.2</label>
        <locationX>385</locationX>
        <locationY>334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateSurveyDetailV1</targetReference>
        </connector>
        <fields>
            <name>Other1</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Other&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Basis_for_the_spray_solution_preparation</name>
            <choiceReferences>Basisforspraysolutionpreparation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Basis for spray solution preparation&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Please_specify_the_dose_in_militre</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please specify the dose in ml&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_4_1</name>
        <label>Screen 4.1</label>
        <locationX>418</locationX>
        <locationY>835</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SurveyFeedback</targetReference>
        </connector>
        <fields>
            <name>Please_specify_the_level_of_resistance</name>
            <choiceReferences>Pleasespecifythelevelofresistance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please specify the level of resistance for &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Do_the_farmers_in_your_territory_use_the_below_non_selective_herbicides}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_5</name>
        <label>Screen 5</label>
        <locationX>364</locationX>
        <locationY>1049</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen5Decission</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_specify_more_segmnt</name>
            <choiceReferences>Doyouwanttospecifymorese</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Do you want to specify more weed for &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Do_the_farmers_in_your_territory_use_the_below_non_selective_herbicides}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_5_1</name>
        <label>Screen 5.1</label>
        <locationX>351</locationX>
        <locationY>1239</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen5_1_Decision</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_add_more_product_for_Non_Selective_Herbiscide</name>
            <choiceReferences>AddMoreProduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Do you want to continue the survey with product other than {!Do_the_farmers_in_your_territory_use_the_below_non_selective_herbicides}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Terminate_Screen</name>
        <label>Terminate Screen</label>
        <locationX>371</locationX>
        <locationY>1533</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Thank You for feedback!!!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Screen1</startElementReference>
    <status>Active</status>
    <variables>
        <name>LoopVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectiveHerbicide</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Dothefarmersinyourterritoryusethebelownonselectiveherbicides</elementReference>
        </value>
    </variables>
    <variables>
        <name>SurveyDetail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Detail__c</objectType>
    </variables>
    <variables>
        <name>surveyDetails_sObjectCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Detail__c</objectType>
    </variables>
    <variables>
        <name>SurveyDetailVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Detail__c</objectType>
    </variables>
    <variables>
        <name>SurveyObject</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Axedasurvey__c</objectType>
    </variables>
</Flow>
