force-app/main/default/flows/Retailer_wise_business_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>FirstTimeBuyer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>First_Time_Buyer__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductNameChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Name__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Retailer wise business flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retailer wise business flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_a_survey</name>
        <label>create a survey</label>
        <locationX>395</locationX>
        <locationY>346</locationY>
        <assignRecordIdToReference>NewAbsenceId</assignRecordIdToReference>
        <connector>
            <targetReference>last_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_SAP_Code__c</field>
            <value>
                <elementReference>Customer_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_Name__c</field>
            <value>
                <elementReference>District_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Time_Buyer__c</field>
            <value>
                <elementReference>First_Time_Buyer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Name__c</field>
            <value>
                <elementReference>Market_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobileNo__c</field>
            <value>
                <elementReference>Mobile_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_in_kg_ltrs__c</field>
            <value>
                <elementReference>Quantity_in_kg_ltrs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retailer_Name__c</field>
            <value>
                <elementReference>Retailer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBU_Code__c</field>
            <value>
                <elementReference>SBUCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBU_Name__c</field>
            <value>
                <elementReference>SBUName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Code__c</field>
            <value>
                <elementReference>territoryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Name__c</field>
            <value>
                <elementReference>territoryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zone_Code__c</field>
            <value>
                <elementReference>zoneCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zone_Name__c</field>
            <value>
                <elementReference>zoneName</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordCreates>
    <recordLookups>
        <name>record_type</name>
        <label>record type</label>
        <locationX>235</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_a_survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retailer_Wise_Business</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordtypeid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>last_screen</name>
        <label>last screen</label>
        <locationX>605</locationX>
        <locationY>337</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thankyou</name>
            <fieldText>&lt;p&gt;Thank you !&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_1</name>
        <label>screen 1</label>
        <locationX>446</locationX>
        <locationY>129</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>record_type</targetReference>
        </connector>
        <fields>
            <name>Market_Name</name>
            <dataType>String</dataType>
            <fieldText>Market Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>District_Name</name>
            <dataType>String</dataType>
            <fieldText>District Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Name</name>
            <choiceReferences>ProductNameChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Retailer_Name</name>
            <dataType>String</dataType>
            <fieldText>Retailer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_No</name>
            <dataType>String</dataType>
            <fieldText>Mobile No of Retailer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter 10 digit mobile number&lt;/p&gt;</errorMessage>
                <formulaExpression>ISNUMBER ({!Mobile_No}) &amp;&amp; LEN ({!Mobile_No}) &lt; 11 &amp;&amp; LEN ({!Mobile_No}) &gt; 9</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Quantity_in_kg_ltrs</name>
            <dataType>Number</dataType>
            <fieldText>Quantity (in kg/ltrs)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please enter only numeric values upto 4 digits, Decimals not allowed and  greater than 0&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(FLOOR( {!Quantity_in_kg_ltrs}) ={!Quantity_in_kg_ltrs},
CEILING( {!Quantity_in_kg_ltrs})&gt;0,
{!Quantity_in_kg_ltrs} &lt;= 9999
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>First_Time_Buyer</name>
            <choiceReferences>FirstTimeBuyer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>First Time Buyer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Code</name>
            <dataType>String</dataType>
            <fieldText>Customer Code (7-digits)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter a 7 digit Customer Code&lt;/p&gt;</errorMessage>
                <formulaExpression>ISNUMBER ({!Customer_Code}) &amp;&amp; LEN ({!Customer_Code}) &gt; 6 &amp;&amp; LEN ({!Customer_Code}) &lt; 8</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>screen_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAbsenceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordtypeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SBUCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SBUName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>territoryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>territoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>zoneCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>zoneName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
