force-app/main/default/flows/Sales_Order_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Values</name>
        <label>Check Values</label>
        <locationX>390</locationX>
        <locationY>96</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Sales_Org_India_ALS</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrgCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1410</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOrgCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1510</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_up_on_Sales_Area</targetReference>
            </connector>
            <label>Sales Org India/ALS</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_UGDN_found</name>
        <label>If UGDN found</label>
        <locationX>390</locationX>
        <locationY>305</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>UGDN_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UGDN_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SAP_Password</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_Order</targetReference>
            </connector>
            <label>UGDN found</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_User_is_found</name>
        <label>If User is found</label>
        <locationX>593</locationX>
        <locationY>197</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountOwnerInSalesArea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_on_user</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>for setting UGDN and Password
CB Ketan, Divya Singh: 30-04-2020: Added ALS also for INCTASK0176444</description>
    <environments>Default</environments>
    <interviewLabel>Sales Order Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Order Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_up_on_Sales_Area</name>
        <label>Look up on Sales Area</label>
        <locationX>583</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_User_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Distributor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrgCode</elementReference>
            </value>
        </filters>
        <object>DistributorSalesAreaMapping__c</object>
        <outputAssignments>
            <assignToReference>AccountOwnerInSalesArea</assignToReference>
            <field>AccountOwner__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_on_user</name>
        <label>Lookup on user</label>
        <locationX>384</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_UGDN_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountOwnerInSalesArea</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>SAP_Password</assignToReference>
            <field>SAP_User_Password__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UGDN_Number</assignToReference>
            <field>UGDN_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_Order</name>
        <label>Update Sales Order</label>
        <locationX>607</locationX>
        <locationY>305</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SAP_Password__c</field>
            <value>
                <elementReference>SAP_Password</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UGDN__c</field>
            <value>
                <elementReference>UGDN_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountOwnerInSalesArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesOrgCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAP_Password</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UGDN_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
