force-app/main/default/flows/Sorter_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>If_already_exist</name>
        <label>If already exist</label>
        <locationX>45</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>screen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sortersurveyrecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>last_screen</targetReference>
            </connector>
            <label>if exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_no</name>
        <label>if no</label>
        <locationX>294</locationX>
        <locationY>302</locationY>
        <defaultConnector>
            <targetReference>last</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_not_used</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HaveyouusedSorter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s1</targetReference>
            </connector>
            <label>if not used</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Other_Give_Reason</name>
        <label>If Other Give Reason</label>
        <locationX>1075</locationX>
        <locationY>407</locationY>
        <defaultConnector>
            <targetReference>create_survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfOthers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X8_If_No_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_6</targetReference>
            </connector>
            <label>IfOthers?</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Other_Give_Reasons</name>
        <label>If Other Give Reasons</label>
        <locationX>651</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>Screen_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Other_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X6_If_Poor_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_7</targetReference>
            </connector>
            <label>If Other Reason</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Q7_No_Reasons</name>
        <label>If Q7 No Reasons</label>
        <locationX>658</locationX>
        <locationY>247</locationY>
        <defaultConnector>
            <targetReference>create_survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_No_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X7_Would_you_use_Sorter_next_year</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_5</targetReference>
            </connector>
            <label>If No</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_yes</name>
        <label>if yes</label>
        <locationX>436</locationX>
        <locationY>169</locationY>
        <defaultConnector>
            <targetReference>create_survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X2_If_no_have_you_seen_the_usage_of_Sorter_being_done_by_any_of_your_fellow_farm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>last</targetReference>
            </connector>
            <label>if Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfQ5isPoor</name>
        <label>IfQ5isPoor?</label>
        <locationX>435</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Screen_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfPoor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X5_How_do_you_find_the_results_of_Sorter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4-Poor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen3</targetReference>
            </connector>
            <label>IfPoor</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>HaveyouusedSorter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>X1_Have_you_used_Sorter__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HowdoyoufindtheresultsofSorter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>How_do_you_find_the_results_of_Sorter__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>If_No_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>X8_If_No_Reason__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IfPoorReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>X6_If_Poor_Reasons__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InwhichcropwasSorterusec</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>In_which_crop_was_Sorter_used__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WouldyouuseSorternextyear</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>X7_Would_you_use_Sorter_next_year__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X4ForwhichpestwasSorterused</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>X4_For_which_pest_was_Sorter_used__c</picklistField>
        <picklistObject>Axedasurvey__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Sorter Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sorter Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_survey</name>
        <label>create survey</label>
        <locationX>812</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>thank_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_do_you_find_the_results_of_Sorter__c</field>
            <value>
                <elementReference>X5_How_do_you_find_the_results_of_Sorter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_no_have_you_seen_the_usage_of_Sorter__c</field>
            <value>
                <elementReference>X2_If_no_have_you_seen_the_usage_of_Sorter_being_done_by_any_of_your_fellow_farm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_which_crop_was_Sorter_used__c</field>
            <value>
                <elementReference>In_which_crop_was_Sorter_used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>REcordtypeid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1_Have_you_used_Sorter__c</field>
            <value>
                <elementReference>X1_Have_you_used_Sorter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X4_For_which_pest_was_Sorter_used__c</field>
            <value>
                <elementReference>For_which_pest_was_Sorter_used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X6_If_Others_Reasons__c</field>
            <value>
                <elementReference>X6_If_Other_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X6_If_Poor_Reasons__c</field>
            <value>
                <elementReference>X6_If_Poor_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X7_Would_you_use_Sorter_next_year__c</field>
            <value>
                <elementReference>X7_Would_you_use_Sorter_next_year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X8_If_No_Reason__c</field>
            <value>
                <elementReference>X8_If_No_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X8_If_Other_Reason__c</field>
            <value>
                <elementReference>X8_If_Other_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Axedasurvey__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Sorter_Survey_Record</name>
        <label>Get Sorter Survey Record</label>
        <locationX>54</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>REcordtypeid</elementReference>
            </value>
        </filters>
        <object>Axedasurvey__c</object>
        <outputReference>Sortersurveyrecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Record_type_id</name>
        <label>Record type id</label>
        <locationX>141</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sorter_Survey_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sorter_Record</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>REcordtypeid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>last</name>
        <label>last</label>
        <locationX>432</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IfQ5isPoor</targetReference>
        </connector>
        <fields>
            <name>In_which_crop_was_Sorter_used</name>
            <choiceReferences>InwhichcropwasSorterusec</choiceReferences>
            <dataType>String</dataType>
            <fieldText>3. In which crop was Sorter used?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>For_which_pest_was_Sorter_used</name>
            <choiceReferences>X4ForwhichpestwasSorterused</choiceReferences>
            <dataType>String</dataType>
            <fieldText>4.  For which pest was Sorter used?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>X5_How_do_you_find_the_results_of_Sorter</name>
            <choiceReferences>HowdoyoufindtheresultsofSorter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>5.How do you find the results of Sorter?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>last_screen</name>
        <label>last screen</label>
        <locationX>51</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>a</name>
            <fieldText>&lt;p&gt;Survey is already done for this account&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>s1</name>
        <label>if no screen</label>
        <locationX>299</locationX>
        <locationY>162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>if_yes</targetReference>
        </connector>
        <fields>
            <name>X2_If_no_have_you_seen_the_usage_of_Sorter_being_done_by_any_of_your_fellow_farm</name>
            <choiceReferences>HaveyouusedSorter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>2.If no, have you seen the usage of Sorter being done by any of your fellow farmer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>199</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>if_no</targetReference>
        </connector>
        <fields>
            <name>X1_Have_you_used_Sorter</name>
            <choiceReferences>HaveyouusedSorter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>1.	Have you used Sorter?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>538</locationX>
        <locationY>644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Other_Give_Reasons</targetReference>
        </connector>
        <fields>
            <name>X6_If_Poor_Reason</name>
            <choiceReferences>IfPoorReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>6. If Poor, Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_4</name>
        <label>Screen 4</label>
        <locationX>535</locationX>
        <locationY>271</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Q7_No_Reasons</targetReference>
        </connector>
        <fields>
            <name>X7_Would_you_use_Sorter_next_year</name>
            <choiceReferences>HaveyouusedSorter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>7. Would you use Sorter, next year?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_5</name>
        <label>Screen 5</label>
        <locationX>890</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Other_Give_Reason</targetReference>
        </connector>
        <fields>
            <name>X8_If_No_Reason</name>
            <choiceReferences>If_No_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>8. If No, Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_6</name>
        <label>Screen 6</label>
        <locationX>1084</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_survey</targetReference>
        </connector>
        <fields>
            <name>X8_If_Other_Reason</name>
            <fieldText>8. If Other, Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_7</name>
        <label>Screen 7</label>
        <locationX>650</locationX>
        <locationY>364</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_4</targetReference>
        </connector>
        <fields>
            <name>X6_If_Other_Reason</name>
            <fieldText>6. If Other, Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>thank_screen</name>
        <label>thank screen</label>
        <locationX>1227</locationX>
        <locationY>32</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thank</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Thank You! &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Record_type_id</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REcordtypeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sortersurveyrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Axedasurvey__c</objectType>
    </variables>
</Flow>
