force-app/main/default/flows/Tele_Selling_Call_6.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>C6F12R1Are_you_satisfied_with_the_results</name>
        <label>C6F12R1-Are you satisfied with the results?</label>
        <locationX>758</locationX>
        <locationY>652</locationY>
        <defaultConnector>
            <targetReference>C6R2DetailsPresent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_Dissatisfied</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>C6F12R1_Are_you_satisfied_with_the_results</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Dissatisfied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>C6F12R1_Are_you_satisfied_with_the_results</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Neutral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F12R1_Dissatisfied</targetReference>
            </connector>
            <label>1 - Dissatisfied</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6F12R2_Are_you_satisfied</name>
        <label>C6F12R2 -Are you satisfied?</label>
        <locationX>1379</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>C6R3DetailsPresent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2_Dissatisfied</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>C6F12R2_Are_you_satisfied_with_the_results</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Dissatisfied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>C6F12R2_Are_you_satisfied_with_the_results</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Neutral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F12R2_Dissatisfied</targetReference>
            </connector>
            <label>1 - Dissatisfied</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6F12R3_satisfied_with_the_results</name>
        <label>C6F12R3 satisfied with the results</label>
        <locationX>1959</locationX>
        <locationY>643</locationY>
        <defaultConnector>
            <targetReference>C6R4DetailsPresent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X3_Dissatisfied</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>C6F12R3_Are_you_satisfied_with_the_results</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Dissatisfied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>C6F12R3_Are_you_satisfied_with_the_results</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Neutral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F12R3_Dissatisfied_Reason</targetReference>
            </connector>
            <label>1 - Dissatisfied</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6F12R4_satisfied_with_the_results</name>
        <label>C6F12R4 satisfied with the results</label>
        <locationX>2601</locationX>
        <locationY>711</locationY>
        <defaultConnector>
            <targetReference>Update_C6_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C6F12R4_1_Dissatisfied</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>C6F12R4_Are_you_satisfied_with_the_results</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - Dissatisfied</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>C6F12R4_Are_you_satisfied_with_the_results</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2 - Neutral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F12R4_Dissatisfied</targetReference>
            </connector>
            <label>C6F12R4 - 1 - Dissatisfied</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6F13R1_If_No_Reasons_Others_Decision</name>
        <label>C6F13R1 -If No, Reasons Others Decision</label>
        <locationX>985</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>C6R2DetailsPresent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C6F13R1_Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F13R1_If_No_Reasons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F13R1_If_No_Other_Reasons</targetReference>
            </connector>
            <label>C6F13R1-Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6F13R2_If_No_Reasons_Others_decision</name>
        <label>C6F13R2 -If No Reasons Others decision</label>
        <locationX>1559</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>C6R3DetailsPresent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C6F13R2_Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F13R2_If_No_Reasons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F13R2_Others_If_No_Reasons</targetReference>
            </connector>
            <label>C6F13R2 - Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6F13R3_reason_descision</name>
        <label>C6F13R3 - reason descision</label>
        <locationX>2329</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>C6R4DetailsPresent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C6F13R3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F13R3_If_No_Reasons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F13R3_If_No_others_Reasons</targetReference>
            </connector>
            <label>C6F13R3 - others</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6F13R4_Disastisfied_reason_Others</name>
        <label>C6F13R4 - Disastisfied reason Others</label>
        <locationX>2963</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>Update_C6_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C6F13R4_Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F13R4_If_No_Reasons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F13R4_If_No_Reasons_Others_0</targetReference>
            </connector>
            <label>C6F13R4 - Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6F1R1_If</name>
        <label>C6F1R1_If</label>
        <locationX>261</locationX>
        <locationY>727</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F1R1_Did_you_buy_the_product_as_per_recommendation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_6_Follow_Up_5_DAYS_No</targetReference>
            </connector>
            <label>IfNo</label>
        </rules>
        <rules>
            <name>IfYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F1R1_Did_you_buy_the_product_as_per_recommendation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_6_Follow_Up_5_DAYS</targetReference>
            </connector>
            <label>IfYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6F1R3_Bought_the_product_Yes</name>
        <label>C6F1R3 -Bought the product Yes</label>
        <locationX>1741</locationX>
        <locationY>833</locationY>
        <defaultConnector>
            <targetReference>C6F1R3_Didn_t_buy_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C6F1R3_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F1R3_Did_you_buy_the_product_as_per_recommendation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F1R3_Bought_the_product</targetReference>
            </connector>
            <label>C6F1R3 - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6F1R4_Bought_recommended_product</name>
        <label>C6F1R4 - Bought recommended product?</label>
        <locationX>2417</locationX>
        <locationY>837</locationY>
        <defaultConnector>
            <targetReference>C6R4Details_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C6F1R4_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F1R4_Did_you_buy_the_product_as_per_recommendation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6R4Details_0</targetReference>
            </connector>
            <label>C6F1R4 - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6F2R3_Reason_fr_not_buying_product</name>
        <label>C6F2R3 -Reason fr not buying product</label>
        <locationX>1861</locationX>
        <locationY>969</locationY>
        <defaultConnector>
            <targetReference>C6R4DetailsPresent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C6F2R3_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F2R3_Reason_for_not_buying_the_product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F2R3_Others</targetReference>
            </connector>
            <label>C6F2R3 - Other</label>
        </rules>
        <rules>
            <name>C6F2R3_Will_be_applying_later</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F2R3_Reason_for_not_buying_the_product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Will be applying later</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F2R3_Will_apply_later</targetReference>
            </connector>
            <label>C6F2R3 - Will be applying later</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6F2R4_Reason_for_not_buying</name>
        <label>C6F2R4  -Reason for not buying</label>
        <locationX>2641</locationX>
        <locationY>973</locationY>
        <defaultConnector>
            <targetReference>Update_C6_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C6F2R4_Will_be_applying_later</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F2R4_Reason_for_not_buying_the_product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Will be applying later</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F2R4_Reason_Will_apply_later</targetReference>
            </connector>
            <label>C6F2R4 - Will be applying later</label>
        </rules>
        <rules>
            <name>C6F2R4_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F2R4_Reason_for_not_buying_the_product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F2R2_Reason_fr_not_buy_othrs</targetReference>
            </connector>
            <label>C6F2R4 - Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6FollowUpNeeded</name>
        <label>C6FollowUpNeeded</label>
        <locationX>269</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>Do_you_want_to_see_C5_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C6FollowUp_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6FollowUp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecommendedProducts</targetReference>
            </connector>
            <label>C6FollowUp - True</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6IfPestInfestation</name>
        <label>C6IfPestInfestation</label>
        <locationX>524</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Product_Recommendation_Call6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PestInfestationYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6_Any_pest_infestation_observed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6InfestationDetails</targetReference>
            </connector>
            <label>PestInfestationYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6R2DetailsPresent</name>
        <label>C6R2DetailsPresent?</label>
        <locationX>823</locationX>
        <locationY>906</locationY>
        <defaultConnector>
            <targetReference>Update_C6_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6Survey.C6R2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6R2_Details</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6R3DetailsPresent</name>
        <label>C6R3DetailsPresent?</label>
        <locationX>1530</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Update_C6_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C6R3Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6Survey.C6R3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6R3_Details</targetReference>
            </connector>
            <label>C6R3Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>C6R4DetailsPresent</name>
        <label>C6R4DetailsPresent?</label>
        <locationX>2161</locationX>
        <locationY>761</locationY>
        <defaultConnector>
            <targetReference>Update_C6_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C6R4Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6Survey.C6R4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>--None--</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6R4_Details</targetReference>
            </connector>
            <label>C6R4Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_you_buy_the_product_as_per_recommendation_C6F1R2</name>
        <label>Did you buy the product as per recommendation-C6F1R2</label>
        <locationX>1030</locationX>
        <locationY>1081</locationY>
        <defaultConnector>
            <targetReference>C6F1R2_Didn_t_buy_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C6F1R2_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F1R2_Did_you_buy_the_product_as_per_recommendation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F1R2_Bought_Product_Yes</targetReference>
            </connector>
            <label>C6F1R2-Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_C5_Details_Present</name>
        <label>If C5 Details Present?</label>
        <locationX>863</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>C5DetailsNotpresent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C5_Details_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Survey.C5_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_5_Details</targetReference>
            </connector>
            <label>C5 Details - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_for_not_buying_the_product_C6F2R1</name>
        <label>Reason for not buying the product-C6F2R1</label>
        <locationX>461</locationX>
        <locationY>895</locationY>
        <defaultConnector>
            <targetReference>C6R2DetailsPresent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Will_be_apply_later</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F2R1_Reason_for_not_buying_the_product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Will be applying later</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Willbeapplylater_C6R1</targetReference>
            </connector>
            <label>Will be apply later</label>
        </rules>
        <rules>
            <name>Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F2R1_Reason_for_not_buying_the_product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Others_C6R1</targetReference>
            </connector>
            <label>Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_for_not_buying_the_product_C6F2R2</name>
        <label>Reason for not buying the product C6F2R2</label>
        <locationX>1221</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>C6R3DetailsPresent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Will_be_applying_later</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F2R2_Reason_for_not_buying_the_product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Will be applying later</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F2R2_Will_be_applying_later</targetReference>
            </connector>
            <label>Will be applying later</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C6F2R2_Reason_for_not_buying_the_product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C6F2R2_others_Reason_for_not_buying_product</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Want_to_see_C5_details</name>
        <label>Want to see C5 details?</label>
        <locationX>614</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>Call6_Start</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>C5_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_C5_Details</targetReference>
            </connector>
            <label>C5 - Yes</label>
        </rules>
    </decisions>
    <description>Call 6</description>
    <dynamicChoiceSets>
        <name>C6_Disease_Box</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6_Disease_box__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6_Pest_Box</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6_Pest_box__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6_PGR_Box</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6_PGR_box__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6_Weed_Box</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6_Weed_box__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6Anypestinfestationobserved</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6_Any_pest_infestation_observed__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F10R1Didyouusetheprodinentirecroparea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F10R1_Did_you_use_the_prod_in_entire__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F10R2Didyouusetheprodinentirecroparea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F10R2_Did_you_use_the_prod_in_entire__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F10R3Didyouusetheprodinentirecroparea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F10R3_Did_you_use_the_prod_in_entire__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F10R4Didyouusetheprodinentirecroparea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F10R4_Did_you_use_the_prod_in_entire__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F12R1Areyousatisfiedwiththeresults</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F12R1_Are_you_satisfied_with_the_res__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F12R2Areyousatisfiedwiththeresults</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F12R2_Are_you_satisfied_with_the_res__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F12R3Areyousatisfiedwiththeresults</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F12R3_Are_you_satisfied_with_the_res__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F12R4Areyousatisfiedwiththeresults</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F12R4_Are_you_satisfied_with_the_res__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F13R1IfNoReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F13R1_If_No_Reasons__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F13R2IfNoReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F13R2_If_No_Reasons__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F13R3IfNoReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F13R3_If_No_Reasons__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F13R4IfNoReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F13R4_If_No_Reasons__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F1R1Didyoubuytheproductasperrecommendation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F1R1_Did_you_buy_the_product_as_per_r__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F1R2Didyoubuytheproductasperrecommendation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F1R2_Did_you_buy_the_product_as_per_r__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F1R3Didyoubuytheproductasperrecommendation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F1R3_Did_you_buy_the_product_as_per_r__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F1R4Didyoubuytheproductasperrecommendation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F1R4_Did_you_buy_the_product_as_per_r__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F2R1Reasonfornotbuyingtheproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F2R1_Reason_for_not_buying_the_produ__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F2R2Reasonfornotbuyingtheproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F2R2_Reason_for_not_buying_the_produ__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F2R3Reasonfornotbuyingtheproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F2R3_Reason_for_not_buying_the_produ__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F2R4Reasonfornotbuyingtheproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F2R4_Reason_for_not_buying_the_produ__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F3R1Whichproductdidyoubuy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F3_R1_Which_product_did_you_buy__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F3R2Whichproductdidyoubuy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F3_R2_Which_product_did_you_buy__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F3R3Whichproductdidyoubuy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F3_R3_Which_product_did_you_buy__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F3R4Whichproductdidyoubuy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F3_R4_Which_product_did_you_buy__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F6R1Didyoubuyorusetheproductyourself</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F6R1_Did_you_buy_or_use_the_product__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F6R2Didyoubuyorusetheproductyourself</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F6R2_Did_you_buy_or_use_the_product__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F6R3Didyoubuyorusetheproductyourself</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F6R3_Did_you_buy_or_use_the_product__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F6R4Didyoubuyorusetheproductyourself</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F6R4_Did_you_buy_or_use_the_product__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F7R1Whatistheformstateoftheproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F7R1_What_is_the_form_state_of_the__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F7R2Whatistheformstateoftheproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F7R2What_is_the_form_state_of_the_prod__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F7R3Whatistheformstateoftheproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F7R3What_is_the_form_state_of_the_prod__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F7R4Whatistheformstateoftheproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F7R4_What_is_the_form_state_of_the__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F8R1Whatisthecolourofthepack</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F8R1_What_is_the_colour_of_the_pack__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F8R2Whatisthecolourofthepack</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F8R2_What_is_the_colour_of_the_pack__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F8R3Whatisthecolourofthepack</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F8R3_What_is_the_colour_of_the_pack__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F8R4Whatisthecolourofthepack</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F8R4_What_is_the_colour_of_the_pack__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F9R1Whatistheartworkoftheproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F9R1_What_is_the_artwork_of_the_produ__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F9R2Whatistheartworkoftheproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F9R2_What_is_the_artwork_of_the_produ__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F9R3Whatistheartworkoftheproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F9R3_What_is_the_artwork_of_the_produ__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6F9R4Whatistheartworkoftheproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6F9R4_What_is_the_artwork_of_the_produ__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6R01</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6R1__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6R02</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6R2__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6R03</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6R3__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>C6R04</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>C6R4__c</picklistField>
        <picklistObject>Survey__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Tele Selling Call 6 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tele Selling Call 6</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_C5_Details</name>
        <label>Get C5 Details</label>
        <locationX>766</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_C5_Details_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>C5_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyId</elementReference>
            </value>
        </filters>
        <object>Survey__c</object>
        <outputReference>Survey</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>C5_Any_pest_infestation_observed__c</queriedFields>
        <queriedFields>C5_Any_pest_infestation_observed_date__c</queriedFields>
        <queriedFields>C5F10R1_Did_you_use_the_prod_in_entire__c</queriedFields>
        <queriedFields>C5F10R2_Did_you_use_the_prod_in_entire__c</queriedFields>
        <queriedFields>C5F10R3_Did_you_use_the_prod_in_entire__c</queriedFields>
        <queriedFields>C5F10R4_Did_you_use_the_prod_in_entire__c</queriedFields>
        <queriedFields>C5F11R1_In_how_many_acres_used_the_reco__c</queriedFields>
        <queriedFields>C5F11R2_In_how_many_acres_used_the_reco__c</queriedFields>
        <queriedFields>C5F11R3_In_how_many_acres_used_the_reco__c</queriedFields>
        <queriedFields>C5F11R4_In_how_many_acres_used_the_reco__c</queriedFields>
        <queriedFields>C5F12R1_Are_you_satisfied_with_the_resu__c</queriedFields>
        <queriedFields>C5F12R2_Are_you_satisfied_with_the_resu__c</queriedFields>
        <queriedFields>C5F12R3_Are_you_satisfied_with_the_resu__c</queriedFields>
        <queriedFields>C5F12R4_Are_you_satisfied_with_the_resu__c</queriedFields>
        <queriedFields>C5F13R1_If_No_Reasons__c</queriedFields>
        <queriedFields>C5F13R2_If_No_Reasons__c</queriedFields>
        <queriedFields>C5F13R3_If_No_Reasons__c</queriedFields>
        <queriedFields>C5F13R4_If_No_Reasons__c</queriedFields>
        <queriedFields>C5F14R1_Possible_date_of_purchase__c</queriedFields>
        <queriedFields>C5F14R2_Possible_date_of_purchase__c</queriedFields>
        <queriedFields>C5F14R3_Possible_date_of_purchase__c</queriedFields>
        <queriedFields>C5F14R4_Possible_date_of_purchase__c</queriedFields>
        <queriedFields>C5F15R1_Possible_date_of_Application__c</queriedFields>
        <queriedFields>C5F15R2_Possible_date_of_Application__c</queriedFields>
        <queriedFields>C5F15R3_Possible_date_of_Application__c</queriedFields>
        <queriedFields>C5F15R4_Possible_date_of_Application__c</queriedFields>
        <queriedFields>C5F1R1_Did_you_buy_the_product_as_per_r__c</queriedFields>
        <queriedFields>C5F1R2_Did_you_buy_the_product_as_per_r__c</queriedFields>
        <queriedFields>C5F1R3_Did_you_buy_the_product_as_per_r__c</queriedFields>
        <queriedFields>C5F1R4_Did_you_buy_the_product_as_per_r__c</queriedFields>
        <queriedFields>C5F2R1_Reason_for_not_buying_the_produ__c</queriedFields>
        <queriedFields>C5F2R2_Reason_for_not_buying_the_produ__c</queriedFields>
        <queriedFields>C5F2R3_Reason_for_not_buying_the_produ__c</queriedFields>
        <queriedFields>C5F2R4_Reason_for_not_buying_the_produ__c</queriedFields>
        <queriedFields>C5F3_R1_Which_product_did_you_buy__c</queriedFields>
        <queriedFields>C5F3_R2_Which_product_did_you_buy__c</queriedFields>
        <queriedFields>C5F3_R3_Which_product_did_you_buy__c</queriedFields>
        <queriedFields>C5F3_R4_Which_product_did_you_buy__c</queriedFields>
        <queriedFields>C5F4R1_When_did_you_buy_the_product__c</queriedFields>
        <queriedFields>C5F4R2_When_did_you_buy_the_product__c</queriedFields>
        <queriedFields>C5F4R3_When_did_you_buy_the_product__c</queriedFields>
        <queriedFields>C5F4R4_When_did_you_buy_the_product__c</queriedFields>
        <queriedFields>C5F5R1_Which_Retailer_did_you_buy_the__c</queriedFields>
        <queriedFields>C5F5R2_Which_Retailer_did_you_buy_the__c</queriedFields>
        <queriedFields>C5F5R3_Which_Retailer_did_you_buy_the__c</queriedFields>
        <queriedFields>C5F5R4_Which_Retailer_did_you_buy_the__c</queriedFields>
        <queriedFields>C5F6R1_Did_you_buy_or_use_the_product__c</queriedFields>
        <queriedFields>C5F6R2_Did_you_buy_or_use_the_product__c</queriedFields>
        <queriedFields>C5F6R3_Did_you_buy_or_use_the_product__c</queriedFields>
        <queriedFields>C5F6R4_Did_you_buy_or_use_the_product__c</queriedFields>
        <queriedFields>C5F7R1_What_is_the_form_state_of_the__c</queriedFields>
        <queriedFields>C5F7R2_What_is_the_form_state_of_the__c</queriedFields>
        <queriedFields>C5F7R3_What_is_the_form_state_of_the__c</queriedFields>
        <queriedFields>C5F7R4_What_is_the_form_state_of_the__c</queriedFields>
        <queriedFields>C5F8R1_What_is_the_colour_of_the_pack__c</queriedFields>
        <queriedFields>C5F8R2_What_is_the_colour_of_the_pack__c</queriedFields>
        <queriedFields>C5F8R3_What_is_the_colour_of_the_pack__c</queriedFields>
        <queriedFields>C5F8R4_What_is_the_colour_of_the_pack__c</queriedFields>
        <queriedFields>C5F9R1_What_is_the_artwork_of_the_produ__c</queriedFields>
        <queriedFields>C5F9R2_What_is_the_artwork_of_the_produ__c</queriedFields>
        <queriedFields>C5F9R3_What_is_the_artwork_of_the_produ__c</queriedFields>
        <queriedFields>C5F9R4_What_is_the_artwork_of_the_produ__c</queriedFields>
        <queriedFields>C5R1__c</queriedFields>
        <queriedFields>C5R2__c</queriedFields>
        <queriedFields>C5R3__c</queriedFields>
        <queriedFields>C5R4__c</queriedFields>
        <queriedFields>C5_Completed__c</queriedFields>
        <queriedFields>C5_Disease__c</queriedFields>
        <queriedFields>C5_Pest__c</queriedFields>
        <queriedFields>C5_PGR__c</queriedFields>
        <queriedFields>C5_Weed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetC6FollowUp</name>
        <label>GetC6FollowUp</label>
        <locationX>191</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C6FollowUpNeeded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyId</elementReference>
            </value>
        </filters>
        <object>Survey__c</object>
        <outputAssignments>
            <assignToReference>C6FollowUp</assignToReference>
            <field>C6_follow_up_Needed__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRecommendedProducts</name>
        <label>GetRecommendedProducts</label>
        <locationX>273</locationX>
        <locationY>565</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>C6R1_Followup_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyId</elementReference>
            </value>
        </filters>
        <object>Survey__c</object>
        <outputReference>C6Survey</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>C6R1__c</queriedFields>
        <queriedFields>C6R2__c</queriedFields>
        <queriedFields>C6R3__c</queriedFields>
        <queriedFields>C6R4__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_C6_Details</name>
        <label>Update C6 Details</label>
        <locationX>2542</locationX>
        <locationY>267</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C6F10R1_Did_you_use_the_prod_in_entire__c</field>
            <value>
                <elementReference>C6F10R1_Did_you_use_the_prod_in_entire_crop_area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F10R2_Did_you_use_the_prod_in_entire__c</field>
            <value>
                <elementReference>C6F10R2_Did_you_use_the_prod_in_entire_crop_area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F10R3_Did_you_use_the_prod_in_entire__c</field>
            <value>
                <elementReference>C6F10R3_Did_you_use_the_prod_in_entire_crop_area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F10R4_Did_you_use_the_prod_in_entire__c</field>
            <value>
                <elementReference>C6F10R4_Did_you_use_the_prod_in_entire_crop_area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F11R1_In_how_many_acres_used_the_rec__c</field>
            <value>
                <elementReference>C6F11R1_In_how_many_acres_used_the_recommended_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F11R2_In_how_many_acres_used_the_rec__c</field>
            <value>
                <elementReference>C6F11R2_In_how_many_acres_used_the_recommended_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F11R3_In_how_many_acres_used_the_rec__c</field>
            <value>
                <elementReference>C6F11R3_In_how_many_acres_used_the_recommended_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F11R4_In_how_many_acres_used_the_rec__c</field>
            <value>
                <elementReference>C6F11R4_In_how_many_acres_used_the_recommended_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F12R1_Are_you_satisfied_with_the_res__c</field>
            <value>
                <elementReference>C6F12R1_Are_you_satisfied_with_the_results</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F12R2_Are_you_satisfied_with_the_res__c</field>
            <value>
                <elementReference>C6F12R2_Are_you_satisfied_with_the_results</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F12R3_Are_you_satisfied_with_the_res__c</field>
            <value>
                <elementReference>C6F12R3_Are_you_satisfied_with_the_results</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F12R4_Are_you_satisfied_with_the_res__c</field>
            <value>
                <elementReference>C6F12R4_Are_you_satisfied_with_the_results</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F13R1_If_No_Reasons_Others__c</field>
            <value>
                <elementReference>C6F13R1_If_No_Reasons_Others</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F13R1_If_No_Reasons__c</field>
            <value>
                <elementReference>C6F13R1_If_No_Reasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F13R2_If_No_Reasons_Others__c</field>
            <value>
                <elementReference>C6F13R2_If_No_Reasons_Others</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F13R2_If_No_Reasons__c</field>
            <value>
                <elementReference>C6F13R2_If_No_Reasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F13R3_If_No_Reasons_Others__c</field>
            <value>
                <elementReference>C6F13R3_If_No_Reasons_Others</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F13R3_If_No_Reasons__c</field>
            <value>
                <elementReference>C6F13R3_If_No_Reasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F13R4_If_No_Reasons_Others__c</field>
            <value>
                <elementReference>C6F13R4_If_No_Reasons_Others</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F13R4_If_No_Reasons__c</field>
            <value>
                <elementReference>C6F13R4_If_No_Reasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F14R1_Possible_date_of_purchase__c</field>
            <value>
                <elementReference>C6F14R1_Possible_date_of_purchase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F14R2_Possible_date_of_purchase__c</field>
            <value>
                <elementReference>C6F14R2_Possible_date_of_purchase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F14R3_Possible_date_of_purchase__c</field>
            <value>
                <elementReference>C6F14R3_Possible_date_of_purchase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F14R4_Possible_date_of_purchase__c</field>
            <value>
                <elementReference>C6F14R4_Possible_date_of_purchase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F15R1_Possible_date_of_Application__c</field>
            <value>
                <elementReference>C6F15R1_Possible_date_of_Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F15R2_Possible_date_of_Application__c</field>
            <value>
                <elementReference>C6F15R2_Possible_date_of_Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F15R3_Possible_date_of_Application__c</field>
            <value>
                <elementReference>C6F15R3_Possible_date_of_Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F15R4_Possible_date_of_Application__c</field>
            <value>
                <elementReference>C6F15R4_Possible_date_of_Application</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F1R1_Did_you_buy_the_product_as_per_r__c</field>
            <value>
                <elementReference>C6F1R1_Did_you_buy_the_product_as_per_recommendation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F1R2_Did_you_buy_the_product_as_per_r__c</field>
            <value>
                <elementReference>C6F1R2_Did_you_buy_the_product_as_per_recommendation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F1R3_Did_you_buy_the_product_as_per_r__c</field>
            <value>
                <elementReference>C6F1R3_Did_you_buy_the_product_as_per_recommendation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F1R4_Did_you_buy_the_product_as_per_r__c</field>
            <value>
                <elementReference>C6F1R4_Did_you_buy_the_product_as_per_recommendation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F2R1_Reason_for_not_buying_the_produ__c</field>
            <value>
                <elementReference>C6F2R1_Reason_for_not_buying_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F2R1_Reason_fr_nt_buying_prod_other__c</field>
            <value>
                <elementReference>C6F2R1_Reason_for_not_buying_the_product_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F2R2_Reason_for_not_buying_the_produ__c</field>
            <value>
                <elementReference>C6F2R2_Reason_for_not_buying_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F2R2_Reason_fr_nt_buying_prod_other__c</field>
            <value>
                <elementReference>C6F2R2_Reason_fr_not_buying_prod_othrs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F2R3_Reason_for_not_buying_the_produ__c</field>
            <value>
                <elementReference>C6F2R3_Reason_for_not_buying_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F2R3_Reason_fr_nt_buying_prod_other__c</field>
            <value>
                <elementReference>C6F2R3_Reason_fr_not_buying_prod_othrs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F2R4_Reason_for_not_buying_the_produ__c</field>
            <value>
                <elementReference>C6F2R4_Reason_for_not_buying_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F2R4_Reason_fr_nt_buying_prod_other__c</field>
            <value>
                <elementReference>C6F2R4_Reason_fr_not_buying_prod_othrs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F3_R1_Which_product_did_you_buy__c</field>
            <value>
                <elementReference>C6F3_R1_Which_product_did_you_buy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F3_R2_Which_product_did_you_buy__c</field>
            <value>
                <elementReference>C6F3_R2_Which_product_did_you_buy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F3_R3_Which_product_did_you_buy__c</field>
            <value>
                <elementReference>C6F3_R3_Which_product_did_you_buy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F3_R4_Which_product_did_you_buy__c</field>
            <value>
                <elementReference>C6F3_R4_Which_product_did_you_buy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F4R1_When_did_you_buy_the_product__c</field>
            <value>
                <elementReference>C6F4R1_When_did_you_buy_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F4R2_When_did_you_buy_the_product__c</field>
            <value>
                <elementReference>C6F4R2_When_did_you_buy_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F4R3_When_did_you_buy_the_product__c</field>
            <value>
                <elementReference>C6F4R3_When_did_you_buy_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F4R4_When_did_you_buy_the_product__c</field>
            <value>
                <elementReference>C6F4R4_When_did_you_buy_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F5R1_Which_Retailer_did_you_buy_the__c</field>
            <value>
                <elementReference>C6F5R1_Which_Retailer_did_you_buy_the_product_from0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F5R2_Which_Retailer_did_you_buy_the__c</field>
            <value>
                <elementReference>C6F5R2_Which_Retailer_did_you_buy_the_product_from0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F5R3_Which_Retailer_did_you_buy_the__c</field>
            <value>
                <elementReference>C6F5R3_Which_Retailer_did_you_buy_the_product_from0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F5R4_Which_Retailer_did_you_buy_the__c</field>
            <value>
                <elementReference>C6F5R4_Which_Retailer_did_you_buy_the_product_from0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F6R1_Did_you_buy_or_use_the_product__c</field>
            <value>
                <elementReference>C6F6R1_Did_you_buy_or_use_the_product_yourself</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F6R2_Did_you_buy_or_use_the_product__c</field>
            <value>
                <elementReference>C6F6R2_Did_you_buy_or_use_the_product_yourself</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F6R3_Did_you_buy_or_use_the_product__c</field>
            <value>
                <elementReference>C6F6R3_Did_you_buy_or_use_the_product_yourself</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F6R4_Did_you_buy_or_use_the_product__c</field>
            <value>
                <elementReference>C6F6R4_Did_you_buy_or_use_the_product_yourself</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F7R1_What_is_the_form_state_of_the__c</field>
            <value>
                <elementReference>C6F7R1_What_is_the_form_state_of_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F7R2What_is_the_form_state_of_the_prod__c</field>
            <value>
                <elementReference>C6F7R2_What_is_the_form_state_of_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F7R3What_is_the_form_state_of_the_prod__c</field>
            <value>
                <elementReference>C6F7R3_What_is_the_form_state_of_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F7R4_What_is_the_form_state_of_the__c</field>
            <value>
                <elementReference>C6F7R4_What_is_the_form_state_of_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F8R1_What_is_the_colour_of_the_pack__c</field>
            <value>
                <elementReference>C6F8R1_What_is_the_colour_of_the_pack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F8R2_What_is_the_colour_of_the_pack__c</field>
            <value>
                <elementReference>C6F8R2_What_is_the_colour_of_the_pack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F8R3_What_is_the_colour_of_the_pack__c</field>
            <value>
                <elementReference>C6F8R3_What_is_the_colour_of_the_pack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F8R4_What_is_the_colour_of_the_pack__c</field>
            <value>
                <elementReference>C6F8R4_What_is_the_colour_of_the_pack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F9R1_What_is_the_artwork_of_the_produ__c</field>
            <value>
                <elementReference>C6F9R1_What_is_the_artwork_of_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F9R2_What_is_the_artwork_of_the_produ__c</field>
            <value>
                <elementReference>C6F9R2_What_is_the_artwork_of_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F9R3_What_is_the_artwork_of_the_produ__c</field>
            <value>
                <elementReference>C6F9R3_What_is_the_artwork_of_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6F9R4_What_is_the_artwork_of_the_produ__c</field>
            <value>
                <elementReference>C6F9R4_What_is_the_artwork_of_the_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6_follow_up_Needed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateC6Details</name>
        <label>UpdateC6Details</label>
        <locationX>931</locationX>
        <locationY>491</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C6R1__c</field>
            <value>
                <elementReference>C6R1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6R2__c</field>
            <value>
                <elementReference>C6R2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6R3__c</field>
            <value>
                <elementReference>C6R3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6R4__c</field>
            <value>
                <elementReference>C6R4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6_Any_pest_infestation_observed__c</field>
            <value>
                <elementReference>C6_Any_pest_infestation_observed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6_Any_pest_infestation_observed_date__c</field>
            <value>
                <elementReference>C6_Any_pest_infestation_observed_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6_Disease_box__c</field>
            <value>
                <elementReference>C6_Disease</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6_PGR_box__c</field>
            <value>
                <elementReference>C6_PGR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6_Pest_box__c</field>
            <value>
                <elementReference>C6_Pest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6_Weed_box__c</field>
            <value>
                <elementReference>C6_Weed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C6_follow_up_Needed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
    </recordUpdates>
    <screens>
        <name>C5DetailsNotpresent</name>
        <label>C5DetailsNotpresent</label>
        <locationX>1026</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <fields>
            <name>C5DetailsNull</name>
            <fieldText>&lt;p&gt;C5 Details are not present. Click next to Finish.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F12R1_Dissatisfied</name>
        <label>C6F12R1 - Dissatisfied</label>
        <locationX>908</locationX>
        <locationY>687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6F13R1_If_No_Reasons_Others_Decision</targetReference>
        </connector>
        <fields>
            <name>C6F13R1_If_No_Reasons</name>
            <choiceReferences>C6F13R1IfNoReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F13R1 -If No, Reasons</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F12R2_Dissatisfied</name>
        <label>C6F12R2 - Dissatisfied</label>
        <locationX>1468</locationX>
        <locationY>607</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6F13R2_If_No_Reasons_Others_decision</targetReference>
        </connector>
        <fields>
            <name>C6F13R2_If_No_Reasons</name>
            <choiceReferences>C6F13R2IfNoReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F13R2 -If No, Reasons</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F12R3_Dissatisfied_Reason</name>
        <label>C6F12R3 - Dissatisfied Reason</label>
        <locationX>2084</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6F13R3_reason_descision</targetReference>
        </connector>
        <fields>
            <name>C6F13R3_If_No_Reasons</name>
            <choiceReferences>C6F13R3IfNoReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F13R3 -If No, Reasons</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F12R4_Dissatisfied</name>
        <label>C6F12R4 - Dissatisfied</label>
        <locationX>2851</locationX>
        <locationY>567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6F13R4_Disastisfied_reason_Others</targetReference>
        </connector>
        <fields>
            <name>C6F13R4_If_No_Reasons</name>
            <choiceReferences>C6F13R4IfNoReasons</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F13R4 -If No, Reasons</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F13R1_If_No_Other_Reasons</name>
        <label>C6F13R1 -If No, Other Reasons</label>
        <locationX>1141</locationX>
        <locationY>688</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6R2DetailsPresent</targetReference>
        </connector>
        <fields>
            <name>C6F13R1_If_No_Reasons_Others</name>
            <fieldText>C6F13R1 -If No, Reasons Others</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F13R2_Others_If_No_Reasons</name>
        <label>C6F13R2 - Others If No, Reasons</label>
        <locationX>1674</locationX>
        <locationY>590</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6R3DetailsPresent</targetReference>
        </connector>
        <fields>
            <name>C6F13R2_If_No_Reasons_Others</name>
            <fieldText>C6F13R2 -If No, Reasons Others</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F13R3_If_No_others_Reasons</name>
        <label>C6F13R3 -If No others Reasons</label>
        <locationX>2471</locationX>
        <locationY>641</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6R4DetailsPresent</targetReference>
        </connector>
        <fields>
            <name>C6F13R3_If_No_Reasons_Others</name>
            <fieldText>C6F13R3 -If No, Reasons Others</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F13R4_If_No_Reasons_Others_0</name>
        <label>C6F13R4 -If No, Reasons Others_0</label>
        <locationX>3137</locationX>
        <locationY>549</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_C6_Details</targetReference>
        </connector>
        <fields>
            <name>C6F13R4_If_No_Reasons_Others</name>
            <fieldText>C6F13R4 -If No, Reasons Others</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F1R2_Bought_Product_Yes</name>
        <label>C6F1R2 - Bought Product Yes</label>
        <locationX>1115</locationX>
        <locationY>811</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6R2Details</targetReference>
        </connector>
        <fields>
            <name>C6R2_D1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Recommended Product&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;C6R2: {!C6Survey.C6R2__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6F3_R2_Which_product_did_you_buy</name>
            <choiceReferences>C6F3R2Whichproductdidyoubuy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F3 R2 - Which product did you buy?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F4R2_When_did_you_buy_the_product</name>
            <dataType>Date</dataType>
            <fieldText>C6F4R2 - When did you buy the product?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please put a past date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!C6F4R2_When_did_you_buy_the_product}&lt;Today()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>C6F5R2_Which_Retailer_did_you_buy_the_product_from0</name>
            <fieldText>C6F5R2 - Which Retailer did you buy the product from?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F1R2_Didn_t_buy_product</name>
        <label>C6F1R2 - Didn&apos;t buy product</label>
        <locationX>1194</locationX>
        <locationY>1093</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reason_for_not_buying_the_product_C6F2R2</targetReference>
        </connector>
        <fields>
            <name>C6F2R2_Reason_for_not_buying_the_product</name>
            <choiceReferences>C6F2R2Reasonfornotbuyingtheproduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F2R2  -Reason for not buying the product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F1R3_Bought_the_product</name>
        <label>C6F1R3 Bought the product</label>
        <locationX>1839</locationX>
        <locationY>773</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6R3_Detail</targetReference>
        </connector>
        <fields>
            <name>C6R3_D1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Recommended Product&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;C6R3: {!C6Survey.C6R3__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6F3_R3_Which_product_did_you_buy</name>
            <choiceReferences>C6F3R3Whichproductdidyoubuy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F3 R3 - Which product did you buy?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F4R3_When_did_you_buy_the_product</name>
            <dataType>Date</dataType>
            <fieldText>C6F4R3 - When did you buy the product?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please put a past date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!C6F4R3_When_did_you_buy_the_product} &lt; Today()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>C6F5R3_Which_Retailer_did_you_buy_the_product_from0</name>
            <fieldText>C6F5R3 - Which Retailer did you buy the product from?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F1R3_Didn_t_buy_product</name>
        <label>C6F1R3 - Didn&apos;t buy product</label>
        <locationX>1759</locationX>
        <locationY>1019</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6F2R3_Reason_fr_not_buying_product</targetReference>
        </connector>
        <fields>
            <name>C6F2R3_Reason_for_not_buying_the_product</name>
            <choiceReferences>C6F2R3Reasonfornotbuyingtheproduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F2R3  -Reason for not buying the product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F2R2_others_Reason_for_not_buying_product</name>
        <label>C6F2R2 -  others Reason for not buying product</label>
        <locationX>1351</locationX>
        <locationY>915</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6R3DetailsPresent</targetReference>
        </connector>
        <fields>
            <name>C6F2R2_Reason_fr_not_buying_prod_othrs</name>
            <fieldText>C6F2R2 -Reason fr not buying prod othrs</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F2R2_Reason_fr_not_buy_othrs</name>
        <label>C6F2R2 -Reason fr not buy othrs</label>
        <locationX>2799</locationX>
        <locationY>962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_C6_Details</targetReference>
        </connector>
        <fields>
            <name>C6F2R4_Reason_fr_not_buying_prod_othrs</name>
            <fieldText>C6F2R4 -Reason fr not buying prod othrs</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F2R2_Will_be_applying_later</name>
        <label>C6F2R2 -Will be applying later</label>
        <locationX>1352</locationX>
        <locationY>781</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6R3DetailsPresent</targetReference>
        </connector>
        <fields>
            <name>C6F14R2_Possible_date_of_purchase</name>
            <dataType>Date</dataType>
            <fieldText>C6F14R2 -Possible date of purchase</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C6F15R2_Possible_date_of_Application</name>
            <dataType>Date</dataType>
            <fieldText>C6F15R2 -Possible date of Application</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F2R3_Others</name>
        <label>C6F2R3 - Others</label>
        <locationX>2015</locationX>
        <locationY>1047</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6R4DetailsPresent</targetReference>
        </connector>
        <fields>
            <name>C6F2R3_Reason_fr_not_buying_prod_othrs</name>
            <fieldText>C6F2R3 -Reason fr not buying prod othrs</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F2R3_Will_apply_later</name>
        <label>C6F2R3-Will apply later</label>
        <locationX>1973</locationX>
        <locationY>917</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6R4DetailsPresent</targetReference>
        </connector>
        <fields>
            <name>C6F14R3_Possible_date_of_purchase</name>
            <dataType>Date</dataType>
            <fieldText>C6F14R3 -Possible date of purchase</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C6F15R3_Possible_date_of_Application</name>
            <dataType>Date</dataType>
            <fieldText>C6F15R3 -Possible date of Application</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6F2R4_Reason_Will_apply_later</name>
        <label>C6F2R4 - Reason Will apply later</label>
        <locationX>2791</locationX>
        <locationY>851</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_C6_Details</targetReference>
        </connector>
        <fields>
            <name>C6F14R4_Possible_date_of_purchase</name>
            <dataType>Date</dataType>
            <fieldText>C6F14R4 -Possible date of purchase</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C6F15R4_Possible_date_of_Application</name>
            <dataType>Date</dataType>
            <fieldText>C6F15R4 -Possible date of Application</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6InfestationDetails</name>
        <label>C6InfestationDetails</label>
        <locationX>1029</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_Recommendation_Call6</targetReference>
        </connector>
        <fields>
            <name>C6_Pest</name>
            <choiceReferences>C6_Pest_Box</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6 Pest</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C6_Disease</name>
            <choiceReferences>C6_Disease_Box</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6 Disease</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C6_Weed</name>
            <choiceReferences>C6_Weed_Box</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6 Weed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6_PGR</name>
            <choiceReferences>C6_PGR_Box</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6 PGR</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6_Any_pest_infestation_observed_date</name>
            <dataType>Date</dataType>
            <fieldText>C6-Any pest infestation observed date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Put the past date.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!C6_Any_pest_infestation_observed_date}&lt; Today()</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6R1_Followup_Details</name>
        <label>C6R1_Followup_Details</label>
        <locationX>121</locationX>
        <locationY>669</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6F1R1_If</targetReference>
        </connector>
        <fields>
            <name>Call6FollowUp5DAYS</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Call 6 Follow Up (+ 5 DAYS)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6R1_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Recommended Product&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;C6R1: {!C6Survey.C6R1__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6F1R1_Did_you_buy_the_product_as_per_recommendation</name>
            <choiceReferences>C6F1R1Didyoubuytheproductasperrecommendation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F1R1 -Did you buy the product as per recommendation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6R1Details</name>
        <label>C6R1Details</label>
        <locationX>673</locationX>
        <locationY>678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6F12R1Are_you_satisfied_with_the_results</targetReference>
        </connector>
        <fields>
            <name>C6R1_D2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Recommended Product&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;C6R1: {!C6Survey.C6R1__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6F6R1_Did_you_buy_or_use_the_product_yourself</name>
            <choiceReferences>C6F6R1Didyoubuyorusetheproductyourself</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F6R1 - Did you buy or use the product yourself?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F7R1_What_is_the_form_state_of_the_product</name>
            <choiceReferences>C6F7R1Whatistheformstateoftheproduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F7R1  What is the form / state of the product?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F8R1_What_is_the_colour_of_the_pack</name>
            <choiceReferences>C6F8R1Whatisthecolourofthepack</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F8R1 What is the colour of the pack?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F9R1_What_is_the_artwork_of_the_product</name>
            <choiceReferences>C6F9R1Whatistheartworkoftheproduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F9R1  What is the artwork of the product?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F10R1_Did_you_use_the_prod_in_entire_crop_area</name>
            <choiceReferences>C6F10R1Didyouusetheprodinentirecroparea</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F10R1  -Did you use the prod in entire crop area?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F11R1_In_how_many_acres_used_the_recommended_product</name>
            <dataType>String</dataType>
            <fieldText>C6F11R1 -In how many acres used the recommended product?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C6F12R1_Are_you_satisfied_with_the_results</name>
            <choiceReferences>C6F12R1Areyousatisfiedwiththeresults</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F12R1 -Are you satisfied with the results?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6R2_Details</name>
        <label>C6R2 Details</label>
        <locationX>936</locationX>
        <locationY>1084</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_you_buy_the_product_as_per_recommendation_C6F1R2</targetReference>
        </connector>
        <fields>
            <name>C6R2_D</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Recommended Product&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;C6R2: {!C6Survey.C6R2__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6F1R2_Did_you_buy_the_product_as_per_recommendation</name>
            <choiceReferences>C6F1R2Didyoubuytheproductasperrecommendation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F1R2 -Did you buy the product as per recommendation?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6R2Details</name>
        <label>C6R2Details</label>
        <locationX>1280</locationX>
        <locationY>682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6F12R2_Are_you_satisfied</targetReference>
        </connector>
        <fields>
            <name>C6R2_D2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Recommended Product&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;C6R2: {!C6Survey.C6R2__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6F6R2_Did_you_buy_or_use_the_product_yourself</name>
            <choiceReferences>C6F6R2Didyoubuyorusetheproductyourself</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F6R2 - Did you buy or use the product yourself?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F7R2_What_is_the_form_state_of_the_product</name>
            <choiceReferences>C6F7R2Whatistheformstateoftheproduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F7R2  What is the form / state of the product?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F8R2_What_is_the_colour_of_the_pack</name>
            <choiceReferences>C6F8R2Whatisthecolourofthepack</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F8R2 What is the colour of the pack?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F9R2_What_is_the_artwork_of_the_product</name>
            <choiceReferences>C6F9R2Whatistheartworkoftheproduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F9R2  What is the artwork of the product?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F10R2_Did_you_use_the_prod_in_entire_crop_area</name>
            <choiceReferences>C6F10R2Didyouusetheprodinentirecroparea</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F10R2  -Did you use the prod in entire crop area?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F11R2_In_how_many_acres_used_the_recommended_product</name>
            <dataType>String</dataType>
            <fieldText>C6F11R2 -In how many acres used the recommended product?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C6F12R2_Are_you_satisfied_with_the_results</name>
            <choiceReferences>C6F12R2Areyousatisfiedwiththeresults</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F12R2 -Are you satisfied with the results?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6R3_Detail</name>
        <label>C6R3 Details</label>
        <locationX>1939</locationX>
        <locationY>775</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6F12R3_satisfied_with_the_results</targetReference>
        </connector>
        <fields>
            <name>C6R3_D2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Recommended Product&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;C6R3: {!C6Survey.C6R3__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6F6R3_Did_you_buy_or_use_the_product_yourself</name>
            <choiceReferences>C6F6R3Didyoubuyorusetheproductyourself</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F6R3 - Did you buy or use the product yourself?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F7R3_What_is_the_form_state_of_the_product</name>
            <choiceReferences>C6F7R3Whatistheformstateoftheproduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F7R3  What is the form / state of the product?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F8R3_What_is_the_colour_of_the_pack</name>
            <choiceReferences>C6F8R3Whatisthecolourofthepack</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F8R3 What is the colour of the pack?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F9R3_What_is_the_artwork_of_the_product</name>
            <choiceReferences>C6F9R3Whatistheartworkoftheproduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F9R3  What is the artwork of the product?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F10R3_Did_you_use_the_prod_in_entire_crop_area</name>
            <choiceReferences>C6F10R3Didyouusetheprodinentirecroparea</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F10R3  -Did you use the prod in entire crop area?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F11R3_In_how_many_acres_used_the_recommended_product</name>
            <dataType>String</dataType>
            <fieldText>C6F11R3 -In how many acres used the recommended product?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C6F12R3_Are_you_satisfied_with_the_results</name>
            <choiceReferences>C6F12R3Areyousatisfiedwiththeresults</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F12R3 -Are you satisfied with the results?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6R3_Details</name>
        <label>C6R3 Details</label>
        <locationX>1629</locationX>
        <locationY>999</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6F1R3_Bought_the_product_Yes</targetReference>
        </connector>
        <fields>
            <name>C6R3_D0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Recommended Product&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;C6R3: {!C6Survey.C6R3__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6F1R3_Did_you_buy_the_product_as_per_recommendation</name>
            <choiceReferences>C6F1R3Didyoubuytheproductasperrecommendation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F1R3 -Did you buy the product as per recommendation?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6R4_Deatils</name>
        <label>C6R4 Deatils</label>
        <locationX>2799</locationX>
        <locationY>724</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6F12R4_satisfied_with_the_results</targetReference>
        </connector>
        <fields>
            <name>C6R4_D2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Recommended Product&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;C6R4: {!C6Survey.C6R4__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6F6R4_Did_you_buy_or_use_the_product_yourself</name>
            <choiceReferences>C6F6R4Didyoubuyorusetheproductyourself</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F6R4 - Did you buy or use the product yourself?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F7R4_What_is_the_form_state_of_the_product</name>
            <choiceReferences>C6F7R4Whatistheformstateoftheproduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F7R4  What is the form / state of the product?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F8R4_What_is_the_colour_of_the_pack</name>
            <choiceReferences>C6F8R4Whatisthecolourofthepack</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F8R4 What is the colour of the pack?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F9R4_What_is_the_artwork_of_the_product</name>
            <choiceReferences>C6F9R4Whatistheartworkoftheproduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F9R4  What is the artwork of the product?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F10R4_Did_you_use_the_prod_in_entire_crop_area</name>
            <choiceReferences>C6F10R4Didyouusetheprodinentirecroparea</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F10R4  -Did you use the prod in entire crop area?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F11R4_In_how_many_acres_used_the_recommended_product</name>
            <dataType>String</dataType>
            <fieldText>C6F11R4 -In how many acres used the recommended product?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C6F12R4_Are_you_satisfied_with_the_results</name>
            <choiceReferences>C6F12R4Areyousatisfiedwiththeresults</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F12R4 -Are you satisfied with the results?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6R4_Details</name>
        <label>C6R4 Details</label>
        <locationX>2331</locationX>
        <locationY>837</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6F1R4_Bought_recommended_product</targetReference>
        </connector>
        <fields>
            <name>C6R4_D0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Recommended Product&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;C6R4: {!C6Survey.C6R4__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6F1R4_Did_you_buy_the_product_as_per_recommendation</name>
            <choiceReferences>C6F1R4Didyoubuytheproductasperrecommendation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F1R4 -Did you buy the product as per recommendation?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6R4Details_0</name>
        <label>C6R4Details</label>
        <locationX>2519</locationX>
        <locationY>773</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6R4_Deatils</targetReference>
        </connector>
        <fields>
            <name>C6R4_D1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Recommended Product&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;C6R4: {!C6Survey.C6R4__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6F3_R4_Which_product_did_you_buy</name>
            <choiceReferences>C6F3R4Whichproductdidyoubuy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F3 R4 - Which product did you buy?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F4R4_When_did_you_buy_the_product</name>
            <dataType>Date</dataType>
            <fieldText>C6F4R4 - When did you buy the product?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please put a past date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!C6F4R4_When_did_you_buy_the_product} &lt; Today()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>C6F5R4_Which_Retailer_did_you_buy_the_product_from0</name>
            <fieldText>C6F5R4 - Which Retailer did you buy the product from?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>C6R4Details_1</name>
        <label>C6R4Details</label>
        <locationX>2513</locationX>
        <locationY>969</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6F2R4_Reason_for_not_buying</targetReference>
        </connector>
        <fields>
            <name>C6F2R4_Reason_for_not_buying_the_product</name>
            <choiceReferences>C6F2R4Reasonfornotbuyingtheproduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F2R4  -Reason for not buying the product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Call6_Start</name>
        <label>Call6_Start</label>
        <locationX>355</locationX>
        <locationY>441</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6IfPestInfestation</targetReference>
        </connector>
        <fields>
            <name>Call6</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Call 6&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6_Any_pest_infestation_observed</name>
            <choiceReferences>C6Anypestinfestationobserved</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6-Any pest infestation observed?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Call_5_Details</name>
        <label>Call 5 Details</label>
        <locationX>1257</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call6_Start</targetReference>
        </connector>
        <fields>
            <name>Call_5</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Call 5&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5AnypestinfestationobservedD</name>
            <fieldText>&lt;p&gt;C5-Any pest infestation observed?: {!Survey.C5_Any_pest_infestation_observed__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5IfYeswhichpestD</name>
            <fieldText>&lt;p&gt;C5 If &quot;Yes&quot;, which pest?:&lt;/p&gt;&lt;p&gt;C5 Pest: {!Survey.C5_Pest__c}&lt;/p&gt;&lt;p&gt;C5 Disease: {!Survey.C5_Disease__c}&lt;/p&gt;&lt;p&gt;C5 Weed:{!Survey.C5_Weed__c}&lt;/p&gt;&lt;p&gt;C5 PGR: {!Survey.C5_PGR__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5RecommendationD</name>
            <fieldText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 283pt;&quot; width=&quot;377&quot;&gt;&lt;tbody&gt;&lt;tr style=&quot;height: 14.5pt; white-space: pre;&quot; height=&quot;19&quot;&gt;  &lt;td style=&quot;height:14.5pt;width:283pt&quot; width=&quot;377&quot; class=&quot;xl74&quot; height=&quot;19&quot;&gt;C5-Recommendation:&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;C5R1: {!Survey.C5R1__c}&lt;/p&gt;&lt;p&gt;C5R2: {!Survey.C5R2__c}&lt;/p&gt;&lt;p&gt;C5R3: {!Survey.C5R3__c}&lt;/p&gt;&lt;p&gt;C5R4: {!Survey.C5R4__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5AnypestinfestationobserveddateD</name>
            <fieldText>&lt;p&gt;C5-Any pest infestation observed date: {!Survey.C5_Any_pest_infestation_observed_date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call5FollowUp5DAYS</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Call 5 Follow Up (+ 5 DAYS)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F1R1DidyoubuytheproductasperrecommendationD</name>
            <fieldText>&lt;p&gt;C5F1R1 -Did you buy the product as per recommendation?: {!Survey.C5F1R1_Did_you_buy_the_product_as_per_r__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F2R1ReasonfornotbuyingtheproductD</name>
            <fieldText>&lt;p&gt;C5F2R1&amp;nbsp;-Reason for not buying the product: {!Survey.C5F2R1_Reason_for_not_buying_the_produ__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F3R1WhichproductdidyoubuyD</name>
            <fieldText>&lt;p&gt;C5F3 R1 - Which product did you buy?: {!Survey.C5F3_R1_Which_product_did_you_buy__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F4R1WhendidyoubuytheproductD</name>
            <fieldText>&lt;p&gt;C5F4R1 - When did you buy the product?: {!Survey.C5F4R1_When_did_you_buy_the_product__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F5R1WhichRetailerdidyoubuytheproductfromD</name>
            <fieldText>&lt;p&gt;C5F5R1 - Which Retailer did you buy the product from?: {!Survey.C5F5R1_Which_Retailer_did_you_buy_the__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F6R1DidyoubuyorusetheproductyourselfD</name>
            <fieldText>&lt;p&gt;C5F6R1 - Did you buy or use the product yourself?: {!Survey.C5F6R1_Did_you_buy_or_use_the_product__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F7R1WhatistheformstateoftheproductD</name>
            <fieldText>&lt;p&gt;C5F7R1&amp;nbsp;What is the form / state of the product?: {!Survey.C5F7R1_What_is_the_form_state_of_the__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F8R1WhatisthecolourofthepackD</name>
            <fieldText>&lt;p&gt;C5F8R1 What is the colour of the pack?: {!Survey.C5F8R1_What_is_the_colour_of_the_pack__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F9R1WhatistheartworkoftheproductD</name>
            <fieldText>&lt;p&gt;C5F9R1&amp;nbsp;What is the artwork of the product?: {!Survey.C5F9R1_What_is_the_artwork_of_the_produ__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F10R1DidyouusetheprodinentirecropareaD</name>
            <fieldText>&lt;p&gt;C5F10R1&amp;nbsp;-Did you use the prod in entire crop area?: {!Survey.C5F10R1_Did_you_use_the_prod_in_entire__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F11R1InhowmanyacresusedtherecommendedproductD</name>
            <fieldText>&lt;p&gt;C5F11R1 -In how many acres used the recommended product?: {!Survey.C5F11R1_In_how_many_acres_used_the_reco__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F12R1AreyousatisfiedwiththeresultsD</name>
            <fieldText>&lt;p&gt;C5F12R1 -Are you satisfied with the results?: {!Survey.C5F12R1_Are_you_satisfied_with_the_resu__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F13R1IfNoReasonsD</name>
            <fieldText>&lt;p&gt;C5C4F13R1 -If No, Reasons: {!Survey.C5F13R1_If_No_Reasons__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F14R1PossibledateofpurchaseD</name>
            <fieldText>&lt;p&gt;C5C4F14R1 -Possible date of purchase: {!Survey.C5F14R1_Possible_date_of_purchase__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F15R1PossibledateofApplicationD</name>
            <fieldText>&lt;p&gt;C5F15R1 -Possible date of Application: {!Survey.C5F15R1_Possible_date_of_Application__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F1R2DidyoubuytheproductasperrecommendationD</name>
            <fieldText>&lt;p&gt;C5F1R2 -Did you buy the product as per recommendation?: {!Survey.C5F1R2_Did_you_buy_the_product_as_per_r__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F2R2ReasonfornotbuyingtheproductD</name>
            <fieldText>&lt;p&gt;C5C4F2R2&amp;nbsp;-Reason for not buying the product: {!Survey.C5F2R2_Reason_for_not_buying_the_produ__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F3R2WhichproductdidyoubuyD</name>
            <fieldText>&lt;p&gt;C5F3 R2 - Which product did you buy?: {!Survey.C5F3_R2_Which_product_did_you_buy__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F4R2WhendidyoubuytheproductD</name>
            <fieldText>&lt;p&gt;C5C4F4R2 - When did you buy the product?: {!Survey.C5F4R2_When_did_you_buy_the_product__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F5R2WhichRetailerdidyoubuytheproductfromD</name>
            <fieldText>&lt;p&gt;C5F5R2 - Which Retailer did you buy the product from?: {!Survey.C5F5R2_Which_Retailer_did_you_buy_the__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F6R2DidyoubuyorusetheproductyourselfD</name>
            <fieldText>&lt;p&gt;C5F6R2 - Did you buy or use the product yourself?: {!Survey.C5F6R2_Did_you_buy_or_use_the_product__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F7R2WhatistheformstateoftheproductD</name>
            <fieldText>&lt;p&gt;C5C4F7R2&amp;nbsp;What is the form / state of the product?: {!Survey.C5F7R2_What_is_the_form_state_of_the__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F8R2WhatisthecolourofthepackD</name>
            <fieldText>&lt;p&gt;C5C4F8R2 What is the colour of the pack?:   {!Survey.C5F8R2_What_is_the_colour_of_the_pack__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F9R2WhatistheartworkoftheproductD</name>
            <fieldText>&lt;p&gt;C5F9R2&amp;nbsp;What is the artwork of the product?: {!Survey.C5F9R2_What_is_the_artwork_of_the_produ__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F10R2DidyouusetheprodinentirecropareaD</name>
            <fieldText>&lt;p&gt;C5F10R2&amp;nbsp;-Did you use the prod in entire crop area?: {!Survey.C5F10R2_Did_you_use_the_prod_in_entire__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F11R2InhowmanyacresusedtherecommendedproductD</name>
            <fieldText>&lt;p&gt;C5F11R2 -In how many acres used the recommended product?: {!Survey.C5F11R2_In_how_many_acres_used_the_reco__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F12R2AreyousatisfiedwiththeresultsD</name>
            <fieldText>&lt;p&gt;C5F12R2 -Are you satisfied with the results?: {!Survey.C5F12R2_Are_you_satisfied_with_the_resu__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F13R2IfNoReasonsD</name>
            <fieldText>&lt;p&gt;C5F13R2 -If No, Reasons: {!Survey.C5F13R2_If_No_Reasons__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F14R2PossibledateofpurchaseD</name>
            <fieldText>&lt;p&gt;C5F14R2 -Possible date of purchase: {!Survey.C5F14R2_Possible_date_of_purchase__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F15R2PossibledateofApplicationD</name>
            <fieldText>&lt;p&gt;C5F15R2 -Possible date of Application: {!Survey.C5F15R2_Possible_date_of_Application__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F1R3DidyoubuytheproductasperrecommendationD</name>
            <fieldText>&lt;p&gt;C5F1R3 -Did you buy the product as per recommendation?: {!Survey.C5F1R3_Did_you_buy_the_product_as_per_r__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F2R3ReasonfornotbuyingtheproductD</name>
            <fieldText>&lt;p&gt;C5F2R3&amp;nbsp;-Reason for not buying the product: {!Survey.C5F2R3_Reason_for_not_buying_the_produ__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F3R3WhichproductdidyoubuyD</name>
            <fieldText>&lt;p&gt;C5F3 R3 - Which product did you buy?: {!Survey.C5F3_R3_Which_product_did_you_buy__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F4R3WhendidyoubuytheproductD</name>
            <fieldText>&lt;p&gt;C5F4R3 - When did you buy the product?: {!Survey.C5F4R3_When_did_you_buy_the_product__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F5R3WhichRetailerdidyoubuytheproductfromD</name>
            <fieldText>&lt;p&gt;C5F5R3 - Which Retailer did you buy the product from?: {!Survey.C5F5R3_Which_Retailer_did_you_buy_the__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F6R3DidyoubuyorusetheproductyourselfD</name>
            <fieldText>&lt;p&gt;C5F6R3 - Did you buy or use the product yourself?: {!Survey.C5F6R3_Did_you_buy_or_use_the_product__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F7R3WhatistheformstateoftheproductD</name>
            <fieldText>&lt;p&gt;C5F7R3&amp;nbsp;What is the form / state of the product?: {!Survey.C5F7R3_What_is_the_form_state_of_the__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F8R3WhatisthecolourofthepackD</name>
            <fieldText>&lt;p&gt;C5F8R3 What is the colour of the pack?: {!Survey.C5F8R3_What_is_the_colour_of_the_pack__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F9R3WhatistheartworkoftheproductD</name>
            <fieldText>&lt;p&gt;C5F9R3&amp;nbsp;What is the artwork of the product?: {!Survey.C5F9R3_What_is_the_artwork_of_the_produ__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F10R3DidyouusetheprodinentirecropareaD</name>
            <fieldText>&lt;p&gt;C5F10R3&amp;nbsp;-Did you use the prod in entire crop area?: {!Survey.C5F10R3_Did_you_use_the_prod_in_entire__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F11R3InhowmanyacresusedtherecommendedproductD</name>
            <fieldText>&lt;p&gt;C5F11R3 -In how many acres used the recommended product?: {!Survey.C5F11R3_In_how_many_acres_used_the_reco__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F12R3AreyousatisfiedwiththeresultsD</name>
            <fieldText>&lt;p&gt;C5F12R3 -Are you satisfied with the results?: {!Survey.C5F12R3_Are_you_satisfied_with_the_resu__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F13R3IfNoReasonsD</name>
            <fieldText>&lt;p&gt;C5F13R3 -If No, Reasons: {!Survey.C5F13R3_If_No_Reasons__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F14R3PossibledateofpurchaseD</name>
            <fieldText>&lt;p&gt;C5F14R3 -Possible date of purchase: {!Survey.C5F14R3_Possible_date_of_purchase__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F15R3PossibledateofApplicationD</name>
            <fieldText>&lt;p&gt;C5F15R3 -Possible date of Application: {!Survey.C5F15R3_Possible_date_of_Application__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F1R4DidyoubuytheproductasperrecommendationD</name>
            <fieldText>&lt;p&gt;C5F1R4 -Did you buy the product as per recommendation?: {!Survey.C5F1R4_Did_you_buy_the_product_as_per_r__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F2R4ReasonfornotbuyingtheproductD</name>
            <fieldText>&lt;p&gt;C5F2R4&amp;nbsp;-Reason for not buying the product: {!Survey.C5F2R4_Reason_for_not_buying_the_produ__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F3R4WhichproductdidyoubuyD</name>
            <fieldText>&lt;p&gt;C5F3 R4 - Which product did you buy?: {!Survey.C5F3_R4_Which_product_did_you_buy__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F4R4WhendidyoubuytheproductD</name>
            <fieldText>&lt;p&gt;C5F4R4 - When did you buy the product?: {!Survey.C5F4R4_When_did_you_buy_the_product__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F5R4WhichRetailerdidyoubuytheproductfromD</name>
            <fieldText>&lt;p&gt;C5F5R4 - Which Retailer did you buy the product from?: {!Survey.C5F5R4_Which_Retailer_did_you_buy_the__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F6R4DidyoubuyorusetheproductyourselfD</name>
            <fieldText>&lt;p&gt;C5F6R4 - Did you buy or use the product yourself?: {!Survey.C5F6R4_Did_you_buy_or_use_the_product__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F7R4WhatistheformstateoftheproductD</name>
            <fieldText>&lt;p&gt;C5F7R4&amp;nbsp;What is the form / state of the product?: {!Survey.C5F7R4_What_is_the_form_state_of_the__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F8R4WhatisthecolourofthepackD</name>
            <fieldText>&lt;p&gt;C5F8R4 What is the colour of the pack?: {!Survey.C5F8R4_What_is_the_colour_of_the_pack__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F9R4WhatistheartworkoftheproductD</name>
            <fieldText>&lt;p&gt;C5F9R4&amp;nbsp;What is the artwork of the product?: {!Survey.C5F9R4_What_is_the_artwork_of_the_produ__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F10R4DidyouusetheprodinentirecropareaD</name>
            <fieldText>&lt;p&gt;C5F10R4&amp;nbsp;-Did you use the prod in entire crop area?: {!Survey.C5F10R4_Did_you_use_the_prod_in_entire__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F11R4InhowmanyacresusedtherecommendedproductD</name>
            <fieldText>&lt;p&gt;C5F11R4 -In how many acres used the recommended product?: {!Survey.C5F11R4_In_how_many_acres_used_the_reco__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F12R4AreyousatisfiedwiththeresultsD</name>
            <fieldText>&lt;p&gt;C5F12R4 -Are you satisfied with the results?: {!Survey.C5F12R4_Are_you_satisfied_with_the_resu__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F13R4IfNoReasonsD</name>
            <fieldText>&lt;p&gt;C5F13R4 -If No, Reasons: {!Survey.C5F13R4_If_No_Reasons__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F14R4PossibledateofpurchaseD</name>
            <fieldText>&lt;p&gt;C5F14R4 -Possible date of purchase: {!Survey.C5F14R4_Possible_date_of_purchase__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C5F15R4PossibledateofApplicationD</name>
            <fieldText>&lt;p&gt;C5F15R4 -Possible date of Application: {!Survey.C5F15R4_Possible_date_of_Application__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Call_6_Follow_Up_5_DAYS</name>
        <label>Call 6 Follow Up (+ 5 DAYS)</label>
        <locationX>571</locationX>
        <locationY>678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6R1Details</targetReference>
        </connector>
        <fields>
            <name>C6R1_D1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Recommended Product&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;C6R1: {!C6Survey.C6R1__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6F3_R1_Which_product_did_you_buy</name>
            <choiceReferences>C6F3R1Whichproductdidyoubuy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F3 R1 - Which product did you buy?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6F4R1_When_did_you_buy_the_product</name>
            <dataType>Date</dataType>
            <fieldText>C6F4R1 - When did you buy the product?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please put a past date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!C6F4R1_When_did_you_buy_the_product} &lt;Today()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>C6F5R1_Which_Retailer_did_you_buy_the_product_from0</name>
            <fieldText>C6F5R1 - Which Retailer did you buy the product from?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Call_6_Follow_Up_5_DAYS_No</name>
        <label>Call 6 Follow Up+5 DAYS_No</label>
        <locationX>298</locationX>
        <locationY>865</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reason_for_not_buying_the_product_C6F2R1</targetReference>
        </connector>
        <fields>
            <name>C6F2R1_Reason_for_not_buying_the_product</name>
            <choiceReferences>C6F2R1Reasonfornotbuyingtheproduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6F2R1  -Reason for not buying the product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_you_want_to_see_C5_Details</name>
        <label>Do you want to see C5 Details?</label>
        <locationX>482</locationX>
        <locationY>307</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Want_to_see_C5_details</targetReference>
        </connector>
        <fields>
            <name>DoyouwanttoseeC5Details</name>
            <fieldText>&lt;p&gt;Click Yes to see C5 details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Others_C6R1</name>
        <label>Others-C6R1</label>
        <locationX>681</locationX>
        <locationY>1035</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6R2DetailsPresent</targetReference>
        </connector>
        <fields>
            <name>C6F2R1_Reason_for_not_buying_the_product_Other</name>
            <fieldText>C6F2R1  -Reason for not buying the product Other</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Recommendation_Call6</name>
        <label>Product Recommendation Call6</label>
        <locationX>708</locationX>
        <locationY>553</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateC6Details</targetReference>
        </connector>
        <fields>
            <name>C6Recommendation</name>
            <fieldText>&lt;p&gt;&lt;b&gt;C6 - Recommendation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>C6R1</name>
            <choiceReferences>C6R01</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6R1</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6R2</name>
            <choiceReferences>C6R02</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6R2</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6R3</name>
            <choiceReferences>C6R03</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6R3</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>C6R4</name>
            <choiceReferences>C6R04</choiceReferences>
            <dataType>String</dataType>
            <fieldText>C6R4</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>2185</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p&gt;Thank you for taking the survey!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Willbeapplylater_C6R1</name>
        <label>Willbeapplylater-C6R1</label>
        <locationX>672</locationX>
        <locationY>844</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C6R2DetailsPresent</targetReference>
        </connector>
        <fields>
            <name>C6F14R1_Possible_date_of_purchase</name>
            <dataType>Date</dataType>
            <fieldText>C6F14R1 -Possible date of purchase</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C6F15R1_Possible_date_of_Application</name>
            <dataType>Date</dataType>
            <fieldText>C6F15R1 -Possible date of Application</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetC6FollowUp</startElementReference>
    <status>Draft</status>
    <variables>
        <name>C6FollowUp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C6Survey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
    <variables>
        <name>Survey</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
    <variables>
        <name>SurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
