force-app/main/default/flows/Update_Account_when_Zone_Head_is_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Apex</name>
        <label>Call Apex</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <actionName>AccountUpdateRegionOrZonalChange</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>territoryList</name>
            <value>
                <elementReference>var_ids</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Territory_Ids</name>
        <label>Territory Ids</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>var_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Collect_Territory_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Territory_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_territory_record_exist</name>
        <label>check territory record exist</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_territory_record_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Territory_Record_related_to_zone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Territory_Ids</targetReference>
            </connector>
            <label>if territory record is available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Account when Zone Head is Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account when Zone Head is Changed</label>
    <loops>
        <name>Collect_Territory_Ids</name>
        <label>Collect Territory Ids</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Territory_Record_related_to_zone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Territory_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Call_Apex</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Territory_Record_related_to_zone</name>
        <label>Territory Record related to zone</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_territory_record_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TerritoryManager__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory_Distributor__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Territory_Record_related_to_zone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ZonalHead__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a1F0K000006MXIKUA4</stringValue>
            </value>
        </filters>
        <object>Zone__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
