force-app/main/default/flows/UpdateCombinationKey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignCustomerName</name>
        <label>AssignCustomerName</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>NewCombinationKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Customer_Name__r.Sales_Org__r.Sales_Org_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCombinationKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Sold_To_Party__r.EBID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCombinationKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Ship_To_Party__r.EBID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCombinationKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Customer_Name__r.EBID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCombinationKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Product_Name__r.SKU_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCombinationKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sellDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCombinationKey</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Invoice_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCombinationKey</targetReference>
        </connector>
    </assignments>
    <formulas>
        <description>sell date (sales date ) for combination key</description>
        <name>sellDate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR( {!$Record.Sell_Date__c})) + &quot;-&quot; +TEXT(MONTH( {!$Record.Sell_Date__c}))+ &quot;-&quot; + TEXT(DAY( {!$Record.Sell_Date__c}))</expression>
    </formulas>
    <interviewLabel>UpdateCombinationKey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateCombinationKey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCombinationKey</name>
        <label>UpdateCombinationKey</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Combination_Key__c</field>
            <value>
                <elementReference>NewCombinationKey</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignCustomerName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sold_To_Party__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Ship_To_Party__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Invoice_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Secondary_Sales_Data__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NewCombinationKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
