force-app/main/default/flows/Update_Related_Object_on_Account_Owner_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Owners_to_Sales_Orders</name>
        <label>Assign Owners to Sales Orders</label>
        <locationX>643</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>SOLoop.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_loop_variable_to_SOAssign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_loop_variable_to_SOAssign</name>
        <label>Copy loop variable to SOAssign</label>
        <locationX>665</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>SOAssign</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Sales_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Sales_Orders_Present</name>
        <label>If Sales Orders Present?</label>
        <locationX>290</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Orders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Sales_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Update Related Object on Account Owner Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Related Object on Account Owner Change</label>
    <loops>
        <name>Loop_through_Sales_Order</name>
        <label>Loop through Sales Order</label>
        <locationX>474</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>SOLoop</assignNextValueToReference>
        <collectionReference>Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Owners_to_Sales_Orders</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Sales_Order</name>
        <label>Search Sales Order</label>
        <locationX>140</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Sales_Orders_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Sold_to_Party__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Sales_Order__c</object>
        <outputReference>Orders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>472</locationX>
        <locationY>202</locationY>
        <inputReference>SOAssign</inputReference>
    </recordUpdates>
    <startElementReference>Search_Sales_Order</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Orders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Order__c</objectType>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOAssign</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Order__c</objectType>
    </variables>
    <variables>
        <name>SOAssignment</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Order__c</objectType>
    </variables>
</Flow>
