force-app/main/default/flows/Update_Credit_Information_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_loop_variables_to_CIUpdateSet</name>
        <label>Assign loop variables to CIUpdateSet</label>
        <locationX>550</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>CIUpdateSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CILoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Credit_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owners_to_Credit_Information</name>
        <label>Assign Owners to Credit Information</label>
        <locationX>617</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>CILoop.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_loop_variables_to_CIUpdateSet</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Credit_Information_Present</name>
        <label>If Credit Information Present?</label>
        <locationX>330</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CIQuerySet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Credit_Information</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updated Credit info owner flow to filter out null sales org and distributor code value</description>
    <interviewLabel>Update Credit Information Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Credit Information Owner</label>
    <loops>
        <name>Loop_through_Credit_Information</name>
        <label>Loop through Credit Information</label>
        <locationX>460</locationX>
        <locationY>52</locationY>
        <assignNextValueToReference>CILoop</assignNextValueToReference>
        <collectionReference>CIQuerySet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Owners_to_Credit_Information</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Credit_Information</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Credit_Information_Records</name>
        <label>Query Credit Information Records</label>
        <locationX>206</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Credit_Information_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Distributor_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Distributor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Org__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Credit_Info__c</object>
        <outputReference>CIQuerySet</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Credit_Information</name>
        <label>Update Credit Information</label>
        <locationX>399</locationX>
        <locationY>216</locationY>
        <inputReference>CIUpdateSet</inputReference>
    </recordUpdates>
    <startElementReference>Query_Credit_Information_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CILoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Info__c</objectType>
    </variables>
    <variables>
        <name>CIQuerySet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Info__c</objectType>
    </variables>
    <variables>
        <name>CIUpdateSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Info__c</objectType>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
