force-app/main/default/flows/Update_Collections_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Owners_to_Collections</name>
        <label>Assign Owners to Collections</label>
        <locationX>550</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>ColLoop.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_loop_variables_to_ColUpdateSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_loop_variables_to_ColUpdateSet</name>
        <label>Copy loop variables to ColUpdateSet</label>
        <locationX>554</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>ColUpdateSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ColLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Collections_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Collections_Present</name>
        <label>If Collections Present?</label>
        <locationX>288</locationX>
        <locationY>59</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColQuerySet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Collections_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Update Collections Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Collections Owner</label>
    <loops>
        <name>Loop_through_Collections_Records</name>
        <label>Loop through Collections Records</label>
        <locationX>427</locationX>
        <locationY>55</locationY>
        <assignNextValueToReference>ColLoop</assignNextValueToReference>
        <collectionReference>ColQuerySet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Owners_to_Collections</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collections_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Collections_Records</name>
        <label>Query Collections Records</label>
        <locationX>166</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Collections_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Payments__c</object>
        <outputReference>ColQuerySet</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Collections_Records</name>
        <label>Update Collections Records</label>
        <locationX>404</locationX>
        <locationY>221</locationY>
        <inputReference>ColUpdateSet</inputReference>
    </recordUpdates>
    <startElementReference>Query_Collections_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payments__c</objectType>
    </variables>
    <variables>
        <name>ColQuerySet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payments__c</objectType>
    </variables>
    <variables>
        <name>ColUpdateSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payments__c</objectType>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
