force-app/main/default/flows/Update_Shipping_Location_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Owners_to_Shipping_Location</name>
        <label>Assign Owners to Shipping Location</label>
        <locationX>620</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>SLLoop.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_loop_variables_to_SLUpdateSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_loop_variables_to_SLUpdateSet</name>
        <label>Copy loop variables to SLUpdateSet</label>
        <locationX>621</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>SLUpdateSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SLLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Shipping_Location</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Shipping_Location_Present</name>
        <label>If Shipping Location Present?</label>
        <locationX>282</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SLQuerySet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Shipping_Location</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Update Shipping Location Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Shipping Location Owner</label>
    <loops>
        <name>Loop_through_Shipping_Location</name>
        <label>Loop through Shipping Location</label>
        <locationX>447</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>SLLoop</assignNextValueToReference>
        <collectionReference>SLQuerySet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Owners_to_Shipping_Location</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Shipping_Location_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Shipping_Location_Records</name>
        <label>Query Shipping Location Records</label>
        <locationX>170</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Shipping_Location_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Distributor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Shipping_Location__c</object>
        <outputReference>SLQuerySet</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Shipping_Location_Records</name>
        <label>Update Shipping Location Records</label>
        <locationX>417</locationX>
        <locationY>211</locationY>
        <inputReference>SLUpdateSet</inputReference>
    </recordUpdates>
    <startElementReference>Query_Shipping_Location_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SLLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipping_Location__c</objectType>
    </variables>
    <variables>
        <name>SLQuerySet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipping_Location__c</objectType>
    </variables>
    <variables>
        <name>SLUpdateSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipping_Location__c</objectType>
    </variables>
</Flow>
