force-app/main/default/flows/Update_Account_Statement_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Owners_to_Account_Statement</name>
        <label>Assign Owners to Account Statement</label>
        <locationX>563</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>ASLoop.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_loop_variables_to_ASUpdateSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_loop_variables_to_ASUpdateSet</name>
        <label>Copy loop variables to ASUpdateSet</label>
        <locationX>546</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>ASUpdateSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ASLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Account_Statement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Account_Statement_Present</name>
        <label>If Account Statement Present?</label>
        <locationX>296</locationX>
        <locationY>57</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ASQuerySet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Account_Statement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Update Account Statement Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Statement Owner</label>
    <loops>
        <name>Loop_through_Account_Statement</name>
        <label>Loop through Account Statement</label>
        <locationX>404</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>ASLoop</assignNextValueToReference>
        <collectionReference>ASQuerySet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Owners_to_Account_Statement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Statement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Account_Statement_Records</name>
        <label>Query Account Statement Records</label>
        <locationX>154</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Account_Statement_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account_Statement__c</object>
        <outputReference>ASQuerySet</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Statement</name>
        <label>Update Account Statement</label>
        <locationX>378</locationX>
        <locationY>235</locationY>
        <inputReference>ASUpdateSet</inputReference>
    </recordUpdates>
    <startElementReference>Query_Account_Statement_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ASLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Statement__c</objectType>
    </variables>
    <variables>
        <name>ASQuerySet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Statement__c</objectType>
    </variables>
    <variables>
        <name>ASUpdateSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Statement__c</objectType>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
